<div class="nav-mobile sidebar text-light">
	<ul class="nav-bottom sidebar-list">
		<li class="list">
			<a href="/operating-room/doctor">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-view-list"></i></span>
				<span class="nav-text sidebar-text">Trang chủ</span>
			</a>
		</li>
		<li class="list">
			<a href="/operating-room/doctor/service-note">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-receipt"></i></span>
				<span class="nav-text sidebar-text">Phẩu thuật</span>
			</a>
		</li>
		<li class="list active">
			<a href="/operating-room/doctor/re-examination">
				<span class="nav-mobile-icon sidebar-icon"><i class="ti-reload"></i></span>
				<span class="nav-text sidebar-text">Tái khám</span>
			</a>
		</li>
		<li class="img-container">
			{{#if user.image.name}}
			<img src="/img/uploads/users/{{user.image.name}}" alt="">
			{{else}}
			<img src="/img/user-icon.png" alt="">
			{{/if}}
			{{!-- <a class="" href="#" data-user-id="{{user._id}}">{{user.firstName}} {{user.lastName}}</a> --}}
		</li>
	</ul>
</div>

<script>
	const list = document.querySelectorAll('.list');
	function activeTab(){
		list.forEach((item) =>
		item.classList.remove('active'));
		this.classList.add('active')
	}
	list.forEach((item) =>
	item.addEventListener('click',activeTab))
</script>