<link rel="stylesheet" href="/css/root.css">
{{!-- <link rel="stylesheet" href="/css/profile.css"> --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom mb-3">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/root/dashboard" class="sidebar-item-title pl-3">
                <i class="ti-dashboard mr-3"></i>Bảng điều khiển
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/root/customer" class="sidebar-item-title pl-3">
                <i class="ti-customer mr-3"></i>Phòng nhân sự
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/root/operating-room" class="sidebar-item-title pl-3">
                <i class="ti-cut mr-3"></i>Phòng phẩu thuật
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/root/reception" class="sidebar-item-title pl-3">
                <i class="ti-clipboard mr-3"></i>Phòng lễ tân
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/root/business" class="sidebar-item-title pl-3">
                <i class="ti-headphone-alt mr-3"></i>Phòng kinh doanh
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/root/marketing" class="sidebar-item-title pl-3">
                <i class="ti-bar-chart mr-3"></i>Phòng marketing
            </a>
        </div>
        <div class="sidebar-item">
            <a href="#" class="sidebar-item-title pl-3">
                <i class="ti-server mr-3"></i>Phòng IT
            </a>
        </div>
    </div>
</div>
<div class="fixed-top">
	<nav class="navbar navbar-light bg-dark d-flex justify-content-between border-bottom">
		<a type="button" onclick="history.back()" class="btn bg-blue btn-outline-primary text-white ml-3"><i class="ti-back-left mr-2"></i>Quay lại</a>
		<div class="text-light text-uppercase">
			{{!-- {{#if root.image.name}}
			<a class="text-light" href="/root/profile">{{root.firstName}} {{root.lastName}}<img
					class="ml-2 mr-3" src="/img/uploads/customers/{{root.image.name}}" alt=""></a>
			{{else}}
			<a class="text-light" href="/root/profile">{{root.firstName}} {{root.lastName}}<img
					class="ml-2 mr-3" src="/img/customer-icon.png" alt=""></a>
			{{/if}} --}}
			{{title}}
		</div>
		<button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
			{{!-- <i class="ti-angle-double-right"></i> --}}Menu
		</button>
	</nav>
</div>
<div class="bg-transparent container-fluid mt-6 mb-3">
	<ul class="list-group container-content-page border pr-0">
		<li class="list-group-item bg-transparent border text-light">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">CusID:</label>&nbsp;
				<p class="text-right m-0 text-danger">{{customer._id}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border text-light">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Mã định danh:</label>&nbsp;
				<p class="text-right m-0 text-danger">{{customer.identification}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Họ tên khai sinh:</label>&nbsp;
				<p class="text-right m-0 text-dark-yellow">{{customer.fullName}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Tên thường gọi:</label>&nbsp;
				<p class="text-right m-0 text-light">{{customer.nickName}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Ngày sinh:</label>&nbsp;
				<p class="text-right m-0">{{customer.birth}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Giới tính:</label>&nbsp;
				<p class="text-right m-0">{{customer.gender}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Điện thoại:</label>&nbsp;
				<p class="text-right m-0">0{{customer.phone}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Quê quán:</label>&nbsp;
				<p class="text-right m-0">{{customer.homeTown}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Chiều cao:</label>&nbsp;
				<p class="text-right m-0">{{customer.height}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Cân nặng:</label>&nbsp;
				<p class="text-right m-0">{{customer.weight}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Email:</label>&nbsp;
				<p class="text-right m-0">{{customer.email}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Địa chỉ:</label>&nbsp;
				<p class="text-right m-0">{{customer.address}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Nguồn:</label>&nbsp;
				<p class="text-right m-0">{{customer.resource}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-between">
				<div class="inline pl-0">
					<label class="m-0 text-light">UID:</label>&nbsp;
					<p class="text-right m-0 text-danger mr-3">{{customer.userID._id}}</p>
				</div>
				<form action="/god/customer/{{customer._id}}/update-userID?_PATCH" method="POST">
					<div class="input-group text-right">
						<input class="form-control form-control-sm" type="text" name="userID">
						<button class="btn btn-sm btn-primary">Cập nhật</button>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Người tạo:</label>&nbsp;
				<p class="text-right m-0 text-danger">{{customer.userID.firstName}} {{customer.userID.lastName}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-between">
				<div class="inline pl-0">
					<label class="m-0 text-light text-nowrap">Schedule ID:</label>&nbsp;
					<p class="text-right m-0 text-info mr-3">{{customer.scheduleID}}</p>
				</div>
				<form action="/god/customer/{{customer._id}}/update-scheduleID?_PATCH" method="POST">
					<div class="input-group">
						<input class="form-control form-control-sm" type="text" name="scheduleID">
						<button class="btn btn-sm btn-primary">Cập nhật</button>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-between">
				<div class="inline pl-0">
					<label class="m-0 text-light text-nowrap">Service Note ID:</label>&nbsp;
					<p class="text-right m-0 text-warning mr-3">{{customer.serviceNoteID}}</p>
				</div>
				<form action="/god/customer/{{customer._id}}/update-serviceNoteID?_PATCH" method="POST">
					<div class="input-group">
						<input class="form-control form-control-sm" type="text" name="serviceNoteID">
						<button class="btn btn-sm btn-primary">Cập nhật</button>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-between">
				<div class="inline pl-0">
					<label class="m-0 text-light text-nowrap">Re-Exam ID:</label>&nbsp;
					<p class="text-right m-0 text-success mr-3">{{customer.reexamID}}</p>
				</div>
				<form action="/god/customer/{{customer._id}}/update-reexamID?_PATCH" method="POST">
					<div class="input-group">
						<input class="form-control form-control-sm" type="text" name="reexamID">
						<button class="btn btn-sm btn-primary">Cập nhật</button>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Trạng thái:</label>&nbsp;
				<p class="text-right m-0">{{customer.statusCus.statusVi}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Đã xóa:</label>&nbsp;
				<p class="text-right m-0">{{customer.deleted}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Ngày tạo:</label>&nbsp;
				<p class="text-right m-0">{{formatDate customer.createdAt}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent text-light border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Ngày cập nhật:</label>&nbsp;
				<p class="text-right m-0">{{formatDate customer.updatedAt}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<div class="d-flex justify-content-start">
				<label class="m-0 text-light">Comments:</label>&nbsp;
				<p class="text-right m-0 text-success">{{customer.comments}}</p>
			</div>
		</li>
		<li class="list-group-item bg-transparent border">
			<label class="m-0 text-light" for="description">Mô tả:</label>
			<div class="d-flex justify-content-between text-light">
					<textarea id="description" class="form-control bg-transparent text-light" d-flex justify-content-betweens="6"
						readonly>{{customer.description}}</textarea>
			</div>
		</li>
	</ul>
</div>