<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
    <div class="title">

    </div>
    <h3 class="title text-light">Quản lý phiếu tái khám</h3>

    <div class="stask">
    </div>
</nav>
{{> page/sidebar/reception/sidebar-employ-reception-re-exam}}
<div class="container-fluid mt-3">
    <div id="alert-message" class="alert alert-{{message.color}}" role="alert">
        {{message.content}}
    </div>

    <div class="container-card">
        <strong>
            <h4>
                <div class="fw-bold ml-3">
                    Phiếu tái khám
                </div>
            </h4>
        </strong>
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <div id="search-items">
        {{#each reexams}}
        <div class="row ml-2 mr-2" id="service-note-render-form">
            <div class="shadow-lg p-3 mb-5 bg-body rounded card">
                <div class="row">
                    <div class="col-md-6">
                        <h5>
                            <em>
                                <strong>
                                    <label name="schedule" class="form-label text-success">{{formatDate
                                        this.schedule}}</label>
                                </strong>
                            </em>
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-6 row">

                        <div class="col-sm-6 ">
                            <strong>
                                <label class="form-label">Khách hàng: </label>
                            </strong>
                        </div>
                        <div class="col-sm-6 text-name">
                            <em>
                                <label class="text-primary form-label text-uppercase">{{this.customerID.firstName}}
                                    {{this.customerID.lastName}}</label>
                            </em>
                        </div>
                    </div>

                    <div class="col-md-6 row">
                        <div class="col-sm-6 ">
                            <strong>
                                <label class="form-label">Liên hệ: </label>
                            </strong>
                        </div>
                        <div class="col-sm-6">
                            <em>
                                <label class="text-primary form-label text-uppercase">{{this.customerID.phone}}</label>
                            </em>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 row">
                        <div class="col-sm-6">
                            <strong>
                                <label class="form-label">Giới tính: </label>
                            </strong>

                        </div>
                        <div class="col-sm-6">
                            <em>
                                <label class="form-label">{{this.customerID.gender}}</label>
                            </em>
                        </div>
                    </div>
                    <div class="col-md-6 row">
                        <div class="col-sm-6">
                            <strong>
                                <label class="form-label">Dịch vụ đã sử dụng: </label>
                            </strong>

                        </div>
                        <div class="col-sm-6">
                            <em>
                                <label class="form-label">{{this.serviceNoteId.service}}</label>
                            </em>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#add-performer-re-exam-modal" data-re-exam-id="{{this._id}}"
                        data-re-exam-customerID="{{this.customerID._id}}"
                        data-re-exam-name="{{this.customerID.firstName}} {{this.customerID.lastName}}"
                        data-re-exam-birth="{{this.customerID.birth}}" data-re-exam-gender="{{this.customerID.gender}}"
                        data-re-exam-email="{{this.customerID.email}}" data-re-exam-phone="{{this.customerID.phone}}"
                        data-re-exam-address="{{this.customerID.address}}"
                        data-re-exam-createName="{{this.createName.firstName}} {{this.createName.lastName}}"
                        data-re-exam-service="{{this.service}}" data-re-exam-schedule="{{formatDate this.schedule}}"
                        {{#each comments}} data-re-exam-comment="{{this.comment}}" {{/each}}>Đặt bác sĩ</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Modal Add Performer reexam-->
<div class="modal fade" id="add-performer-re-exam-modal" tabindex="-1" aria-labelledby="add-performer"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="add-performer-title">Phiếu phẩu thuật</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="add-performer-re-exam-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="name">Khách hàng:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="name" id="create-service-note-name-input">
                                        --}}
                                        <label class="text-uppercase text-danger"
                                            id="add-performer-re-exam-firstLastName" name="name" readonly>
                                    </em>
                                </div>
                            </div>

                            <hr>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="birth">Ngày sinh:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="birth"
                                            id="create-service-note-birth-input"> --}}
                                        <label id="add-performer-re-exam-birth" name="birth" readonly></label>

                                    </em>
                                </div>
                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="gender">Giới tính:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="gender"
                                            id="create-service-note-gender-input"> --}}
                                        <label id="add-performer-re-exam-gender" name="gender" readonly></label>

                                    </em>
                                </div>
                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="email">Email address:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="email"
                                            id="create-service-note-email-input"> --}}
                                        <label id="add-performer-re-exam-email"
                                            class="d-inline-block text-truncate text-truncate-service" name="email"
                                            readonly></label>

                                    </em>
                                </div>
                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="phone">Số điện thoại:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="phone"
                                            id="create-service-note-phone-input"> --}}
                                        <label id="add-performer-re-exam-phone" name="phone" readonly></label>

                                    </em>
                                </div>
                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="address">Địa chỉ:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        {{!-- <input hidden type="text" name="address"
                                            id="create-service-note-address-input"> --}}
                                        <label id="add-performer-re-exam-address" name="address" readonly></label>

                                    </em>
                                </div>

                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="createName">Người tạo:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        <label id="add-performer-re-exam-createName" readonly></label>

                                    </em>
                                </div>
                            </div>

                            <div class=" mb-3 row">
                                <div class="col-sm-6">
                                    <strong>
                                        <label for="service">Dịch vụ:</label>
                                    </strong>
                                </div>
                                <div class="col-sm-6 ">
                                    <em>
                                        <label id="add-performer-re-exam-service" readonly></label>

                                    </em>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 verticalLine">
                            <div class="mb-3">
                                <label for="performer" class="form-label container-table">
                                    <h6>Chọn bác sĩ</h6>
                                </label>
                                 <label for="performer" class="form-label container-card">
                                    <h6>Chọn bác sĩ, y tá</h6>
                                </label>
                               
                                <select id="select-performer" class="chosen-select container-table" multiple tabindex="6"
                                    name="performer">
                                    {{#each user1s}}
                                    <option value="{{this._id}}">
                                        {{this.firstName}}
                                        {{this.lastName}}</option>

                                    {{/each}}
                                </select>

                                <div id="list1" class="dropdown-check-list container-card" tabindex="100">
									<span class="anchor ">Chọn bác sĩ, y tá</span>
									<ul class="items">
										{{#each user1s}}
										<li><input type="checkbox" value="{{this._id}}"
												name="performer" /> <strong class="text-success">Bác sĩ:</strong> {{this.firstName}}
										{{this.lastName}}
										</li>
										{{/each}}
										<hr>
										{{#each user2s}}
										<li><input type="checkbox" value="{{this._id}}"
												name="nursing" /><strong class="text-success">Y tá:</strong> {{this.firstName}}
										{{this.lastName}}
										</li>
										{{/each}}

									</ul>
								</div>
                            </div>
                            <div class="mb-3">
                                <label for="nursing" class="form-label container-table">
                                    <h6>Chọn Y tá</h6>
                                </label>
                                <select id="select-nursing" class="chosen-select container-table" multiple tabindex="6"
                                    name="nursing[]">
                                    {{#each user2s}}
                                    <option value="{{this._id}}">
                                        {{this.firstName}}
                                        {{this.lastName}}</option>

                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">
                                    <h6>Ngày hẹn</h6>
                                </label>
                                <input type="text" class="form-control" id="add-performer-re-exam-schedule"
                                    name="schedule">

                            </div>

                            <div class="mb-3">
                                <label for="comment" class="form-label">
                                    <h6>Ghi chú: </h6>
                                </label>
                                <textarea class="form-control" id="add-performer-re-exam-comment" rows="6"
                                    name="comment" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
                <button type="button" id="add-performer-re-exam-btn" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/reception/reception-re-exam.js"></script>