<style>
	.verticalLine {
		border-left: 1px solid rgba(104, 104, 104, 0.774);
	}
</style>
<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light">Quản lý phiếu dịch vụ</h3>
	{{> page/sidebar/reception/sidebar-employ-reception}}

	<div class="stask">
	</div>
</nav>
<div class="container-fluid mt-3">
	<div id="alert-message" class="alert alert-{{message.color}}" role="alert">
		{{message.content}}
	</div>
	{{#each serviceNotes}}
	<div class="row ml-2 mr-2" id="service-note-render-form" data-bs-toggle="modal"
		data-bs-target="#detail-service-note-modal" data-detail-first-name="{{this.customerID.firstName}}"
		data-detail-last-name="{{this.customerID.lastName}}" data-detail-status="{{this.status}}"
		data-detail-schedule="{{formatDate this.schedule}}" data-detail-service="{{this.service}}"
		data-detail-price="{{this.price}}"
		data-detail-create-name="{{this.createName.firstName}}{{this.createName.lastName}}"
		data-detail-recept="{{this.recept}}" data-detail-performer="{{this.performer}}">
		<div class="shadow-lg p-3 mb-5 bg-body rounded">
			<div class="row">
				<div class="col-md-6">
					<h5>
						<em>
							<strong>
								<label name="schedule" class="form-label text-success">{{formatDate
									this.schedule}}</label>
							</strong>
						</em>
					</h5>
				</div>
				<div class="col-md-6">
					<strong name="status" class="form-label text-danger">{{this.status}}</strong>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<strong>
						<label class="form-label">Khách hàng: </label>
					</strong>
				</div>
				<div class="col-md-6">
					<em>
						<label class="text-primary form-label text-uppercase">{{this.customerID.firstName}}
							{{this.customerID.lastName}}</label>
					</em>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<strong>
						<label class="form-label">Dịch vụ: </label>
					</strong>

				</div>
				<div class="col-md-6">
					<em>
						<label class="form-label">{{this.service}}</label>
					</em>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<strong>
						<label class="form-label">Thành giá: </label>
					</strong>

				</div>
				<div class="col-md-6">
					<em>
						<label class="form-label">{{this.price}}VND</label>
					</em>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#add-performer-modal" data-id="{{this._id}}"
					data-customerID="{{this.customerID._id}}"
					data-name="{{this.customerID.firstName}} {{this.customerID.lastName}}"
					data-birth="{{this.customerID.birth}}" data-gender="{{this.customerID.gender}}"
					data-email="{{this.customerID.email}}" data-phone="{{this.customerID.phone}}"
					data-address="{{this.customerID.address}}"
					data-createName="{{this.createName.firstName}} {{this.createName.lastName}}"
					data-service="{{this.service}}" data-schedule="{{formatDate this.schedule}}" {{#each comments}}
					data-comment="{{this.comment}}" {{/each}}>Đặt bác sĩ</button>
			</div>
		</div>
	</div>
	{{/each}}
</div>




<!-- Modal Add Performer-->


<div class="modal fade" id="add-performer-modal" tabindex="-1" aria-labelledby="add-performer" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-info text-light">
				<h5 class="modal-title" id="add-performer-title">Phiếu dịch vụ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="add-performer-form"></form>

					<div class=" mb-3 row">
						<div class="col-sm-6">
							<strong>
								<label for="name">Lễ tân:</label>
							</strong>
						</div>
						<div class="col-sm-6 text-right">
							<em>
								{{!-- <input hidden type="text" name="name" id="create-service-note-name-input">
								--}}
								<label class="text-uppercase text-danger" name="name"
									readonly> {{recept.firstName}} {{recept.lastName}}</label>
							</em>
						</div>
					</div>
						<hr>

					<div class="row">

						<div class="col-md-6">
							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="name">Họ tên:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="name" id="create-service-note-name-input">
										--}}
										<label class="text-uppercase text-danger" id="add-performer-firstLastName"
											name="name" readonly>
									</em>
								</div>
							</div>

							<hr>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="birth">Ngày sinh:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="birth"
											id="create-service-note-birth-input"> --}}
										<label id="add-performer-birth" name="birth" readonly></label>
									</em>
								</div>
							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="gender">Giới tính:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="gender"
											id="create-service-note-gender-input"> --}}
										<label id="add-performer-gender" name="gender" readonly></label>
									</em>
								</div>
							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="email">Email address:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="email"
											id="create-service-note-email-input"> --}}
										<label id="add-performer-email" name="email" readonly></label>
									</em>
								</div>
							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="phone">Số điện thoại:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="phone"
											id="create-service-note-phone-input"> --}}
										<label id="add-performer-phone" name="phone" readonly></label>
									</em>
								</div>
							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="address">Địa chỉ:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										{{!-- <input hidden type="text" name="address"
											id="create-service-note-address-input"> --}}
										<label id="add-performer-address" name="address" readonly></label>
									</em>
								</div>

							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="createName">Người tạo:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										<label id="add-performer-createName" readonly></label>
									</em>
								</div>
							</div>

							<div class=" mb-3 row">
								<div class="col-sm-6">
									<strong>
										<label for="service">Dịch vụ:</label>
									</strong>
								</div>
								<div class="col-sm-6 text-right">
									<em>
										<label id="add-performer-service" readonly></label>
									</em>
								</div>
							</div>
						</div>
						<div class="col-md-6 verticalLine">
							<div class="mb-3">
								<label for="performer" class="form-label">
									<h6>Chọn bác sĩ</h6>
								</label>
								<div hidden id="receive-performer">

								</div>
								<select id="select-performer" class="chosen-select" multiple tabindex="6"
									name="performer[]" onchange="getValueSelect(this)">
									{{#each users}}
									<option data-userID="{{this._id}}" value="{{this.firstName}} {{this.lastName}}">
										{{this.firstName}}
										{{this.lastName}}</option>

									{{/each}}
								</select>
							</div>
							<div class="mb-3">
								<label for="nursing" class="form-label">
									<h6>Chọn Y tá</h6>
								</label>
								<div hidden id="receive-nursing">

								</div>
								<select id="select-nursing" class="chosen-select" multiple tabindex="6" name="nursing[]"
									onchange="getValueSelect1(this)">
									{{#each user1s}}
									<option data-userID="{{this._id}}" value="{{this.firstName}} {{this.lastName}}">
										{{this.firstName}}
										{{this.lastName}}</option>

									{{/each}}
								</select>
							</div>
							<div class="mb-3">
								<label for="gender" class="form-label">
									<h6>Ngày hẹn</h6>
								</label>
								<input type="text" class="form-control" id="add-performer-schedule" name="schedule">
							</div>

							<div class="mb-3">
								<label for="comment" class="form-label">
									<h6>Ghi chú: </h6>
								</label>
								<textarea class="form-control" id="add-performer-comment" rows="6" name="comment"
									readonly></textarea>
							</div>
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
				<button type="button" id="add-performer-btn" class="btn btn-primary">Cập nhật</button>
			</div>
		</div>
	</div>
</div>

{{!-- detail-service-note-modal --}}
<div class="modal fade" id="detail-service-note-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title" id="exampleModalLabel">Chi tiết phiếu dịch vụ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="shadow-lg p-3 mb-5 bg-body rounded">
					<div class="row">
						<div class="col-md-6">
							<strong id="detail-service-note-status" class="form-label text-danger"></strong>
						</div>

						<div class="col-md-6">
							<h5>
								<em>
									<strong>
										<label id="detail-service-note-schedule"
											class="form-label text-success"></label>
									</strong>
								</em>
							</h5>
						</div>
					</div>

					<hr>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Khách hàng: </label>
							</strong>
						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-name"
									class="text-primary form-label text-uppercase"></label>
							</em>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Dịch vụ: </label>
							</strong>

						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-service" class="form-label"></label>
							</em>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Thành giá: </label>
							</strong>

						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-price" class="form-label"></label>
							</em>
						</div>
					</div>

					<hr>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Nhân viên tạo: </label>
							</strong>

						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-createName" class="form-label"></label>
							</em>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Lễ tân:</label>
							</strong>

						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-reception" class="form-label"></label>
							</em>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-6">
							<strong>
								<label class="form-label">Bác sĩ: </label>
							</strong>

						</div>
						<div class="col-md-6">
							<em>
								<label id="detail-service-note-doctor" class="form-label"></label>
							</em>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<script src="/js/reception/reception-service-note.js"></script>