<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">
		<a href="/marketing/employ/customers" class="text-light"><i class="ti-back-left"></i> Quay lại</a>
	</div>
	<h3 class="title text-light">Thông tin khách hàng</h3>
	<div class="stask">

	</div>
</nav>
{{> page/sidebar/marketing/employ/sidebar-marketing-employ-customer-detail}}
<div class="container-fluid m-3">
	<div class="mb-4">
		<div class=" mt-3">
			<img src="/img/uploads/customers/{{customer.image.name}}" id="add-avt" class="rounded add-avata" alt="...">

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="name">Họ tên:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label class="text-uppercase text-danger" readonly>{{customer.firstName}}
							{{customer.lastName}}</label>
					</em>
				</div>
			</div>

			<hr>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="birth">Ngày sinh:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="create-service-note-birth" name="birth" readonly>{{formatBirth
							customer.birth}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="gender">Giới tính:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="create-service-note-gender" name="gender" readonly>{{customer.gender}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="email">Email address:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="create-service-note-email" name="email" readonly>{{customer.email}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="phone">Số điện thoại:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="create-service-note-phone" name="phone" readonly>{{customer.phone}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="address">Địa chỉ:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="create-service-note-address" name="address" readonly>{{customer.address}}</label>
					</em>
				</div>

			</div>

			<div class="mb-3">
				<strong>
					<label for="description">Mô tả</label>
				</strong>
				<textarea id="detail-description" class="form-control" style="background-color: white;"
					disabled>{{customer.description}}</textarea>
			</div>
		</div>
		
	</div>

</div>
</div>