<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
        <div class="sidebar-item">
            <a href="/business/employ/schedule" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-receipt mr-3"></i>Lịch hẹn
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/manager/general-manager/customers" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer border-top">
        <div class="sidebar-item">
            <a href="/business/employ/profile" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div> --}}
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue">
        <div class="img-container">
            <a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
		<div></div>
        {{!-- <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button> --}}
    </nav>
</div>
<div class="container-fluid">
	<div class="card shadow mt-3 mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col-4">
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Mã khách hàng:</strong>
						</label>
						<label class="fs-6 text-right text-danger">
							{{customer.identification}}
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Họ tên khai sinh:</strong>
						</label>
						<label class="fs-6 text-right text-primary">
							{{customer.fullName}}
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Tên thường gọi:</strong>
						</label>
						<label class="fs-6 text-right">
							{{customer.nickName}}
						</label>
					</div>
				</div>
				<div class="col-4">
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Quê quán:</strong>
						</label>
						<label class="fs-6 text-right">
							{{customer.homeTown}}
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Chiều cao:</strong>
						</label>
						<label class="">
							<em>{{customer.height}}</em>
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Cân nặng:</strong>
						</label>
						<label class="text-right">
							<em>{{customer.weight}}</em>
						</label>
					</div>
					{{!-- <div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Bác sĩ thực hiện:</strong>
						</label>
						<label class="">
							{{#each serviceNote.performer}}
							<em>{{this.firstName}} {{this.lastName}}</em>
							{{/each}}
						</label>
					</div> --}}
				</div>
				<div class="col-4">
                    <div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Trạng thái hiện tại:</strong>
						</label>
						<label class="fs-6 text-danger text-right">
							<em>{{customer.statusCus.statusVi}}</em>
						</label>
					</div>
					{{!-- <div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Ngày phẩu thuật:</strong>
						</label>
						<label class="text-right text-success">
							{{formatDate serviceNote.surgeryDay}}
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status" class="text-nowrap text-dark">
							<strong>Tầng phẩu thuật:</strong>
						</label>
						<label class="text-right">
							{{serviceNote.floor}}
						</label>
					</div> --}}
				</div>
			</div>
			{{!-- <div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-dark">
					<strong>Dịch vụ đăng ký:</strong>
				</label>
			</div> --}}
			{{!-- {{#each serviceNote.service}}
			<div class="d-flex justify-content-between border-bottom mb-3">
				<label class="text-dark-yellow">
					<em>{{this.name}}</em>
				</label>
				<label class="text-right">
					<em>{{this.price}}</em>
				</label>
			</div>
			{{/each}}
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-dark">
					<strong>Đặt cọc:</strong>
				</label>
				<label class="text-warning text-right">
					{{serviceNote.deposit}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-dark">
					<strong>Tổng chi phí:</strong>
				</label>
				<label class="text-danger text-right">
					{{serviceNote.total}}
				</label>
			</div> --}}
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFive">
						<button class="accordion-button collapsed pl-0 pr-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
							<strong>Theo dõi trạng thái khách hàng</strong>
						</button>
					</h2>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
                            <div class="wrapper-timeline">
                                <ul class="sessions-timeline">
                                    {{#each customer.logStatus}}
                                        <li class="li-timeline">
                                            <div class="time"><strong>Thời gian thực hiện:</strong> {{formatDate this.createdAt}}</div>
                                            <p class="p-timeline mb-0"><strong>Trạng thái xử lý:</strong> {{this.statusCus.statusVi}}</p>
                                            <p class="p-timeline"><strong>Nhân viên thực hiện:</strong> <a href="/manager/general-manager/user/{{this.userID}}">{{this.userID}}</a></p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSix">
						<button class="accordion-button collapsed pl-0 pr-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
							<strong>Danh sách phiếu dịch vụ</strong>
						</button>
					</h2>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<div class="row overflow-auto">
							{{#if customer.serviceNoteID}}
							{{#each customer.serviceNoteID}}
								<div class="col-4 mb-3">
									<a href="/manager/general-manager/service-note/{{this._id}}/detail">
										<div class="card p-3">
											<div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Trạng thái:</strong></label>
												<div class="text-nowrap">{{this.status}}</div>
											</div>
											<div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Bác sĩ phẫu thuật:</strong></label>
												{{#each this.performer}}
                                                <div class="text-nowrap">{{this.firstName}} {{this.lastName}}</div>
                                                {{/each}}
											</div>
                                            <div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Phẫu thuật tại tầng:</strong></label>
                                                <div class="text-nowrap">{{this.floor}}</div>
											</div>
											<div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Ngày phẫu thuật:</strong></label>
												<div class="text-nowrap">{{formatDate this.surgeryDay}}</div>
											</div>
                                            <div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Đặt cọc:</strong></label>
												<div class="text-nowrap">{{this.deposit}}</div>
											</div>
                                            <div class="d-flex justify-content-between">
												<label class="text-nowrap" for=""><strong>Tổng chi phí:</strong></label>
												<div class="text-nowrap">{{this.total}}</div>
											</div>
										</div>
									</a>
								</div>
							{{/each}}
							{{else}}
								<div class="text-center">
									<label for="">Chưa có phiếu dịch vụ</label>
								</div>
							{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
