<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
		<div class="sidebar-item">
            <a href="/manager/general-manager" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/manager/general-manager/report" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-clipboard mr-3"></i>Báo cáo
            </a>
        </div>
		{{!-- <div class="sidebar-item">
            <a href="/manager/general-manager/statistical" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-bar-chart mr-3"></i>Thống kê
            </a>
        </div> --}}
    </div>
	<div class="offcanvas-footer border-top">
        <div class="sidebar-item">
            <a href="/business/employ/profile" class="sidebar-item-title pl-3 bg-blue">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="ps-3 pe-3">
	<nav class="p-2 float-right">
		{{!-- <form method="POST" action="/manager/general-manager/report"> --}}
			{{!-- <div class="btn-group" role="group" aria-label="Basic example">
				<select class="form-select" name="status">
					<option selected value="">Chọn trạng thái</option>
					<option value="createNew">Tạo mới</option>
					<option value="potential">Tiềm năng</option>
					<option value="schedule">Đặt lịch</option>
					<option value="createCusInfo">Tạo hồ sơ</option>
					<option value="updateCusInfo">Cập nhật thông tin cá nhân</option>
					<option value="updateServices">Cập nhật dịch vụ</option>
					<option value="uploadCounselor">Cập nhật hình ảnh và video tư vấn</option>
					<option value="uploadBefore">Cập nhật hình ảnh và video trước phẫu thuật</option>
					<option value="uploadInsurgery">Cập nhật hình ảnh và video phẫu thuật</option>
					<option value="uploadAfter">Cập nhật hình ảnh và video hậu phẫu - hồi sức</option>
					<option value="dischargeFromHospital">Xuất viện</option>
					<option value="createReexamination">Tạo phiếu tái khám</option>
					<option value="uploadReexamination">Cập nhật hình ảnh và video phiếu tái khám</option>
					<option value="reExaminationDone">Hoàn thành phiếu tái khám</option>
					<option value="storageCusInfo">Lưu hồ sơ</option>
					<option value="fail">Không thành công</option>
				</select>
			</div> --}}
			<div class="btn-group" role="group" aria-label="Basic example">
				{{!-- <input type="datetime-local" name="from">
				<input type="datetime-local" name="to"> --}}
				<select id="monthpicker" class="form-select" name="month">
					<option selected value="">Chọn tháng</option>
					<option value="1">Tháng Một</option>
					<option value="2">Tháng Hai</option>
					<option value="3">Tháng Ba</option>
					<option value="4">Tháng Tư</option>
					<option value="5">Tháng Năm</option>
					<option value="6">Tháng Sáu</option>
					<option value="7">Tháng Bảy</option>
					<option value="8">Tháng Tám</option>
					<option value="9">Tháng Chín</option>
					<option value="10">Tháng Mười</option>
					<option value="11">Tháng Mười Một</option>
					<option value="12">Tháng Mười Hai</option>
				</select>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<select id="quarterpicker" class="form-select" name="quarter">
					<option selected value="">Chọn quý</option>
					<option data-quarter="1" value="1">Quý 1</option>
					<option data-quarter="2" value="2">Quý 2</option>
					<option data-quarter="3" value="3">Quý 3</option>
					<option data-quarter="4" value="4">Quý 4</option>
				</select>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<select id="yearpicker" class="form-select" name="year">
					<option selected value="">Chọn năm</option>
				</select>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button id="filter" class="btn btn-outline-secondary"><i class="ti-filter"></i></button>
			</div>
		{{!-- </form> --}}
	</nav>
	<table id="reportTable" class="table table-striped table-hover table-sm table-bordered table-sm"
	data-show-fullscreen="true"
	data-show-columns="true"
	data-show-columns-toggle-all="true"
	data-show-export="true"
	data-show-pagination-switch="true"
	data-show-footer="true"
	data-footer-style="footerStyle"
	data-data-field="items"
	data-icons-prefix="icon"
	data-icons="icons"
	{{!-- data-show-button-text="showButtonText" --}}
	data-buttons-prefix="btn btn-outline-secondary"
	data-response-handler="responseHandler">
		<thead class="bg-blue">
			<tr class="text-light">
				<th data-field="id" data-footer-formatter="Tổng doanh thu" class="text-center" scope="col">#</th>
				<th class="text-center" scope="col">Họ tên</th>
				<th class="text-center" scope="col">Số điện thoại</th>
				<th class="text-center" scope="col">Nguồn</th>
				<th class="text-center" scope="col">Ngày tạo</th>
				<th class="text-center" scope="col">Nhân viên tạo</th>
				<th class="text-center" scope="col">Ghi chú</th>
				<th class="text-center" scope="col">Trạng thái</th>
				<th class="text-center" scope="col">Đặt cọc</th>
				<th data-field="revenue" data-footer-formatter="revenueFormatter" class="text-center">Tổng chi phí</th>
			</tr>
		</thead>
		<tbody id="table-content">
			{{#each serviceNotes}}
			<tr class="text-dark">
				<th class="text-center" scope="row">{{sum @index 1}}</th>
				<td class="text-nowrap" scope="row"><a class="link-primary" href="/manager/general-manager/customer/{{#each this.scheduleID}}{{this._id}}{{/each}}/detail">{{#each this.scheduleID}}{{this.fullName}}{{/each}}</a></td>
				<td class="text-center" scope="row">0{{#each this.scheduleID}}{{this.phone}}{{/each}}</td>
				<td class="text-center" scope="row" data-bs-toggle="tooltip" data-bs-placement="top" title="{{#each this.scheduleID}}{{this.resource}}{{/each}}">{{#each this.scheduleID}}{{cutPassword this.resource 16}}{{/each}}</td>
				<td class="text-center createdAtField" scope="row">{{formatBirth this.createdAt}}</td>
				<td class="text-center text-nowrap" scope="row">{{#each this.scheduleID}}{{this.userID.firstName}} {{this.userID.lastName}}{{/each}}</td>
				<td class="text-nowrap" scope="row" data-bs-toggle="tooltip" data-bs-placement="top" title="{{#each this.scheduleID}}{{this.description}}{{/each}}">
					{{#each this.scheduleID}}{{cutPassword this.description 16}}{{/each}}
				</td>
				<td class="text-center status-color" scope="row">{{this.status}}</td>
				<td class="text-center" scope="row">{{this.deposit}}</td>
				<td class="text-center" scope="row">{{this.total}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script src="/js/manager/manager-report.js"></script>
<script>
	function revenueFormatter(dataRevenue) {
		var field = this.field;
		let totalRevenue = dataRevenue.filter(function (row) {
			let serviceNoteTotal = row.revenue;
			if (serviceNoteTotal === 'NaN' || serviceNoteTotal === undefined || serviceNoteTotal === '') {
				return false;
			}
			return true;
		}).map(serviceNote => {
			let isNumberServiceNoteTotal = parseFloat(serviceNote.revenue.replace(/\D/g, ''), 10);
			return isNumberServiceNoteTotal;
		}).reduce(function (sum, i) {
			return sum + i
		}, 0)
		
		return field = totalRevenue.toLocaleString();
	}

	function footerStyle(column) {
		return {
			labelRevenue: {
				css: {'font-weight': 'normal'}
			},
			revenue: {
				css: {color: 'red'}
			}
		}[column.field]
	}

	function showButtonText() {
		return {
			fullscreen: {
				attributes: {
					title: 'Search all users which has logged in the last week'
				}
			}
		}
	}
	
</script>