<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="sticky-top">
	<nav class="navbar navbar-light bg-blue border-bottom">
		<a type="button" href="/operating-room/nursing">
			<i class="fa-solid fa-circle-arrow-left text-light fs-3"></i>
		</a>
        <div class="text-light text-uppercase fw-bold">
            {{title}}
        </div>
		<div class="img-container">
		</div>
    </nav>
	<nav class="nav nav-pills flex-xl-row flex-lg-row flex-md-row flex-sm-column justify-content-center bg-blue p-2">
		<button class="flex-sm-fill text-sm-center nav-link active text-light" data-bs-toggle="tab" data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">Khách hàng</button>
		<button class="flex-sm-fill text-sm-center nav-link text-light" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="true">Dịch vụ</button>
		<button class="flex-sm-fill text-sm-center nav-link text-light" data-bs-toggle="tab" data-bs-target="#operating-room" type="button" role="tab" aria-controls="operating-room" aria-selected="true">Phẩu thuật</button>
	</nav>
</div>
<div class="container-fluid">
	{{#if messages_createReExamination_success}}
	<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
		{{messages_createReExamination_success}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row">
		{{#if serviceNotes}}
			<div class="card bg-glass p-0">
				<div class="card-body p-3">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="home-tab">
							<form method="POST" id="submit-customer-form">
								<div class="row">
									<div class="col-md-6 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Họ tên</span>
										<input class="form-control" type="text" value="{{serviceNotes.customerID.firstName}} {{serviceNotes.customerID.lastName}}" name="fullName">
									</div>
									<div class="col-md-6 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Số điện thoại</span>
										<input class="form-control" type="text" value="{{serviceNotes.customerID.phone}}">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Ngày sinh</span>
										<input class="form-control" type="date" value="{{serviceNotes.customerID.birth}}" name="birth">
									</div>
									<div class="col-md-6 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Giới tính</span>
										<select class="form-select" id="select-gender">
											<option selected>Chọn giới tính...</option>
											<option value="Nam">Nam</option>
											<option value="Nữ">Nữ</option>
										</select>
									</div>
								</div>
								{{!-- <div class="row">
									<div class="col-md-6 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Ngày phẩu thuật</span>
										<input class="form-control" type="date" value="{{serviceNotes.customerID.birth}}" name="birth">
									</div>
									<div class="col-md-6 mb-4 d-flex justify-content-between justify-content-sm-start">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="pay" id="inlineRadio1" value="no">
											<label class="form-check-label bg-danger text-light p-1 rounded" for="inlineRadio1">Chưa thanh toán</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="pay" id="inlineRadio2" value="yes">
											<label class="form-check-label bg-success text-light p-1 rounded" for="inlineRadio2">Đã thanh toán</label>
										</div>
									</div>
								</div> --}}
								<div class="row">
									<div class="col-md-3 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Chọn bác sĩ</span>
										<select multiple="multiple" id="select-doctor" name="performer[]">
											{{#each doctors}}
											<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-md-3 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Chọn phụ mổ</span>
										<select multiple="multiple" id="select-nursing" name="nursing[]">
											{{#each nursings}}
											<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-md-3 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Chọn dẫn khách</span>
										<select multiple="multiple" id="select-recept" name="recept[]">
											{{#each nursings}}
											<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-md-3 input-group mb-4">
										<span class="input-group-text text-light bg-blue-ray">Ngày phẩu thuật</span>
										<input class="form-control" type="date" value="{{serviceNotes.customerID.birth}}" name="birth">
									</div>
								</div>
							</form>
							<button class="btn btn-primary btn-mobile">Cập nhật</button>
						</div>
						<div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="profile-tab">
							<form method="POST" id="submit-service-form">
								<div class="input-group mb-4">
									<span class="input-group-text text-light bg-blue-ray">Thêm dịch vụ</span>
									<select class="form-select" id="select-service">
										{{#each typeService}}
										<option class="fw-bold text-uppercase" disabled>{{this.name}}</option>
											{{#each this.services}}
												<option value="{{this.service}}">{{this.service}}</option>
											{{/each}}
											<br>
										{{/each}}
									</select>
									<button id="add-services" class="btn bg-blue-ray text-light border-light btn-sm"><i class="ti-plus"></i></button>
								</div>
								<div class="list-group mb-4 height-300 p-0">
									<div id="service-container" class="list-group-item bg-glass-0 container-content-page p-2 ml-0">
										{{!-- <div class="input-group mb-4">
											<span class="input-group-text text-light bg-dark-yellow text-wrap">{{serviceNotes.service}}</span>
											<input id="price-before" class="form-control text-right input-price" value="{{serviceNotes.price}}">
											<button class="btn btn-danger btn-sm close-btn"><i class="ti-close"></i></button>
										</div> --}}
									</div>
								</div>
								<div class="input-group mb-4">
									<span class="input-group-text text-light bg-blue-ray">Tổng chi phí</span>
									<input id="total" class="form-control text-right text-danger fw-bold" type="text" readonly>
								</div>
							</form>
							<button class="btn btn-primary btn-mobile">Cập nhật</button>
						</div>
						<div class="tab-pane fade" id="operating-room" role="tabpanel" aria-labelledby="contact-tab">
							<form method="POST" id="submit-operating-room-form">
								<div class="accordion accordion-flush mb-4" id="accordionFlush-{{serviceNotes._id}}">
									<div class="accordion-item bg-glass">
										<h2 class="accordion-header" id="flush-counselor-{{serviceNotes._id}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-counselor-{{serviceNotes._id}}" aria-expanded="false" aria-controls="flush-collapse-counselor-{{serviceNotes._id}}">
												Thông tin tư vấn
											</button>
										</h2>
										<div id="flush-collapse-counselor-{{serviceNotes._id}}" class="accordion-collapse collapse" aria-labelledby="flush-counselor-{{serviceNotes._id}}" data-bs-parent="#accordionFlush-{{serviceNotes._id}}">
											<div class="accordion-body">
												<div class="row">
													<div class="col-md-6 mb-4">
														{{#if serviceNotes.counselorImg}}
														{{#each serviceNotes.counselorImg}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure imgbox">
																<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có hình ảnh
														</p>
														{{/if}}
														<form method="POST" id="upload-img-counselor-form-{{serviceNotes._id}}" action="/operating-room/nursing/service-note/counselor/{{serviceNotes._id}}" enctype="multipart/form-data">
															<input hidden type="text" value="{{serviceNotes.customerID._id}}" name="customerID">
															<div class="preview-images-counselor row ml-0 text-center"></div>
															<label for="input-multi-images-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
																<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn</h5>
															</label>
															<input id="input-multi-images-counselor" class="form-control" type="file" name="counselor" hidden multiple>
														</form>
													</div>
													<div class="col-md-6">
														{{#if serviceNotes.counselorVideo}}
														{{#each serviceNotes.counselorVideo}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure img-container">
																<video src="{{this.url}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có video
														</p>
														{{/if}}
														<div class="preview-videos-counselor row ml-0 text-center"></div>
														<label for="input-multi-videos-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
															<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn</h5>
														</label>
														<input id="input-multi-videos-counselor" class="form-control" type="file" name="counselor" hidden multiple>
													</div>
													<div class="text-light">
														<label for="steps-to-take-area"><strong>Thông tin tư vấn:</strong></label>
													</div>
													<div class="mb-4">
														<textarea class="form-control mr-3 pl-3 bg-white" name="notes" id="notes-area" cols="30" rows="8"></textarea>
													</div>
													<div>
														<button class="btn btn-primary btn-mobile">
															Cập nhật
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item bg-glass">
										<h2 class="accordion-header" id="flush-before-{{serviceNotes._id}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-before-{{serviceNotes._id}}" aria-expanded="false" aria-controls="flush-collapse-before-{{serviceNotes._id}}">
												Thông tin trước phẩu
											</button>
										</h2>
										<div id="flush-collapse-before-{{serviceNotes._id}}" class="accordion-collapse collapse" aria-labelledby="flush-before-{{serviceNotes._id}}" data-bs-parent="#accordionFlush-{{serviceNotes._id}}">
											<div class="accordion-body">
												<div class="row">
													<div class="col-md-6 mb-4">
														{{#if serviceNotes.counselorImg}}
														{{#each serviceNotes.counselorImg}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure imgbox">
																<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có hình ảnh
														</p>
														{{/if}}
														<form method="POST" id="upload-img-counselor-form-{{serviceNotes._id}}" action="/operating-room/nursing/service-note/counselor/{{serviceNotes._id}}" enctype="multipart/form-data">
															<input hidden type="text" value="{{serviceNotes.customerID._id}}" name="customerID">
															<div class="preview-images-counselor row ml-0 text-center"></div>
															<label for="input-multi-images-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
																<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn</h5>
															</label>
															<input id="input-multi-images-counselor" class="form-control" type="file" name="counselor" hidden multiple>
														</form>
													</div>
													<div class="col-md-6">
														{{#if serviceNotes.counselorVideo}}
														{{#each serviceNotes.counselorVideo}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure img-container">
																<video src="{{this.url}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có video
														</p>
														{{/if}}
														<div class="preview-videos-counselor row ml-0 text-center"></div>
														<label for="input-multi-videos-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
															<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn</h5>
														</label>
														<input id="input-multi-videos-counselor" class="form-control" type="file" name="counselor" hidden multiple>
													</div>
													<div class="text-light">
														<label for="steps-to-take-area"><strong>Thông tin trước phẩu thuật:</strong></label>
													</div>
													<div class="mb-4">
														<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" name="notes" id="notes-area" cols="30" rows="8"></textarea>
													</div>
													<div>
														<button class="btn btn-primary btn-mobile">
															Cập nhật
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item bg-glass">
										<h2 class="accordion-header" id="flush-in-{{serviceNotes._id}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-in-{{serviceNotes._id}}" aria-expanded="false" aria-controls="flush-collapse-in-{{serviceNotes._id}}">
												Thông tin phẩu thuật
											</button>
										</h2>
										<div id="flush-collapse-in-{{serviceNotes._id}}" class="accordion-collapse collapse" aria-labelledby="flush-in-{{serviceNotes._id}}" data-bs-parent="#accordionFlush-{{serviceNotes._id}}">
											<div class="accordion-body">
												<div class="row">
													<div class="col-md-6 mb-4">
														{{#if serviceNotes.counselorImg}}
														{{#each serviceNotes.counselorImg}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure imgbox">
																<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có hình ảnh
														</p>
														{{/if}}
														<form method="POST" id="upload-img-counselor-form-{{serviceNotes._id}}" action="/operating-room/nursing/service-note/counselor/{{serviceNotes._id}}" enctype="multipart/form-data">
															<input hidden type="text" value="{{serviceNotes.customerID._id}}" name="customerID">
															<div class="preview-images-counselor row ml-0 text-center"></div>
															<label for="input-multi-images-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
																<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn</h5>
															</label>
															<input id="input-multi-images-counselor" class="form-control" type="file" name="counselor" hidden multiple>
														</form>
													</div>
													<div class="col-md-6">
														{{#if serviceNotes.counselorVideo}}
														{{#each serviceNotes.counselorVideo}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure img-container">
																<video src="{{this.url}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có video
														</p>
														{{/if}}
														<div class="preview-videos-counselor row ml-0 text-center"></div>
														<label for="input-multi-videos-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
															<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn</h5>
														</label>
														<input id="input-multi-videos-counselor" class="form-control" type="file" name="counselor" hidden multiple>
													</div>
													<div class="text-light">
														<label for="steps-to-take-area"><strong>Các bước thục hiện:</strong></label>
													</div>
													<div class="mb-4">
														<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" name="notes" id="notes-area" cols="30" rows="8"></textarea>
													</div>
													<div>
														<button class="btn btn-primary btn-mobile">
															Cập nhật
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item bg-glass">
										<h2 class="accordion-header" id="flush-after-{{serviceNotes._id}}">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-after-{{serviceNotes._id}}" aria-expanded="false" aria-controls="flush-collapse-after-{{serviceNotes._id}}">
												Thông tin hậu phẩu - hồi sức
											</button>
										</h2>
										<div id="flush-collapse-after-{{serviceNotes._id}}" class="accordion-collapse collapse" aria-labelledby="flush-after-{{serviceNotes._id}}" data-bs-parent="#accordionFlush-{{serviceNotes._id}}">
											<div class="accordion-body">
												<div class="row">
													<div class="col-md-6 mb-4">
														{{#if serviceNotes.counselorImg}}
														{{#each serviceNotes.counselorImg}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure imgbox">
																<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có hình ảnh
														</p>
														{{/if}}
														<form method="POST" id="upload-img-counselor-form-{{serviceNotes._id}}" action="/operating-room/nursing/service-note/counselor/{{serviceNotes._id}}" enctype="multipart/form-data">
															<input hidden type="text" value="{{serviceNotes.customerID._id}}" name="customerID">
															<div class="preview-images-counselor row ml-0 text-center"></div>
															<label for="input-multi-images-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
																<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn</h5>
															</label>
															<input id="input-multi-images-counselor" class="form-control" type="file" name="counselor" hidden multiple>
														</form>
													</div>
													<div class="col-md-6">
														{{#if serviceNotes.counselorVideo}}
														{{#each serviceNotes.counselorVideo}}
														<div class="col-xl-2 col-lg-3 col-md-4">
															<figure class="figure img-container">
																<video src="{{this.url}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
															</figure>
														</div>
														{{/each}}
														{{else}}
														<p class="text-center border text-light">
															Chưa có video
														</p>
														{{/if}}
														<div class="preview-videos-counselor row ml-0 text-center"></div>
														<label for="input-multi-videos-counselor" class="label-avt d-flex justify-content-start" data-input-img-id="{{serviceNotes._id}}">
															<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile"><i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn</h5>
														</label>
														<input id="input-multi-videos-counselor" class="form-control" type="file" name="counselor" hidden multiple>
													</div>
													<div class="text-light">
														<label for="steps-to-take-area"><strong>Nội dung tư vấn:</strong></label>
													</div>
													<div class="mb-4">
														<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" name="notes" id="notes-area" cols="30" rows="8"></textarea>
													</div>
													<div>
														<button class="btn btn-primary btn-mobile">
															Cập nhật
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<button type="button" data-bs-toggle="modal" data-bs-target="#submit-doctor-modal"
								class="btn btn-success btn-mobile" data-id="{{serviceNotes._id}}">Hoàn thành</button>
							{{!-- <div class="card-footer bg-transparent d-flex justify-content-end">
							</div> --}}
						</div>
					</div>
				</div>
			</div>
		{{else}}
		<div class="text-center">
			Chưa có phiếu phẩu thuật
		</div>
		{{/if}}
	</div>
</div>

<script src="/js/operating/nursing.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
	NiceSelect.bind(document.getElementById("select-doctor"), {searchable: true});
	NiceSelect.bind(document.getElementById("select-nursing"), {searchable: true});
	NiceSelect.bind(document.getElementById("select-recept"), {searchable: true});
})
</script>