<link rel="stylesheet" href="/css/root.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
			<a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
		<div>
			<a href="/operating-room/nursing/storage-cus-info-done" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-boxes-packing fs-5 p-2"></i>
			</a>
			<a href="/operating-room/nursing/profile" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-user-nurse fs-5 p-2"></i>
			</a>
		</div>
    </nav>
</div>
<div class="p-3 m-16">
	<div class="row">
		{{#each reExam}}
		<div class="col-xl-4 col-lg-6 col-md-12 col-sm-6 mb-3">
			<div class="card bg-glass">
				<div class="card-header d-flex justify-content-between">
					<button id="delete-reexam" class="btn btn-danger text-light btn-sm" data-bs-toggle="modal" data-bs-target="#delete-re-exam-modal"
					data-id="{{this._id}}" data-cusId="{{this.customerID._id}}" data-fullName="{{this.customerID.fullName}}">
						<i class="fa-sharp fa-solid fa-xmark"></i>
					</button>
					<a class="text-light" href="/operating-room/nursing/re-examination/{{this._id}}/detail">
						<i class="fa-solid fa-ellipsis"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between border-bottom mb-3">
						<label for="status" class="text-nowrap text-light">
							<strong>Mã định danh:</strong>
						</label>
						<label class="fs-6 text-light text-right text-name">
							{{this.customerID.identification}}
						</label>
					</div>
					<div class="d-flex justify-content-between border-bottom mb-3">
						<label for="status" class="text-nowrap text-light">
							<strong>Họ tên khai sinh:</strong>
						</label>
						<label class="fs-6 text-light text-right text-name">
							{{this.customerID.fullName}}
						</label>
					</div>
					<div class="d-flex justify-content-between border-bottom mb-3">
						<label for="status" class="text-nowrap text-light">
							<strong>Tên thường gọi:</strong>
						</label>
						<label class="fs-6 text-light text-right text-name">
							{{this.customerID.nickName}}
						</label>
					</div>
					<div class="d-flex justify-content-between border-bottom mb-3">
						<label for="status" class="text-nowrap text-light">
							<strong>Ngày hẹn:</strong>
						</label>
						<label for=""class="fs-6 text-success text-right">
							<em>{{formatDate this.schedule}}</em>
						</label>
					</div>
					<div class="d-flex justify-content-between border-bottom mb-3">
						<label for="status" class="text-nowrap text-light">
							<strong>Trạng thái:</strong>
						</label>
						<label class="fs-6 text-danger text-right">
							<em>{{this.status}}</em>
						</label>
					</div>
				</div>
				<div class="card-footer">
					<div class="row d-flex justify-content-between">
						<div class="col-lg-4 col-md-12 col-sm-12">
							<button type="button" class="btn btn-info btn-mobile rounded-pill mb-3 border btn-sm" data-bs-toggle="modal" data-bs-target="#edit-reexam-schedule-modal"
							data-edit-reexam-id="{{this._id}}" data-edit-reexam-fullName="{{this.customerID.fullName}}" data-edit-reexam-nickName="{{this.customerID.nickName}}" data-edit-reexam-gender="{{this.customerID.gender}}"
							data-edit-reexam-phone="{{this.customerID.phone}}">Sửa lịch hẹn tái khám</button>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12">
							<a class="btn btn-primary btn-mobile mb-3 rounded-pill border btn-sm" href='/operating-room/nursing/re-examination/{{this._id}}'>Cập nhật</a>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12 text-right">
							<button type="button" data-bs-toggle="modal" data-bs-target="#submit-re-exam-modal-done"
								class="btn btn-success btn-mobile rounded-pill border mb-3 btn-sm" data-id="{{this._id}}" data-cusId="{{this.customerID._id}}" data-fullName="{{this.customerID.fullName}}">Hoàn thành</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<div class="text-center">Chưa có lịch tái khám.</div>
		{{/each}}
	</div>
</div>

<!-- Edit schedule modal -->
<div class="modal fade" id="edit-reexam-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="staticBackdropLabel">Sửa lịch hẹn tái khám</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="edit-reexam-schedule-form" method="POST">
					{{!-- <input id="edit-cusId" type="text" name="cusID" hidden> --}}
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Họ và tên:</strong></label>
						<div id="edit-reexam-schedule-fullname" class="m-0 text-wrap"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Tên thường gọi:</strong></label>
						<div id="edit-reexam-schedule-nickname" class="m-0 text-wrap"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label"><strong>Giới tính:</strong></label>
						<div id="edit-reexam-schedule-gender" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div id="edit-reexam-schedule-phone" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Ngày hẹn:</strong></label>
						<div>
							<input type="datetime-local" id="edit-reexam-schedule-input" class="form-control rounded-pill" name="schedule">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="edit-reexam-schedule-btn" type="button" class="btn btn-info rounded-pill">Cập nhật lịch</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Hủy bỏ</button>
			</div>
        </div>
    </div>
</div>

{{!-- Complete re-exam --}}
<div class="modal fade" id="submit-re-exam-modal-done" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Hoàn thành</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Đã hoàn thành tái khám cho khách hàng <strong id="submit-re-exam-fullname"></strong>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="submit-re-exam-btn-done" type="button" class="btn btn-success rounded-pill">Đã hoàn thành</button>
				<button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Chưa hoàn thành</button>
			</div>
		</div>
	</div>
</div>

<form method="POST" id="submit-re-exam-form-done"></form>

{{!-- Delete re-exam --}}
<div class="modal fade" id="delete-re-exam-modal" tabindex="-1" aria-labelledby="delete-re-exam-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="delete-re-exam-label">Xóa lịch tái khám</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="delete-re-exam-form">
					<input type="text" name="cusID" id="delete-re-exam-input" hidden>
				</form>
				Bạn chắc chắn muốn xóa lịch tái khám của khách hàng <strong id="delete-re-exam-fullname"></strong>?
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="delete-re-exam-btn" type="button" class="btn btn-success rounded-pill">Chắc chắn</button>
				<button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Không, Hủy bỏ</button>
			</div>
		</div>
	</div>
</div>


<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-blue border-top p-3">
		<a href="/operating-room/nursing" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-check fs-5"></i>
			<small>Lịch tư vấn</small>
		</a>
		<a href="/operating-room/nursing/re-examination" class="d-flex flex-column text-center link-light">
			<i class="fa-sharp fa-solid fa-calendar-plus fs-5"></i>
			<small>Lịch tái khám</small>
		</a>
		<a href="/operating-room/nursing/customers" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-user fs-5"></i>
			<small>Khách hàng</small>
		</a>
		<a href="/operating-room/nursing/service-note" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-receipt fs-5"></i>
			<small>Hồ sơ</small>
		</a>
		<a href="/operating-room/nursing/discharge-from-hospital" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-arrow-right-from-bracket fs-5"></i>
			<small>Xuất viện</small>
		</a>
    </nav>
</div>
<script src="/js/operating/nursing-re-exam.js"></script>
<script>
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
</script>