<link rel="stylesheet" href="/css/root.css">
{{!-- <link rel="stylesheet" href="/css/assistant.css"> --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white text-center" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-calendar-check mr-3"></i>Lịch hẹn tư vấn
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-calendar-plus mr-3"></i>Lịch hẹn tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-users mr-2"></i>Danh sách khách hàng
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-receipt mr-3"></i>Danh sách hồ sơ khách hàng
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/discharge-from-hospital" class="sidebar-item-title pl-3">
				<i class="fa-sharp fa-solid fa-arrow-right-from-bracket mr-2"></i>Danh sách khách hàng xuất viện
            </a>
        </div>
    </div>
	<div class="offcanvas-footer border-top">
		<div class="sidebar-item border-bottom">
            <a href="/operating-room/nursing/storage-cus-info-done" class="sidebar-item-title pl-3">
				<i class="fa-sharp fa-solid fa-boxes-packing mr-3"></i>Kho lưu trữ hồ sơ
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-address-book mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light border-bottom bg-blue">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
	{{!-- <div class="bg-blue p-2">
		<input type="text" id="search-service-note" class="form-control rounded-pill" placeholder="Tìm kiếm...">
	</div> --}}
</div>
<div class="p-3">
	<div class="row">
		{{#each serviceNote}}
			<div class="col-xl-4 col-lg-6 col-md-6 mb-3">
				<div class="card bg-glass-0">
					<div class="card-header text-right">
						<a class="text-light" href="/operating-room/nursing/service-note/{{this._id}}/detail">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Mã định danh:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-name">
								{{this.scheduleID.customerID.identification}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Họ tên khai sinh:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-name">
								{{this.scheduleID.customerID.fullName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Tên thường gọi:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-name">
								{{this.scheduleID.customerID.nickName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Ngày hẹn:</strong>&nbsp;
							</label>
							<label for=""class="fs-6 text-success text-right">
								<em>{{formatDate this.scheduleID.schedule}}</em>
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Trạng thái:</strong>&nbsp;
							</label>
							<label class="fs-6 text-danger text-right">
								<em>{{this.status}}</em>
							</label>
						</div>
					</div>
					<div class="card-footer">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-6 col-md-12 col-sm-12">
								<a class="btn btn-primary btn-mobile mb-2 rounded-pill border" href='/operating-room/nursing/customer-information/{{this._id}}'>Cập nhật hồ sơ</a>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 text-right">
								<button type="button" data-bs-toggle="modal" data-bs-target="#submit-discharge-from-hospital-modal"
									class="btn btn-success btn-mobile mb-2 rounded-pill border" data-id="{{this._id}}" data-fullName="{{this.scheduleID.customerID.fullName}}">Xuất viện</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="submit-discharge-from-hospital-modal" tabindex="-1" aria-labelledby="submit-discharge-from-hospital-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="exampleModalLabel">Thông báo</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="submit-service-note-discharge-from-hospital-form">
					Bạn chắc chắn muốn lưu khách hàng <strong class="text-danger" id="fullName-modal"></strong> vào kho hồ sơ xuất viện
				</form>
			</div>
			<div class="modal-footer">
				<button id="submit-service-note-discharge-from-hospital-btn" type="button" class="btn btn-primary rounded-pill">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Không</button>
			</div>
		</div>
	</div>
</div>
<script src="/js/operating/nursing-service-note.js"></script>
