<link rel="stylesheet" href="/css/root.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
			<a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
		<div>
			<a href="/operating-room/nursing/storage-cus-info-done" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-boxes-packing fs-5 p-2"></i>
			</a>
			<a href="/operating-room/nursing/profile" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-user-nurse fs-5 p-2"></i>
			</a>
		</div>
    </nav>
</div>
<div class="container-fluid m-18">
	{{#if customer.image.url}}
	<div class="mt-2 text-center mb-3">
		{{!-- <img src="/img/uploads/customers/{{customer.image.name}}" id="add-avt" class="rounded add-avata" alt="..."> --}}
		<img src="{{customer.image.url}}" id="add-avt" class="rounded add-avata" alt="...">
	</div>
	{{else}}
	<div class="col-md-6 mt-2 text-center mb-3">
		<img src="/img/user-ray.png" id="add-avt" class="rounded add-avata" alt="...">
	</div>
	{{/if}}
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light text-nowrap">
			<strong>Họ tên:</strong>
		</label>
		<label class="text-uppercase text-dark-yellow text-wrap text-right">{{customer.fullName}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Ngày sinh:</strong>
		</label>
		<label class="text-light" id="create-service-note-birth" name="birth">{{formatBirth customer.birth}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Giới tính:</strong>
		</label>
		<label class="text-light" id="create-service-note-gender" name="gender">{{customer.gender}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Số điện thoại:</strong>
		</label>
		<label class="text-light">{{customer.phone}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Quê quán:</strong>
		</label>
		<label class="text-light">{{customer.homeTown}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Chiều cao:</strong>
		</label>
		<label class="text-light">{{customer.height}}</label>
	</div>
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Cân nặng:</strong>
		</label>
		<label class="text-light">{{customer.weight}}</label>
	</div>
	<label for="status" class="text-light">
		<strong>Dịch vụ:</strong>
	</label>
	{{#if customer.serviceNoteID.service}}
	<div class="border-bottom mb-3">
		{{#each customer.serviceNoteID}}
		<label class="text-dark-yellow m-0">{{this.service}}</label>
		{{/each}}
	</div>
	{{else}}
	<div class="border-bottom mb-3 text-light text-right">
		Chưa sử dụng dịch vụ nào
	</div>
	{{/if}}
	<div class="d-flex justify-content-between border-bottom mb-3">
		<label for="status" class="text-light">
			<strong>Nguồn khách:</strong>
		</label>
		<label class="text-light">{{customer.resource}}</label>
	</div>
	<div class="d-flex justify-content-between">
		<label for="status" class="text-light">
			<strong>Mô tả:</strong>
		</label>
	</div>
	<textarea id="detail-description" class="form-control bg-transparent text-light mb-3" rows="6" disabled>{{customer.description}}</textarea>
</div>
<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-blue border-top p-3">
		<a href="/operating-room/nursing" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-check fs-5"></i>
			<small>Lịch tư vấn</small>
		</a>
		<a href="/operating-room/nursing/re-examination" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-plus fs-5"></i>
			<small>Lịch tái khám</small>
		</a>
		<a href="/operating-room/nursing/customers" class="d-flex flex-column text-center link-light">
			<i class="fa-sharp fa-solid fa-user fs-5"></i>
			<small>Khách hàng</small>
		</a>
		<a href="/operating-room/nursing/service-note" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-receipt fs-5"></i>
			<small>Hồ sơ</small>
		</a>
		<a href="/operating-room/nursing/discharge-from-hospital" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-arrow-right-from-bracket fs-5"></i>
			<small>Xuất viện</small>
		</a>
    </nav>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
})
</script>