<link rel="stylesheet" href="/css/root.css">
{{!-- <link rel="stylesheet" href="/css/assistant.css"> --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Lịch hẹn phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-blue border-top">
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light border-bottom bg-blue">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
	<div class="bg-blue p-2">
		<input type="text" id="search-service-note" class="form-control" placeholder="Tìm kiếm...">
	</div>
</div>
<div class="p-3">
	<div class="row">
		{{#each serviceNote}}
			<div class="col-xl-3 col-lg-3 col-md-4 mb-3">
				<div class="card bg-glass-0">
					<div class="card-header text-right">
						<a class="text-light" href="/operating-room/nursing/service-note/{{this._id}}/detail">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Họ tên khai sinh:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-name">
								{{this.scheduleID.customerID.fullName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Tên thường gọi:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-name">
								{{this.scheduleID.customerID.nickName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Ngày hẹn:</strong>&nbsp;
							</label>
							<label for=""class="fs-6 text-success text-right">
								<em>{{formatDate this.scheduleID.schedule}}</em>
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Trạng thái:</strong>&nbsp;
							</label>
							<label class="fs-6 text-danger text-right">
								<em>{{this.status}}</em>
							</label>
						</div>
					</div>
					<div class="card-footer">
						<a class="btn btn-primary btn-mobile" href='/operating-room/nursing/customer-information/{{this._id}}'>Cập nhật hồ sơ</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<script src="/js/operating/nursing-service-note.js"></script>
