<link rel="stylesheet" href="/css/root.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
			<a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
		<div>
			<input id="search-service-note" class="rounded-pill form-control form-control-sm" placeholder="Tìm kiếm..." type="text">
		</div>
		<div>
			<a href="/operating-room/nursing/storage-cus-info-done" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-boxes-packing fs-5 p-2"></i>
			</a>
			<a href="/operating-room/nursing/profile" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-user-nurse fs-5 p-2"></i>
			</a>
		</div>
    </nav>
</div>
<div class="p-3 m-16">
	<div class="row">
		{{#each serviceNote}}
			<div class="col-xl-4 col-lg-6 col-md-6 mb-3">
				<div class="card bg-glass-0">
					<div class="card-header text-right">
						<a class="text-light" href="/operating-room/nursing/service-note/{{this._id}}/detail">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Mã định danh:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-identify">
								{{this.scheduleID.customerID.identification}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Họ tên khai sinh:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-fullName">
								{{this.scheduleID.customerID.fullName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Tên thường gọi:</strong>&nbsp;
							</label>
							<label class="fs-6 text-light text-right text-nickName">
								{{this.scheduleID.customerID.nickName}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Ngày phẩu thuật:</strong>&nbsp;
							</label>
							<label for=""class="fs-6 text-success text-right">
								<em>{{formatDate this.surgeryDay}}</em>
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-light">
								<strong>Trạng thái:</strong>&nbsp;
							</label>
							<label class="fs-6 text-danger text-right">
								<em>{{this.status}}</em>
							</label>
						</div>
					</div>
					<div class="card-footer">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-6 col-md-12 col-sm-12">
								<a class="btn btn-primary btn-mobile mb-2 rounded-pill border" href='/operating-room/nursing/customer-information/{{this._id}}'>Cập nhật hồ sơ</a>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 text-right">
								<button type="button" data-bs-toggle="modal" data-bs-target="#submit-discharge-from-hospital-modal" data-surgeryDay="{{this.surgeryDay}}"
								class="btn btn-success btn-mobile mb-2 rounded-pill border" data-id="{{this._id}}" data-cusID="{{this.scheduleID.customerID._id}}" data-fullName="{{this.scheduleID.customerID.fullName}}">Xuất viện</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="submit-discharge-from-hospital-modal" tabindex="-1" aria-labelledby="submit-discharge-from-hospital-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="exampleModalLabel">Thông báo</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="submit-service-note-discharge-from-hospital-form">
					<input id="input-cusID" type="text" name="cusID" hidden>
					<input id="input-surgeryDay" type="text" name="surgeryDay" hidden>
					Bạn chắc chắn muốn lưu khách hàng <strong class="text-danger" id="fullName-modal"></strong> vào kho hồ sơ xuất viện
				</form>
			</div>
			<div class="modal-footer">
				<button id="submit-service-note-discharge-from-hospital-btn" type="button" class="btn btn-primary rounded-pill">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Không</button>
			</div>
		</div>
	</div>
</div>

<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-blue border-top p-3">
		<a href="/operating-room/nursing" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-check fs-5"></i>
			<small>Lịch tư vấn</small>
		</a>
		<a href="/operating-room/nursing/re-examination" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-plus fs-5"></i>
			<small>Lịch tái khám</small>
		</a>
		<a href="/operating-room/nursing/customers" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-user fs-5"></i>
			<small>Khách hàng</small>
		</a>
		<a href="/operating-room/nursing/service-note" class="d-flex flex-column text-center link-light">
			<i class="fa-sharp fa-solid fa-receipt fs-5"></i>
			<small>Hồ sơ</small>
		</a>
		<a href="/operating-room/nursing/discharge-from-hospital" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-arrow-right-from-bracket fs-5"></i>
			<small>Xuất viện</small>
		</a>
    </nav>
</div>
<script src="/js/operating/nursing-service-note.js"></script>
