<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">
	</div>
	<h3 class="title text-light sticky-top">Dịch vụ</h3>
	<div class="stask">
	</div>
</nav>
{{> page/sidebar/operating-room/sidebar-nursing-service}}
<div class="container-fluid">
	<div class="p-3 mb-5 bg-body rounded ml-3">
		{{#each serviceNote}}
		<div class="shadow mb-3">
			<div class="row">
				<h5 class="text-uppercase text-center mb-4 mt-3">
					<strong>Phiếu phẩu thuật</strong>
				</h5>
			</div>

			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-profile-customer-tab-{{this._id}}" data-bs-toggle="pill"
						data-bs-target="#pills-profile-customer-{{this._id}}" type="button" role="tab" aria-controls="pills-home"
						aria-selected="true">Thông tin khách hàng</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-counselor-tab-{{this._id}}" data-bs-toggle="pill"
						data-bs-target="#pills-counselor-{{this._id}}" type="button" role="tab" aria-controls="pills-counselor"
						aria-selected="false">Hình ảnh tư vấn</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-before-tab-{{this._id}}" data-bs-toggle="pill" data-bs-target="#pills-before-{{this._id}}"
						type="button" role="tab" aria-controls="pills-before" aria-selected="false">Hình ảnh trước
						phẩu</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-after-tab-{{this._id}}" data-bs-toggle="pill" data-bs-target="#pills-after-{{this._id}}"
						type="button" role="tab" aria-controls="pills-after" aria-selected="false">Hình ảnh sau
						phẩu</button>
				</li>
			</ul>

			<div class="tab-content" id="pills-tabContent">
				<div class="row ">
					<div class="col-md-6">
						<div class="text-left ml-4">
							<div class=" text-success">
								<label class=" mr-4"><em>{{formatDate this.schedule}}</em></label>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="ml-4 mr-4">
							<label for="status">
								<strong>Trạng thái:</strong>&nbsp;&nbsp;
							</label>
							<label class="text-danger">
								<em>{{this.status}}</em>
							</label>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-6">
						<label class="ml-4 text-success">
							<strong> Khách hàng: </strong>&nbsp;&nbsp;
						</label>
						<label for="">
							{{this.customerID.firstName}} {{this.customerID.lastName}}
						</label>
					</div>
					<div class="col-md-6">
						<div class="ml-4 mr-4">
							<label for="reception">
								<strong>Lễ tân:</strong>&nbsp;&nbsp;
							</label>
							<label for="reception-name">
								<em>{{this.recept.firstName}}{{this.recept.lastName}}</em>
							</label>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<div class="text-left ml-4">
							<label for="service">
								<strong>Dịch vụ:</strong>&nbsp; &nbsp;
							</label>
							<label for="service-name">
								<em>{{this.service}}</em>
							</label>
						</div>
					</div>
				</div>

				<hr>

				<div class="tab-pane fade show active" id="pills-profile-customer-{{this._id}}" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<form method="POST" id="submit-doctor-form">
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="text-left ml-4">
									<label for="status">
										<strong>Bác sĩ: </strong>
									</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="ml-4 mr-4">
									<label class="text-primary">
										{{#each this.performer}}
										<input hidden type="text" name="operatingID[]" value="{{this._id}}">
										<em>{{this.firstName}} {{this.lastName}};</em>
										{{/each}}
									</label>
								</div>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="text-left ml-4">
									<label for="service">
										<strong>Y tá:</strong>
									</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="ml-4 mr-4">
									<label class="text-primary">
										{{#each this.nursing}}
										<input hidden type="text" name="operatingID[]" value="{{this._id}}">
										<em>{{this.firstName}} {{this.lastName}};</em>
										{{/each}}
									</label>

								</div>
							</div>
						</div>
					</form>

					<div class="row mt-4">
						<div class="col-md-6">
							<div class="text-left ml-4">
								<label for="service">
									<strong>Ghi chú:</strong>
								</label>
							</div>
						</div>

						<div class="col-md-6">
							<div class="ml-4 mr-4">
								{{#each this.comments}}
								<label class="">
									<em>{{this.comment}}</em>
								</label>
								{{else}}
								<label class="">
									<em>Không có ghi chú</em>
								</label>
								{{/each}}
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-counselor-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#counselor-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="counselor-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="counselor-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.counselorImg}}
									{{#each this.counselorImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#counselor-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="counselor-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="counselor-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.counselorVideo}}
									{{#each this.counselorVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-before-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#before-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="before-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="before-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.beforeImg}}
									{{#each this.beforeImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/before/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#before-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="before-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="before-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.beforeVideo}}
									{{#each this.beforeVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/before/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>

					<form method="POST" id="upload-img-before-form-{{this._id}}" action="/operating-room/nursing/service-note/before/{{this._id}}" enctype="multipart/form-data">
						<div class="row">
							<input hidden type="text" value="{{this.customerID._id}}" name="customerID">
							<div class="col-sm-6">
								<label class="label-avt btn-upload-mobile mt-3 ml-3">
									<h6>Chọn ảnh trước phẩu</h6>
								</label>
								<div class="input-images-before ml-3 mr-3 mt-2"></div>
							</div>
							<div class="col-sm-6">
								<label for="input-multi-videos-before"
									class="label-avt btn-upload-mobile mt-3 ml-3">
									<h6>Chọn video trước phẩu</h6>
								</label>
								<div class="input-videos-before ml-3 mr-3 mt-2"></div>
							</div>
						</div>
						<div class=" d-flex justify-content-center mt-4">
							<button type="submit" class="btn btn-primary btn-mobile">Tải lên</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="pills-after-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#after-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="after-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="after-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.afterImg}}
									{{#each this.afterImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/after/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="ml-3 mr-3">
						<a class="mt-3" data-bs-toggle="collapse" href="#after-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="after-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="after-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.afterVideo}}
									{{#each this.afterVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/after/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
								
							</div>
						</div>
					</div>

					{{!--upload multi after--}}
					<form method="POST" id="upload-img-after-form" action="/operating-room/nursing/service-note/after/{{this._id}}" enctype="multipart/form-data">
						<div class="row">
							<input hidden type="text" value="{{this.customerID._id}}" name="customerID">
							<div class="col-sm-6">
								<label for="input-multi-images-after"
									class="label-avt btn-upload-mobile mt-3 ml-3">
									<h6>Chọn ảnh sau phẩu</h6>
								</label>
								<div class="input-images-after ml-3 mr-3 mt-2"></div>
							</div>
							<div class="col-sm-6">
								<label for="input-multi-videos-after"
									class="label-avt btn-upload-mobile mt-3 ml-3">
									<h6>Chọn video sau phẩu</h6>
								</label>
								<div class="input-videos-after ml-3 mr-3 mt-2"></div>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-4">
							<button type="submit" class="btn btn-primary btn-mobile">Tải lên</button>
						</div>
					</form>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<div class="text-left ml-4">
						<label for="service">
							<strong>Tổng cộng:</strong>&nbsp;&nbsp;
						</label>
						<label for="">
							<em>
								{{this.price}} VND
							</em>
						</label>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" data-bs-toggle="modal" data-bs-target="#submit-doctor-modal"
					class="btn btn-success btn-mobile offset-md-9" data-id="{{this._id}}">Hoàn thành</button>
			</div>
		</div>
		{{else}}
		<div class="text-center">
			Chưa có phiếu phẩu thuật
		</div>
		{{/each}}
	</div>
	{{!-- Complete service-note --}}
	<div class="modal fade" id="submit-doctor-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Hoàn thành</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Đẫ hoàn thành dịch vụ
				</div>
				<div class="modal-footer">
					<button id="submit-form-doctor-btn" type="button" class="btn btn-danger">Đã hoàn thành</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/operating/nursing.js"></script>