<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
            <a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-3"></i>
			</a>
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
		<div></div>
        {{!-- <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button> --}}
    </nav>
</div>
{{#if reExamination}}
	<div class="card bg-glass-0">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Họ tên khai sinh:</strong>&nbsp;
				</label>
				<label class="fs-6 text-light text-right">
					{{reExamination.customerID.fullName}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Tên thường gọi:</strong>&nbsp;
				</label>
				<label class="fs-6 text-light text-right">
					{{reExamination.customerID.nickName}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Ngày hẹn:</strong>&nbsp;
				</label>
				<label for=""class="fs-6 text-success text-right">
					<em>{{formatDate reExamination.schedule}}</em>
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Trạng thái:</strong>&nbsp;
				</label>
				<label class="fs-6 text-danger text-right">
					<em>{{reExamination.status}}</em>
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Bác sĩ:</strong>&nbsp;
				</label>
				<label class="text-light">
					{{#each reExamination.performer}}
					<em>{{this.firstName}} {{this.lastName}};</em>
					{{/each}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Điều dưỡng:</strong>&nbsp;
				</label>
				<label class="text-light">
					{{#each reExamination.nursing}}
					<em>{{this.firstName}} {{this.lastName}};</em>
					{{/each}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Dẫn khách:</strong>&nbsp;
				</label>
				<label class="text-light text-right">
					{{reExamination.recept.firstName}} {{reExamination.recept.lastName}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Ngày phẩu thuật:</strong>&nbsp;
				</label>
				<label class="text-light text-right">
					{{formatDate reExamination.serviceNoteId.surgeryDay}}
				</label>
			</div>
			<div class="d-flex justify-content-between">
				<label for="status" class="text-nowrap text-light">
					<strong>Dịch vụ đăng ký:</strong>&nbsp;
				</label>
			</div>
			{{#each reExamination.serviceNoteId.service}}
			<div class="d-flex justify-content-between">
				<label class="text-dark-yellow">
					<em>{{this.name}}</em>
				</label>
				<label class="text-light text-right">
					<em>{{this.price}}</em>
				</label>
			</div>
			<hr>
			{{/each}}
			<div class="d-flex justify-content-between justify-content-sm-start">
				<label for="status" class="text-nowrap text-light">
					<strong>Đặt cọc:</strong>&nbsp;
				</label>
				<label class="text-warning text-right">
					{{reExamination.serviceNoteId.deposit}}
				</label>
			</div>
			<hr>
			<div class="d-flex justify-content-between justify-content-sm-start">
				<label for="status" class="text-nowrap text-light">
					<strong>Tổng chi phí:</strong>&nbsp;
				</label>
				<label class="text-danger text-right">
					{{reExamination.serviceNoteId.total}}
				</label>
			</div>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item bg-transparent text-light">
					<h2 class="accordion-header" id="flush-headingSix">
						<button class="accordion-button collapsed bg-transparent text-light pl-0 pr-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
							<strong>Thông tin tái khám</strong>
						</button>
					</h2>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<div class="slideshow-container mt-3 mb-3">
								<!-- Full-width images with number and caption text -->
								{{#if reExamination.reExamImg}}
								{{#each reExamination.reExamImg}}
								<div class="slide-re-exam-img fadeOn">
									<img class="figure-img img-fluid rounded img-cover img-center" src="/re-examination/img/{{this.name}}">
								</div>
								{{/each}}
								{{else}}
								<div class="slide-re-exam-img fadeOn">
									<div class="text-center">Chưa có ảnh và video</div>
								</div>
								{{/if}}
								<!-- Next and previous buttons -->
								<a class="prev" onclick="plusSlidesReExamImg(-1)">&#10094;</a>
								<a class="next" onclick="plusSlidesReExamImg(1)">&#10095;</a>
								<!-- The dots/circles -->
								<div style="text-align:center">
								{{#each reExamination.reExamImg}}
									<span class="dot" onclick="currentSlideReExamImg({{@index}})"></span>
								{{/each}}
								</div>
							</div>
							<div class="slideshow-container mb-3">
								<!-- Full-width images with number and caption text -->
								{{#if reExamination.reExamVideo}}
								{{#each reExamination.reExamVideo}}
								<div class="slide-re-exam-video fadeOn">
									<video class="figure-img img-fluid rounded video-cover-slide img-center" controls>
										<source src="/re-examination/video/{{this.name}}">
									</video>
								</div>
								{{/each}}
								{{else}}
								<div class="slide-re-exam-video fadeOn">
									<div class="text-center">Chưa có video</div>
								</div>
								{{/if}}
								<!-- Next and previous buttons -->
								<a class="prev" onclick="plusSlidesReExamVideo(-1)">&#10094;</a>
								<a class="next" onclick="plusSlidesReExamVideo(1)">&#10095;</a>
								<!-- The dots/circles -->
								<div style="text-align:center">
									{{#each reExamination.reExamVideo}}
									<span class="dot" onclick="currentSlideReExamVideo({{@index}})"></span>
									{{/each}}
								</div>
							</div>
							<textarea class="form-control bg-transparent text-light" cols="30" rows="8" readonly>{{reExamination.stepsToTake}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}

<script src="/js/operating/nursing-re-exam-detail.js"></script>