<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Phiếu hoàn thành
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu tái khám
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="p-3">
	{{#each reExam}}
	<div class="card mb-3">
		<div class="card-header bg-transparent">
			<h5 class="text-uppercase text-center mb-3 mt-3">
				<strong>Phiếu tái khám</strong>
			</h5>
			<ul class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-profile-customer-tab" data-bs-toggle="pill"
						data-bs-target="#pills-profile-customer" type="button" role="tab" aria-controls="pills-home"
						aria-selected="true">Thông tin khách hàng</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-counselor-tab" data-bs-toggle="pill"
						data-bs-target="#pills-counselor-{{this._id}}" type="button" role="tab" aria-controls="pills-counselor"
						aria-selected="false">Hình ảnh tư vấn</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-before-tab" data-bs-toggle="pill" data-bs-target="#pills-before-{{this._id}}"
						type="button" role="tab" aria-controls="pills-before" aria-selected="false">Hình ảnh trước
						phẩu</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-after-tab" data-bs-toggle="pill" data-bs-target="#pills-after-{{this._id}}"
						type="button" role="tab" aria-controls="pills-after" aria-selected="false">Hình ảnh sau
						phẩu</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-re-exam-tab" data-bs-toggle="pill" data-bs-target="#pills-re-exam-{{this._id}}"
						type="button" role="tab" aria-controls="pills-after" aria-selected="false">Hình ảnh tái
						khám</button>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content" id="pills-tabContent">
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Ngày hẹn:</strong>&nbsp;
					</label>
					<label class="text-right text-danger"><em>{{formatDate this.schedule}}</em></label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Trạng thái:</strong>&nbsp;
					</label>
					<label class="text-right text-danger"><em>{{this.status}}</em></label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Khách hàng:</strong>&nbsp;
					</label>
					<label class="text-right text-primary">{{this.customerID.firstName}} {{this.customerID.lastName}}</label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Lễ tân:</strong>&nbsp;
					</label>
					<label class="text-right text-primary"><em>{{this.recept.firstName}} {{this.recept.lastName}}</em></label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Dịch vụ đã sử dụng:</strong>&nbsp;
					</label>
					<label class="text-right text-primary"><em>{{this.serviceNoteId.service}}</em></label>
				</div>
				<hr>
				<div class="tab-pane fade show active" id="pills-profile-customer" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<form method="POST" id="submit-re-exam-form">
						<div class="d-flex justify-content-between justify-content-sm-start">
							<label for="status">
								<strong>Bác sĩ:</strong>&nbsp;
							</label>
							<label class="text-right text-primary">
								{{#each this.performer}}
								<input hidden type="text" name="operatingID[]" value="{{this._id}}">
								<em>{{this.firstName}} {{this.lastName}};</em>
								{{/each}}
							</label>
						</div>
						<div class="d-flex justify-content-between justify-content-sm-start">
							<label for="status">
								<strong>Điều dưỡng:</strong>&nbsp;
							</label>
							<label class="text-right text-primary">
								{{#each this.nursing}}
								<input hidden type="text" name="operatingID[]" value="{{this._id}}">
								<em>{{this.firstName}} {{this.lastName}};</em>
								{{/each}}
							</label>
						</div>
						<div class="row">
							<div class="">
								<label for="steps-to-take-area"><strong>Các bước thực hiện</strong></label>
							</div>
							<div class="">
								<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" name="stepsToTake" id="steps-to-take-area" cols="30" rows="8"></textarea>
							</div>
						</div>
					</form>
					<div class="row mt-3">
						<div class="">
							<label for="comments"><strong>Ghi chú:</strong></label>
						</div>
						<div class="">
							{{#if this.comments}}
							{{#each this.comments}}
							<p class="message-content" id="comments">{{this.comment}}</p>
							{{/each}}
							{{else}}
							<label class="">
								<em>Không có ghi chú</em>
							</label>
							{{/if}}
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-counselor-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="accordion accordion-flush" id="accordionFlush-counselor-{{this._id}}">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-counselor-img-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-counselor-img-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-counselor-img-{{this._id}}">
									Xem ảnh
								</button>
							</h2>
							<div id="flush-collapse-counselor-img-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-counselor-img-{{this._id}}" data-bs-parent="#accordionFlush-counselor-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.counselorImg}}
										{{#each this.serviceNoteId.counselorImg}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có hình ảnh
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-counselor-video-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-counselor-video-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-counselor-video-{{this._id}}">
									Xem video
								</button>
							</h2>
							<div id="flush-collapse-counselor-video-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-counselor-video-{{this._id}}" data-bs-parent="#accordionFlush-counselor-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.counselorVideo}}
										{{#each this.serviceNoteId.counselorVideo}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<video src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có video
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-before-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="accordion accordion-flush" id="accordionFlush-before-{{this._id}}">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-before-img-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-before-img-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-before-img-{{this._id}}">
									Xem ảnh
								</button>
							</h2>
							<div id="flush-collapse-before-img-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-before-img-{{this._id}}" data-bs-parent="#accordionFlush-before-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.beforeImg}}
										{{#each this.serviceNoteId.beforeImg}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có hình ảnh
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-before-video-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-before-video-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-before-video-{{this._id}}">
									Xem video
								</button>
							</h2>
							<div id="flush-collapse-before-video-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-before-video-{{this._id}}" data-bs-parent="#accordionFlush-before-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.beforeVideo}}
										{{#each this.serviceNoteId.beforeVideo}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<video src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có video
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-after-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="accordion accordion-flush" id="accordionFlush-after-{{this._id}}">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-after-img-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-after-img-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-after-img-{{this._id}}">
									Xem ảnh
								</button>
							</h2>
							<div id="flush-collapse-after-img-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-after-img-{{this._id}}" data-bs-parent="#accordionFlush-after-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.afterImg}}
										{{#each this.serviceNoteId.afterImg}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có hình ảnh
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-after-video-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-after-video-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-after-video-{{this._id}}">
									Xem video
								</button>
							</h2>
							<div id="flush-collapse-after-video-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-after-video-{{this._id}}" data-bs-parent="#accordionFlush-after-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.serviceNoteId.afterVideo}}
										{{#each this.serviceNoteId.afterVideo}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<video src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có video
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-re-exam-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="accordion accordion-flush" id="accordionFlush-re-exam-{{this._id}}">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-re-exam-img-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-re-exam-img-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-re-exam-img-{{this._id}}">
									Xem ảnh
								</button>
							</h2>
							<div id="flush-collapse-re-exam-img-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-re-exam-img-{{this._id}}" data-bs-parent="#accordionFlush-re-exam-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.reExamImg}}
										{{#each this.reExamImg}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<img src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="...">
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có hình ảnh
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-re-exam-video-{{this._id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-re-exam-video-{{this._id}}" aria-expanded="false" aria-controls="flush-collapse-re-exam-video-{{this._id}}">
									Xem video
								</button>
							</h2>
							<div id="flush-collapse-re-exam-video-{{this._id}}" class="accordion-collapse collapse" aria-labelledby="flush-re-exam-video-{{this._id}}" data-bs-parent="#accordionFlush-re-exam-{{this._id}}">
								<div class="accordion-body">
									<div class="row">    
										{{#if this.reExamVideo}}
										{{#each this.reExamVideo}}
										<div class="col-xl-2 col-lg-3 col-md-4">
											<figure class="figure imgbox">
												<video src="{{this.url}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
											</figure>
										</div>
										{{/each}}
										{{else}}
										<p class="text-center">
											Chưa có video
										</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>

					{{!--upload multi re exam --}}

					<form method="POST" action="/operating-room/nursing/re-examination/reexam/{{this._id}}" id="upload-img-re-exam-form" enctype="multipart/form-data">
						<div class="row">
							<input hidden type="text" value="{{this.customerID._id}}" name="customerID">
							<div class="col-sm-6 mt-3">
								<div class="preview-images-re-exam row ml-0 border text-center">
								</div>
								<label for="input-multi-images-reExamination" class="label-avt d-flex justify-content-start mt-3">
									<h5 id="text-img-reExamination" class="btn btn-primary text-uppercase btn-mobile"><i class="ti-cloud-up fw-bold"></i> Chọn ảnh tư vấn</h5>
								</label>
								<input id="input-multi-images-reExamination" class="form-control" type="file"
									name="reExamination" hidden multiple>
							</div>
							<div class="col-sm-6 mt-3">
								<div class="preview-videos-re-exam row ml-0 border text-center">
								</div>
								<label id="input-multi-videos-reExamination-label" for="input-multi-videos-reExamination" class="label-avt d-flex justify-content-end mt-3">
									<h5 class="btn btn-primary text-uppercase btn-mobile"><i class="ti-cloud-up fw-bold"></i> Chọn video tư vấn</h5>
								</label>
								<input id="input-multi-videos-reExamination" class="form-control" type="file"
									name="reExamination" hidden multiple>
							</div>
						</div>
						<div class=" d-flex justify-content-center mt-4">
							<button type="submit" class="btn btn-primary btn-upload-mobile" data-bs-toggle="modal"
								data-bs-target="#re-exam-modal" data-re-exam-id="{{this._id}}">Tải lên</button>
						</div>
					</form>
				</div>
			</div>
			<hr class="mt-3">
			<div class="d-flex justify-content-between justify-content-sm-end mt-3">
				<label for="status">
					<strong>Phí dịch vụ:</strong>&nbsp;
				</label>
				<label class="text-danger text-right">
					{{#if this.price}}
					{{this.price}} VND
					{{else}}
					0 VND
					{{/if}}
				</label>
			</div>
		</div>
		<div class="card-footer bg-transparent d-flex justify-content-end">
			<button type="button" data-bs-toggle="modal" data-bs-target="#submit-re-exam-modal"
				class="btn btn-success btn-mobile" data-id="{{this._id}}">Hoàn thành</button>
		</div>
	</div>
	{{else}}
	<div class="text-center">Chưa có dịch vụ cần thực hiện.</div>
	{{/each}}
</div>
{{!-- Complete re-exam --}}
<div class="modal fade" id="submit-re-exam-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Hoàn thành</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Đã hoàn thành dịch vụ
			</div>
			<div class="modal-footer">
				<button id="submit-form-re-exam-btn" type="button" class="btn btn-danger">Đã hoàn
					thành</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>

			</div>
		</div>
	</div>
</div>
<script src="/js/operating/nursing-re-exam.js"></script>
<script>
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
</script>