<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Phiếu hoàn thành
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="container-fluid">
	{{#if messages_createReExamination_success}}
	<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
		{{messages_createReExamination_success}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row mt-3">
		{{#each serviceNotes}}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
			<div class="card mb-3">
				<div class="card-header bg-transparent">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Hoàn thành:
						</label>
						<strong name="status" class="form-label text-danger text-right">
							{{formatDate this.updatedAt}}
						</strong>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Trạng thái:
						</label>
						<strong name="status" class="form-label text-danger">{{this.status}}</strong>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Ngày hẹn:
						</label>
						<strong>
							<label name="schedule" class="form-label text-success text-right">{{formatDate this.schedule}}</label>
						</strong>
					</div>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Khách hàng: </label>
						</strong>
						<label class="text-primary form-label">{{this.customerID.firstName}}
								{{this.customerID.lastName}}</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Dịch vụ: </label>
						</strong>
						<label class="form-label">{{this.service}}</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Thành tiền: </label>
						</strong>
						<label class="form-label">{{this.price}}VND</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Bác sĩ:</label>
						</strong>
						{{#each this.performer}}
						<label class="text-success form-label">{{this.firstName}} {{this.lastName}};</label>
						{{/each}}
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Điều dưỡng: </label>
						</strong>
						{{#each this.nursing}}
						<label class="text-success form-label">{{this.firstName}} {{this.lastName}};</label>
						{{/each}}
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Lễ tân: </label>
						</strong>
						<label class="form-label">{{this.recept.firstName}} {{this.recept.lastName}}</label>
					</div>
				</div>
				<div class="card-footer bg-transparent d-flex justify-content-end">
					<button type="button" id="create-re-examination-btn" class="btn btn-primary btn-mobile"
						data-bs-toggle="modal" data-bs-target="#create-re-examination-modal"
						data-img="{{this.customerID.image.name}}" data-id="{{this.customerID._id}}"
						data-name="{{this.customerID.firstName}} {{this.customerID.lastName}}"
						data-birth="{{this.customerID.birth}}" data-gender="{{this.customerID.gender}}"
						data-email="{{this.customerID.email}}" data-phone="{{this.customerID.phone}}"
						data-address="{{this.customerID.address}}" data-service="{{this.service}}"
						data-service-note-id="{{this._id}}">Tạo phiếu tái khám
					</button>
				</div>
			</div>
		</div>

		{{!-- Detail counselor --}}
		<div class="modal fade" id="image{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
			aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
						</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="pills-counselor-tab" data-bs-toggle="pill"
									data-bs-target="#pills-counselor" type="button" role="tab"
									aria-controls="pills-counselor" aria-selected="true">Hình ảnh tư
									vấn</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link " id="pills-before-tab" data-bs-toggle="pill"
									data-bs-target="#pills-before" type="button" role="tab"
									aria-controls="pills-before" aria-selected="false">Hình ảnh trước
									phẩu</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link " id="pills-after-tab" data-bs-toggle="pill"
									data-bs-target="#pills-after" type="button" role="tab"
									aria-controls="pills-after" aria-selected="false">Hình ảnh sau
									phẩu</button>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-counselor" role="tabpanel" aria-labelledby="pills-counselor-tab">
								{{!-- <div class="row"> --}}
										a
									{{!-- <div class="col-md-6 "> --}}
										{{!-- <div class="row">
											{{#each this.counselorImg}}
											{{#if this}}
											<div class="col-md-6 mt-2 imgbox">
												<img src="/counselor/img/{{this}}"
													class="rounded mx-auto d-block upd-ava" alt="...">
											</div>
											{{else}}
											<div class="col-md-6 ">
												<h6>Chưa có ảnh</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
									{{!-- <div class="col-md-6"> --}}
										{{!-- b --}}
										{{!-- <div class="row">
											{{#each this.counselorVideo}}
											{{#if this}}
											<video class="rounded mx-auto d-block upd-ava mt-2"
												src="/counselor/video/{{this}}" type="video/mp4" controls>
											</video>
											{{else}}
											<div class="col-md-6 mt-2">
												<h6>Chưa có video</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							</div>

							<div class="tab-pane fade" id="pills-before" role="tabpanel"
								aria-labelledby="pills-before-tab">
								{{!-- <div class="row"> --}}
										c
									{{!-- <div class="col-md-6 "> --}}
										{{!-- <div class="row">
											{{#each this.beforeImg}}
											{{#if this}}
											<div class="col-md-6 mt-2 imgbox">
												<img src="/before/img/{{this}}"
													class="rounded mx-auto d-block upd-ava " alt="...">
											</div>
											{{else}}
											<div class="col-md-6 mt-2">
												<h6>Chưa có ảnh</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
									{{!-- <div class="col-md-6"> --}}
										{{!-- d --}}
										{{!-- <div class="row">
											{{#each this.beforeVideo}}
											{{#if this}}
											<video class="rounded mx-auto d-block upd-ava mt-2"
												src="/before/video/{{this}}" type="video/mp4" controls>
											</video>
											{{else}}
											<div class="col-md-6 ">
												<h6>Chưa có video</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							</div>

							<div class="tab-pane fade" id="pills-after" role="tabpanel"
								aria-labelledby="pills-after-tab">
								{{!-- <div class="row "> --}}
										e
									{{!-- <div class="col-md-6 "> --}}
										{{!-- <div class="row">
											{{#each this.afterImg}}
											{{#if this}}
											<div class="col-md-6 mt-2 imgbox">
												<img src="/after/img/{{this}}"
													class="rounded mx-auto d-block upd-ava" alt="...">

											</div>
											{{else}}
											<div class="col-md-6 ">
												<h6>Chưa có ảnh</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
									{{!-- <div class="col-md-6 "> --}}
										{{!-- f --}}
										{{!-- <div class="row">
											{{#each this.afterVideo}}
											{{#if this}}
											<video class="rounded mx-auto d-block upd-ava mt-2"
												src="/after/video/{{this}}" type="video/mp4" controls>
											</video>
											{{else}}
											<div class="col-md-6">
												<h6>Chưa có video</h6>
											</div>
											{{/if}}
											{{/each}}
										</div> --}}
									{{!-- </div> --}}
								{{!-- </div> --}}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>

{{!-- create-re-exam modal --}}
<div class="modal fade" id="create-re-examination-modal" tabindex="-1" aria-labelledby="create-re-exam"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title btn-close-white" id="create-re-exam-title">Tạo phiếu tái khám</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-re-exam-form" class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input hidden type="text" class="form-control" id="create-re-exam-customerID"
                                name="customerID" readonly>
                            <input hidden type="text" class="form-control" id="create-service-note-id"
                                name="serviceNoteID" readonly>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <img src="/img/user-icon.png" id="create-re-exam-img"
                                        class="rounded mx-auto d-block add-avata" alt="...">
                                    <div class="mb-4 mt-3">
                                        <label for="schedule" class="form-label">
                                            <h6>Dịch vụ sử dụng:</h6>
                                        </label>
                                        <input type="text" class="form-control bg-white" readonly
                                            id="create-re-exam-serviced" name="serviced">
                                    </div>
                                    <div class="mb-3">
                                        <label for="schedule" class="form-label">
                                            <h6>Ngày hẹn:</h6>
                                        </label>
                                        <input type="datetime-local" class="form-control" id="create-re-exam-schedule"
                                            name="schedule">
                                    </div>
                                    <div class="mb-3">
                                        <label for="comment" class="form-label">
                                            <h6>Ghi chú: </h6>
                                        </label>
                                        <textarea class="form-control" id="create-re-exam-description" rows="6"
                                            name="comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-8 verticalLine">
									<div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Họ tên:</strong></label>
										<label class="text-uppercase text-danger text-right" id="create-re-exam-firstLastName" name="name" readonly>
									</div>
                                    <hr>
									<div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Ngày sinh:</strong></label>
										<label id="create-re-exam-birth" class="text-right" name="birth" readonly></label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Giới tính:</strong></label>
										<label id="create-re-exam-gender" class="text-right" name="gender" readonly></label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Email:</strong></label>
										<label id="create-re-exam-email" class="d-inline-block text-truncate text-right" name="email" readonly></label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Số điện thoại:</strong></label>
										<label id="create-re-exam-phone" class="text-right" name="phone" readonly></label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Địa chỉ:</strong></label>
										<label id="create-re-exam-address" class="text-right" name="address" readonly></label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Người tạo:</strong></label>
										<input hidden type="text" value="{{user._id}}" name="createName" id="">
										<label id="create-re-exam-createName" class="text-right"
											readonly>{{user.firstName}} {{user.lastName}}</label>
									</div>
									<hr>
                                    <div class="d-flex justify-content-between ml-3 mr-3">
										<label><strong>Mô tả:</strong></label>
									</div>
									<p id="create-re-exam-description" class="message-content" rows="6" name="description" disabled></p>
									<hr>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create-re-exam-btn" class="btn btn-primary">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/operating/nursing-view.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
})
</script>