<link rel="stylesheet" href="/css/root.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
			<a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
		<div>
			<input id="search-schedule" class="rounded-pill form-control form-control-sm" placeholder="Tìm kiếm..." type="text">
		</div>
		<div>
			<a href="/operating-room/nursing/storage-cus-info-done" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-boxes-packing fs-5 p-2"></i>
			</a>
			<a href="/operating-room/nursing/profile" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-user-nurse fs-5 p-2"></i>
			</a>
		</div>
    </nav>
</div>
<div class="mt-3 ml-3 mr-3 m-16">
	{{#if messages_pushReExamination_error}}
	<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
		{{messages_pushReExamination_error}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row">
		{{#each schedules}}
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 card-col">
			<form id="create-customer-information-form" method="POST" action="/operating-room/nursing/customer-information/{{this._id}}/create">
				<div class="card bg-glass mb-3">
					<div class="card-header bg-transparent d-flex justify-content-between">
						<div class="badge bg-success lh-lg rounded-pill">
							{{formatDate this.schedule}}
						</div>
						<a class="text-light" href="/operating-room/nursing/schedule/{{this._id}}/detail">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
					<div class="card-body">
						<input class="form-control text-wrap text-right" type="text" value="{{this.customerID._id}}" name="cusID" hidden>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label for="status" class="text-nowrap text-light m-0">Trạng thái:</label>
							<label id="status" class="text-wrap text-right text-danger m-0">{{this.status}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label  class="text-nowrap text-light m-0">Họ tên khai sinh:</label>
							<label id="input-fullName" class="text-wrap text-right text-light m-0 text-fullName">{{this.customerID.fullName}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label  class="text-nowrap text-light m-0">Tên thường gọi:</label>
							<label id="input-nickName" class="text-wrap text-right text-light m-0 text-nickName">{{this.customerID.nickName}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Giới tính:</label>
							<label id="input-gender" class="text-wrap text-light m-0">{{this.customerID.gender}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Số điện thoại:</label>
							<label id="input-phone" class="text-wrap text-right text-light m-0 text-phone">0{{this.customerID.phone}}</label>
						</div>
						<label class="text-nowrap text-light">Dịch vụ</label>
						{{#each this.service}}
						<div class="text-right border-bottom mb-0">
							<label class="text-dark-yellow m-0">{{this}}</label>
						</div>
						{{/each}}
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Tiền cọc</label>
							<label id="input-deposit" class="text-wrap text-right text-warning m-0">{{this.deposit}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom">
							<label class="text-light m-0">Phí dịch vụ:</label>
							<label id="input-beforePrice" class="text-wrap text-right text-danger m-0">{{this.priceBefore}}</label>
						</div>
					</div>
					<div class="card-footer bg-transparent">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-4 col-md-12 col-sm-12">
								<button type="button" class="btn btn-danger btn-mobile rounded-pill mb-3 border btn-sm" data-bs-toggle="modal" data-bs-target="#delete-schedule-modal"
								data-delete-id="{{this._id}}" data-delete-firstname="{{this.customerID.fullName}}" data-delete-lastname="{{this.customerID.nickName}}"
								data-delete-customerID="{{this.customerID._id}}">Xóa lịch hẹn</button>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12">
								<button type="button" class="btn btn-info btn-mobile rounded-pill mb-3 border btn-sm" data-bs-toggle="modal" data-bs-target="#edit-schedule-modal"
								data-edit-id="{{this._id}}" data-edit-fullName="{{this.customerID.fullName}}" data-edit-nickName="{{this.customerID.nickName}}" data-edit-gender="{{this.customerID.gender}}"
								data-edit-phone="{{this.customerID.phone}}">Sửa lịch hẹn tư vấn</button>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12 text-right">
								<button class="btn btn-primary btn-mobile rounded-pill mb-3 border btn-sm" id="create-customer-information-btn">Tạo hồ sơ khách hàng</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		{{/each}}
	</div>
</div>

<!-- Edit schedule modal -->
<div class="modal fade" id="edit-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="staticBackdropLabel">Sửa lịch hẹn</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="edit-schedule-form" method="POST">
					{{!-- <input id="edit-cusId" type="text" name="cusID" hidden> --}}
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Họ và tên:</strong></label>
						<div id="edit-schedule-fullname" class="m-0 text-wrap"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Tên thường gọi:</strong></label>
						<div id="edit-schedule-nickname" class="m-0 text-wrap"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div id="edit-schedule-phone" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Ngày hẹn:</strong></label>
						<div>
							<input type="datetime-local" id="edit-schedule-input" class="form-control rounded-pill" name="schedule">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="edit-schedule-btn" type="button" class="btn btn-info rounded-pill">Cập nhật lịch</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Hủy bỏ</button>
			</div>
        </div>
    </div>
</div>

<!-- Delete customer modal -->
<div class="modal fade" id="delete-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Xóa lịch hẹn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="delete-schedule-form" method="POST">
                <input id="delete-cusID" type="text" name="cusID" hidden>
            </form>
            Bạn có chắc muốn xóa lịch hẹn <strong id="delete-schedule" class="text-danger"></strong> không?
        </div>
        <div class="modal-footer">
            <button id="delete-schedule-btn" type="button" class="btn btn-danger">Chắc chắn, xóa</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-blue border-top p-3">
		<a href="/operating-room/nursing" class="d-flex flex-column text-center link-light">
			<i class="fa-sharp fa-solid fa-calendar-check fs-5"></i>
			<small>Lịch tư vấn</small>
		</a>
		<a href="/operating-room/nursing/re-examination" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-plus fs-5"></i>
			<small>Lịch tái khám</small>
		</a>
		<a href="/operating-room/nursing/customers" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-user fs-5"></i>
			<small>Khách hàng</small>
		</a>
		<a href="/operating-room/nursing/service-note" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-receipt fs-5"></i>
			<small>Hồ sơ</small>
		</a>
		<a href="/operating-room/nursing/discharge-from-hospital" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-arrow-right-from-bracket fs-5"></i>
			<small>Xuất viện</small>
		</a>
    </nav>
</div>
<script src="/js/operating/nursing-create-cus-info.js"></script>