<link rel="stylesheet" href="/css/root.css">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
			<a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
        </div>
		<div>
			<a href="/operating-room/nursing/storage-cus-info-done" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-boxes-packing fs-5 p-2"></i>
			</a>
			<a href="/operating-room/nursing/profile" class="text-center link-secondary">
				<i class="fa-sharp fa-solid fa-user-nurse fs-5 p-2"></i>
			</a>
		</div>
    </nav>
</div>
<div class="mt-3 ml-3 mr-3 m-16">
	{{#if messages_pushReExamination_error}}
	<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
		{{messages_pushReExamination_error}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row">
		{{#each schedules}}
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
			<form id="create-customer-information-form" method="POST" action="/operating-room/nursing/customer-information/{{this._id}}/create">
				<div class="card bg-glass mb-3">
					<div class="card-header bg-transparent d-flex justify-content-between">
						<div class="badge bg-success lh-lg rounded-pill">
							{{formatDate this.schedule}}
						</div>
						<a class="text-light" href="/operating-room/nursing/schedule/{{this._id}}/detail">
							<i class="fa-solid fa-ellipsis"></i>
						</a>
					</div>
					<div class="card-body">
						<input class="form-control text-wrap text-right" type="text" value="{{this.customerID._id}}" name="cusID" hidden>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label for="" class="text-nowrap text-light m-0">Trạng thái:</label>
							<label class="text-wrap text-right text-danger m-0">{{this.status}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label  class="text-nowrap text-light m-0">Họ tên:</label>
							<label id="input-nickName" class="text-wrap text-right text-light m-0">{{this.customerID.nickName}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Giới tính:</label>
							<label id="input-gender" class="text-wrap text-light m-0">{{this.customerID.gender}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Số điện thoại:</label>
							<label id="input-phone" class="text-wrap text-right text-light m-0">0{{this.customerID.phone}}</label>
						</div>
						<label class="text-nowrap text-light">Dịch vụ</label>
						{{#each this.service}}
						<div class="text-right border-bottom mb-0">
							<label class="text-dark-yellow m-0">{{this}}</label>
						</div>
						{{/each}}
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-nowrap text-light m-0">Tiền cọc</label>
							<label id="input-deposit" class="text-wrap text-right text-warning m-0">{{this.deposit}}</label>
						</div>
						<div class="d-flex justify-content-between border-bottom">
							<label class="text-light m-0">Phí dịch vụ:</label>
							<label id="input-beforePrice" class="text-wrap text-right text-danger m-0">{{this.priceBefore}}</label>
						</div>
					</div>
					<div class="card-footer bg-transparent">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-6 col-md-12 col-sm-12">
								<button type="button" class="btn btn-danger btn-mobile rounded-pill mb-2 border" data-bs-toggle="modal" data-bs-target="#delete-schedule-modal"
								data-delete-id="{{this._id}}" data-delete-firstname="{{this.customerID.firstName}}" data-delete-lastname="{{this.customerID.lastName}}"
								data-delete-customerID="{{this.customerID._id}}">Xóa lịch hẹn</button>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 text-right">
								<button class="btn btn-primary btn-mobile rounded-pill mb-2 border" id="create-customer-information-btn">Tạo hồ sơ khách hàng</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		{{/each}}
	</div>
</div>

<!-- Delete customer modal -->
<div class="modal fade" id="delete-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Xóa lịch hẹn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="delete-schedule-form" method="POST">
                <input id="delete-cusID" type="text" name="cusID" hidden>
            </form>
            Bạn có chắc muốn xóa lịch hẹn <strong id="delete-schedule" class="text-danger"></strong> không?
        </div>
        <div class="modal-footer">
            <button id="delete-schedule-btn" type="button" class="btn btn-danger">Chắc chắn, xóa</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <nav class="navbar navbar-light bg-blue border-top p-3">
		<a href="/operating-room/nursing" class="d-flex flex-column text-center link-light">
			<i class="fa-sharp fa-solid fa-calendar-check fs-5"></i>
			<small>Lịch tư vấn</small>
		</a>
		<a href="/operating-room/nursing/re-examination" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-calendar-plus fs-5"></i>
			<small>Lịch tái khám</small>
		</a>
		<a href="/operating-room/nursing/customers" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-user fs-5"></i>
			<small>Khách hàng</small>
		</a>
		<a href="/operating-room/nursing/service-note" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-receipt fs-5"></i>
			<small>Hồ sơ</small>
		</a>
		<a href="/operating-room/nursing/discharge-from-hospital" class="d-flex flex-column text-center link-secondary">
			<i class="fa-sharp fa-solid fa-arrow-right-from-bracket fs-5"></i>
			<small>Xuất viện</small>
		</a>
    </nav>
</div>
<script src="/js/operating/nursing-create-cus-info.js"></script>