<link rel="stylesheet" href="/css/root.css">
{{!-- <link rel="stylesheet" href="/css/assistant.css"> --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white text-center" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-dashboard mr-3"></i>Lịch hẹn tư vấn
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-headphone-alt mr-3"></i>Lịch hẹn tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3 active"></i>Danh sách khách hàng
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3 active"></i>Danh sách hồ sơ khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer border-top">
		<div class="sidebar-item border-bottom">
            <a href="/operating-room/nursing/storage-cus-info" class="sidebar-item-title pl-3">
				<i class="ti-trash mr-3 active"></i>Kho lưu trữ hồ sơ
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="mt-3 ml-3 mr-3">
	{{#if messages_pushReExamination_error}}
	<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
		{{messages_pushReExamination_error}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row">
		{{#each schedules}}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
			<div class="card shadow text-white bg-glass">
				<div class="card-header bg-transparent d-flex justify-content-between">
					<div class="badge bg-success lh-lg rounded-pill">
						{{formatDate this.schedule}}
					</div>
					<div class="badge bg-danger lh-lg rounded-pill">{{this.status}}</div>
					<a class="text-light" href="/operating-room/nursing/schedule/{{this._id}}/detail">
						<i class="fa-solid fa-ellipsis"></i>
					</a>
				</div>
				<div class="card-body">
					<form id="create-customer-information-form" action="/operating-room/nursing/customer-information/{{this._id}}/create" method="POST">
						<input class="form-control text-wrap text-right" type="text" value="{{this.customerID._id}}" name="cusID" hidden>
						<div class="form-floating mb-4">
							<input id="input-nicknName" class="form-control text-wrap text-right bg-transparent text-light" type="text" value="{{this.customerID.nickName}}" name="nickName" readonly>
							<label for="input-nicknName" class="text-light">Họ tên:</label>
						</div>
						<div class="form-floating mb-4">
							<input id="input-nicknName" class="form-control text-wrap text-right bg-transparent text-light" type="text" value="{{this.customerID.gender}}" name="gender" readonly>
							<label class="text-light">Giới tính:</label>
						</div>
						<div class="form-floating mb-4">
							<input id="input-nicknName" class="form-control text-wrap text-right bg-transparent text-light" type="text" value="{{this.customerID.phone}}" name="phone" readonly>
							<label class="text-light">Số điện thoại:</label>
						</div>
						<label class="text-light">Dịch vụ</label>
						{{#each this.service}}
						<div class="d-flex justify-content-between">
							{{!-- <input id="input-nicknName" class="form-control bg-transparent text-light textarea-none" value="{{this.service}}" hidden  name="service"> --}}
							<label class="text-light">{{this}}</label>
						</div>
						<hr class="mt-0">
						{{/each}}
						<div class="form-floating mb-4">
							<input id="input-nicknName" class="form-control text-wrap text-right bg-transparent text-danger" type="text" value="{{this.priceBefore}}" name="priceBefore" readonly>
							<label class="text-light">Phí dịch vụ:</label>
						</div>
						<div class="form-floating">
							<input id="input-nicknName" class="form-control text-wrap text-right bg-transparent text-warning" type="text" value="{{this.deposit}}" name="deposit" readonly>
							<label class="text-light">Tiền cọc</label>
						</div>
					</form>
				</div>
				<div class="card-footer bg-transparent">
					<button type="button" class="btn btn-danger btn-mobile mb-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#delete-schedule-modal"
					data-delete-id="{{this._id}}" data-delete-firstname="{{this.customerID.firstName}}" data-delete-lastname="{{this.customerID.lastName}}"
					data-delete-customerID="{{this.customerID._id}}">Xóa lịch hẹn</button>
					<a class="btn btn-primary btn-mobile float-right mb-2 rounded-pill" id="create-customer-information-btn">Tạo hồ sơ khách hàng</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<!-- Delete customer modal -->
<div class="modal fade" id="delete-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Xóa lịch hẹn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="delete-schedule-form" method="POST">
                <input id="delete-cusID" type="text" name="cusID" hidden>
            </form>
            Bạn có chắc muốn xóa lịch hẹn <strong id="delete-schedule" class="text-danger"></strong> không?
        </div>
        <div class="modal-footer">
            <button id="delete-schedule-btn" type="button" class="btn btn-danger">Chắc chắn, xóa</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        </div>
        </div>
    </div>
</div>

<script src="/js/operating/nursing-create-cus-info.js"></script>