<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Phiếu hoàn thành
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
	<nav class="navbar navbar-light bg-primary">
		<a class="ml-3 text-light" type="button" href="/operating-room/nursing"><i class="ti-arrow-left"></i> Quay lại</a>
        <div class="text-light text-uppercase fw-bold">
            {{title}}
        </div>
		<div class="img-container">
		</div>
    </nav>
</div>
<div class="container-fluid">
	{{#if messages_createReExamination_success}}
	<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
		{{messages_createReExamination_success}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row mt-3">
		{{#each serviceNotes}}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
			<div class="card mb-3">
				<div class="card-header bg-transparent">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Hoàn thành:
						</label>
						<strong name="status" class="form-label text-danger text-right">
							{{formatDate this.updatedAt}}
						</strong>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Trạng thái:
						</label>
						<strong name="status" class="form-label text-danger">{{this.status}}</strong>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label" for="">
							Ngày hẹn:
						</label>
						<strong>
							<label name="schedule" class="form-label text-success text-right">{{formatDate this.schedule}}</label>
						</strong>
					</div>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Khách hàng: </label>
						</strong>
						<label class="text-primary form-label">{{this.customerID.firstName}}
								{{this.customerID.lastName}}</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Dịch vụ: </label>
						</strong>
						<label class="form-label">{{this.service}}</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Thành tiền: </label>
						</strong>
						<label class="form-label">{{this.price}}VND</label>
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Bác sĩ:</label>
						</strong>
						{{#each this.performer}}
						<label class="text-success form-label">{{this.firstName}} {{this.lastName}};</label>
						{{/each}}
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Điều dưỡng: </label>
						</strong>
						{{#each this.nursing}}
						<label class="text-success form-label">{{this.firstName}} {{this.lastName}};</label>
						{{/each}}
					</div>
					<div class="d-flex justify-content-between">
						<strong>
							<label class="form-label">Lễ tân: </label>
						</strong>
						<label class="form-label">{{this.recept.firstName}} {{this.recept.lastName}}</label>
					</div>
				</div>
				<div class="card-footer bg-transparent d-flex justify-content-end">
					<button class="btn btn-primary btn-mobile mb-1" data-bs-toggle="modal" data-bs-target="#restore-service-note-modal"
							data-restore-id="{{this._id}}" data-restore-firstname="{{this.customerID.firstName}}"
							data-restore-lastname="{{this.customerID.lastName}}">Khôi phục</button>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<!-- Restore service note modal -->
<div class="modal fade" id="restore-service-note-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Khôi phục phiếu dịch vụ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn khôi phục phiếu dịch vụ của <strong id="restore-service-note"></strong> không?
      </div>
      <div class="modal-footer">
        <button id="restore-service-note-btn" type="button" class="btn btn-danger">Chắc chắn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<form id="restore-service-note-form" method="POST"></form>

<script src="/js/operating/nursing-restore.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
})
</script>