<link rel="stylesheet" href="/css/root.css">
{{!-- <link rel="stylesheet" href="/css/assistant.css"> --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white text-center" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
        <div class="sidebar-item">
            <a href="/operating-room/nursing" class="sidebar-item-title pl-3">
                <i class="ti-dashboard mr-3"></i>Lịch hẹn phẩu thuật
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/coordinator-re-examination" class="sidebar-item-title pl-3">
                <i class="ti-headphone-alt mr-3"></i>Lịch hẹn tái khám
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/nursing/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3 active"></i>Danh sách khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer border-top">
		<div class="sidebar-item border-bottom">
            <a href="/operating-room/nursing/storage" class="sidebar-item-title pl-3">
                <i class="ti-trash mr-3 active"></i>Kho lưu trữ
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/operating-room/nursing/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue border-bottom">
        <div class="img-container">
            <a type="button" onclick="history.back()">
				<i class="fa-solid fa-circle-arrow-left text-light fs-3"></i>
			</a>
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
	{{!-- <input type="text" id="myInput" class="myInput" onkeyup="myFunction()" placeholder="Search for names.."> --}}
</div>
<div class="mt-3 ml-3 mr-3">
	{{#if messages_pushReExamination_error}}
	<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
		{{messages_pushReExamination_error}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<div class="row">
		{{#each schedule}}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
			<div class="card mb-3 shadow text-white bg-glass">
				<div class="card-header bg-transparent d-flex justify-content-between">
					<div class="badge bg-success lh-lg">
						{{formatDate this.schedule}}
					</div>
					<div class="badge bg-danger lh-lg">{{this.status}}</div>
					<a class="text-light" href="/operating-room/nursing/schedule/{{this._id}}/detail">
						<i class="fa-solid fa-ellipsis"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<label class="form-label text-light text-nowrap"><strong>Khách hàng:</strong></label>
						<p class="m-0 text-wrap">
							<span class="badge bg-info text-uppercase fw-bold">
								{{this.customerID.firstName}} {{this.customerID.lastName}}
							</span>
						</p>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-light"><strong>Giới tính:</strong></label>
						<div class="form-label">
							{{this.customerID.gender}}
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-light text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div class="text-light form-label">
							0{{this.customerID.phone}}
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-light text-nowrap" for=""><strong>Dịch vụ:</strong></label>
						<div class="form-label text-right">
							{{this.service}}
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-light text-nowrap" for=""><strong>Phí dịch vụ:</strong></label>
						<div class="text-warning form-label">
							{{this.price}}
						</div>
					</div>
				</div>
				<div class="card-footer bg-transparent">
					<button type="button" class="btn btn-primary btn-mobile mb-2">Khôi phục</button>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<!-- Delete customer modal -->
<div class="modal fade" id="delete-schedule-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Xóa lịch hẹn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="delete-schedule-form" method="POST">
                <input id="delete-cusID" type="text" name="cusID" hidden>
            </form>
            Bạn có chắc muốn xóa lịch hẹn <strong id="delete-schedule" class="text-danger"></strong> không?
        </div>
        <div class="modal-footer">
            <button id="delete-schedule-btn" type="button" class="btn btn-danger">Chắc chắn, xóa</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        </div>
        </div>
    </div>
</div>

<script src="/js/operating/nursing.js"></script>