<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">

{{!-- upload, delete, restore after --}}
{{#if messages_uploadWoundCleaning_success}}
<div class="modal fade" id="messageUploadWoundCleaningSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_uploadWoundCleaning_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageUploadWoundCleaningSuccess = document.querySelector('#messageUploadWoundCleaningSuccess');
		$(messageUploadWoundCleaningSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedWoundCleaningImg_success}}
<div class="modal fade" id="messageDeletedWoundCleaningImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedWoundCleaningImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedWoundCleaningImgSuccess = document.querySelector('#messageDeletedWoundCleaningImgSuccess');
		$(messageDeletedWoundCleaningImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_restoreWoundCleaningImg_success}}
<div class="modal fade" id="messageRestoreWoundCleaningImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_restoreWoundCleaningImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageRestoreWoundCleaningImgSuccess = document.querySelector('#messageRestoreWoundCleaningImgSuccess');
		$(messageRestoreWoundCleaningImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedWoundCleaningVideo_success}}
<div class="modal fade" id="messageDeletedWoundCleaningVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedWoundCleaningVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedWoundCleaningVideoSuccess = document.querySelector('#messageDeletedWoundCleaningVideoSuccess');
		$(messageDeletedWoundCleaningVideoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_restoreWoundCleaningVideo_success}}
<div class="modal fade" id="messageRestoreWoundCleaningVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_restoreWoundCleaningVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageRestoreWoundCleaningVideoSuccess = document.querySelector('#messageRestoreWoundCleaningVideoSuccess');
		$(messageRestoreWoundCleaningVideoSuccess).modal('show');
	});
</script>
{{/if}}

<div class="container-fluid overflow-hidden">
	<div class="row vh-100">
		<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-blue-logo d-flex sticky-top">
			<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
				<a href="/" class="d-flex justify-content-center align-items-center pb-sm-3 mb-md-0 text-light text-decoration-none w-100 border-bottom">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="d-none d-sm-inline fs-6 text-uppercase">Bảng điều khiển</span>
					{{!-- <span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
					</span> --}}
				</a>
				<ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start w-100 mt-2"
					id="menu">
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customers-wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-wheelchair ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách thay băng cắt chỉ</span>
                        </a>
                    </li>
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning" class="nav-link px-sm-0 px-2 text-light active">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customer-re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="ti-shield ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu tái khám định kỳ</span></a>
                    </li>
				</ul>
				<div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 w-100 hover">
					<a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle w-100 p-2 border rounded"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						{{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col d-flex flex-column h-sm-100 ps-0 pe-0 overflow-auto">
			<div class="text-center bg-blue-logo sticky-top d-flex justify-content-between">
				<div class="img-container ps-3 pt-2 pb-2">
					<a type="button" href="/customer-care/employ/wound-cleaning">
						<i class="fa-solid fa-circle-arrow-left text-light ms-1 fs-3"></i>
					</a>
				</div>
				<div class="text-light text-uppercase fw-bold pt-2 pb-2">
					{{this.title}}
				</div>
				<div class="inline pt-2 pb-2 pe-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Hoàn thành thay băng">
					<button type="button" data-bs-toggle="modal" data-bs-target="#submit-wound-cleaning-modal-done"
						class="btn btn-success btn-sm" data-wound-cleaning-id="{{woundCleaning._id}}" data-wound-cleaning-customer-id="{{woundCleaning.cusID._id}}"
						data-wound-cleaning-cutomer-fullName="{{woundCleaning.cusID.fullName}}" data-wound-cleaning-serviceNoteID="{{woundCleaning.serviceNoteID._id}}"
						data-wound-cleaning-woundCleaningScheduleID="{{woundCleaning.woundCleaningScheduleID._id}}">
						<i class="fa-sharp fa-solid fa-circle-check"></i> Hoàn thành thay băng
					</button>
				</div>
			</div>
			<div>
				<ul class="list-group mb-3 ms-3 me-3 mt-3 border-black">
					<li class="list-group-item text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Thông tin khách
								hàng</strong></label>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-4">
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Mã khách hàng:</b></label>&nbsp;
									<div class="text-danger">{{woundCleaning.cusID.identification}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Họ tên khai sinh:</b></label>&nbsp;
									<div class="text-primary">{{woundCleaning.cusID.fullName}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Tên thường gọi:</b></label>&nbsp;
									<div class="text-primary">{{woundCleaning.cusID.nickName}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Ngày sinh:</b></label>&nbsp;
									<div class="text-dark">{{formatBirth woundCleaning.cusID.birth}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Giới tính:</b></label>&nbsp;
									<div class="text-dark">{{woundCleaning.cusID.gender}}</div>
								</div>
							</div>
							<div class="col-4">		
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Số điện thoại:</b></label>&nbsp;
									<div class="text-dark">
										0{{woundCleaning.cusID.phone}}
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Địa chỉ:</b></label>&nbsp;
									<div class="text-dark">
										{{woundCleaning.cusID.homeTown}}
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Chiều cao:</b></label>&nbsp;
									<div class="text-dark">{{woundCleaning.cusID.height}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Cân nặng:</b></label>&nbsp;
									<div class="text-dark">{{woundCleaning.cusID.weight}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Ngày phẩu thuật:</b></label>&nbsp;
									<div class="text-success">{{formatShortDate woundCleaning.serviceNoteID.surgeryDay}}</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Khu vực phẫu thuật:</b></label>&nbsp;
									<div class="text-primary">{{woundCleaning.serviceNoteID.floor}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Bác sĩ thực hiện phẫu thuật:</b></label>&nbsp;
									<div class="text-primary">{{#each woundCleaning.serviceNoteID.performer}}{{this.firstName}} {{this.lastName}}{{/each}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Trạng thái:</b></label>&nbsp;
									<div class="text-danger">{{woundCleaning.status}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Số lần thay băng:</b></label>&nbsp;
									<div class="text-success">0{{woundCleaning.woundCleaningScheduleID.times}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Ngày hẹn thay băng:</b></label>&nbsp;
									<div class="text-primary">{{formatShortDate woundCleaning.woundCleaningScheduleID.schedule}}</div>
								</div>
								
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group mb-3 ms-3 me-3">
					<li class="list-group-item text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Thông tin thay băng tại bệnh viện</strong></label>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<div class="slideshow-container mt-3 mb-3">
									<!-- Full-width images with number and caption text -->
									{{#if woundCleaning.serviceNoteID.afterImg}}
									{{#each woundCleaning.serviceNoteID.afterImg}}
									<div class="slide-after-img fadeOn">
										{{!-- <img class="figure-img img-fluid rounded img-cover img-center" src="{{this.url}}"> --}}
										<img class="figure-img img-fluid rounded img-cover img-center" src="/after/img/{{this.name}}">
									</div>
									{{/each}}
									{{else}}
									<div class="slide-after-img fadeOn text-center">
										Chưa có hình ảnh
									</div>
									{{/if}}

									<!-- Next and previous buttons -->
									<a class="prev" onclick="plusSlidesAfterImg(-1)">&#10094;</a>
									<a class="next" onclick="plusSlidesAfterImg(1)">&#10095;</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="slideshow-container mt-3 mb-3">
									<!-- Full-width images with number and caption text -->
									{{#if woundCleaning.serviceNoteID.afterVideo}}
									{{#each woundCleaning.serviceNoteID.afterVideo}}
									<div class="slide-after-video fadeOn">
										<video class="figure-img img-fluid rounded video-cover-slide img-center mb-0" style="height: 318px;" controls>
											{{!-- <source src="{{this.url}}"> --}}
											<source src="/after/video/{{this.name}}">
										</video>
									</div>
									{{/each}}
									{{else}}
									<div class="slide-after-video fadeOn text-center">
										Chưa có video
									</div>
									{{/if}}

									<!-- Next and previous buttons -->
									<a class="prev" onclick="plusSlidesAfterVideo(-1)">&#10094;</a>
									<a class="next" onclick="plusSlidesAfterVideo(1)">&#10095;</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="status" class="text-nowrap">
									<strong>Tình trạng khách hàng:</strong>
								</label>
								{{#if woundCleaning.serviceNoteID.statusAfterInfo}}
								<p class="text-break">{{woundCleaning.serviceNoteID.statusAfterInfo}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="status" class="text-nowrap">
									<strong>Chỉ định bác sĩ:</strong>
								</label>
								{{#if woundCleaning.serviceNoteID.directedByDoctor}}
								<p class="text-break">{{woundCleaning.serviceNoteID.directedByDoctor}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="status" class="text-nowrap">
									<strong>Các bước thực hiện:</strong>
								</label>
								{{#if woundCleaning.serviceNoteID.afterInfo}}
								<p class="text-break">{{woundCleaning.serviceNoteID.afterInfo}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group mb-3 ms-3 me-3">
					<li class="list-group-item text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Cập nhật thông tin thay băng</strong></label>
					</li>
					<li class="list-group-item">
						<div class="d-flex justify-content-between mb-2">
							<button class="btn btn-danger btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#restoreImgWoundCleaning" aria-expanded="false" aria-controls="restoreImgWoundCleaning">
								<i class="ti-trash"></i> Thùng rác
							</button>
							<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadWoundCleaningModal">
							Tải ảnh và video thay băng cắt chỉ
							</button>
						</div>
						<div class="collapse" id="restoreImgWoundCleaning">
							<div class="card card-body">
								<div class="row">
									<div class="col-md-6 border-right">
										<div class="row overflow-auto" style="height: 350px;">
											{{#each woundCleaning.woundCleaningImg}}
											{{#if notDeletedYet}}
											{{else}}
											<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2">
												<a type="button" class="" data-bs-toggle="modal" data-bs-target="#restoreImageModalWoundCleaning" data-img="{{this.name}}">
													<img class="img-fluid img-150"
														src="/wound-cleaning/img/{{this.name}}">
												</a>
												{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#restoreImageModalWoundCleaning" data-img="{{this.url}}">
													<img class="img-fluid img-150"
														src="{{this.url}}">
												</a> --}}
											</div>
											{{/if}}
											{{/each}}
										</div>
									</div>
									<div class="col-md-6">
										<div class="row overflow-auto" style="height: 350px;">
											{{#each woundCleaning.woundCleaningVideo}}
											{{#if notDeletedYet}}
											{{else}}
											<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2">
												<a type="button" class="" data-bs-toggle="modal" data-bs-target="#restoreVideoModalWoundCleaning" data-video="{{this.name}}">
													<video class="img-fluid video-150"
														src="/wound-cleaning/video/{{this.name}}"></video>
												</a>
												{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#restoreVideoModalWoundCleaning" data-video="{{this.url}}">
													<video class="img-fluid video-150"
														src="{{this.url}}"></video>
												</a> --}}
											</div>
											{{/if}}
											{{/each}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row mb-2">
							<div class="col-md-6">
								<div class="row border overflow-auto rounded m-0" style="height: 350px;">
									{{#each woundCleaning.woundCleaningImg}}
									{{#if notDeletedYet}}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2">
										{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalWoundCleaning" data-img="{{this.url}}">
											<img class="img-fluid img-150" src="{{this.url}}">
										</a> --}}
										<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalWoundCleaning" data-img="{{this.name}}">
											<img class="img-fluid img-150" src="/wound-cleaning/img/{{this.name}}">
										</a>
									</div>
									{{/if}}
									{{/each}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="row border overflow-auto rounded m-0" style="height: 350px;">
									{{#each woundCleaning.woundCleaningVideo}}
									{{#if notDeletedYet}}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2 mb-2">
										{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalWoundCleaning" data-video="{{this.url}}">
											<video class="img-fluid video-150" src="{{this.url}}"></video>
										</a> --}}
										<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalWoundCleaning" data-video="{{this.name}}">
											<video class="img-fluid video-150" src="/wound-cleaning/video/{{this.name}}"></video>
										</a>
									</div>
									{{/if}}
									{{/each}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Tình trạng khách hàng:</strong></label>
								{{#if woundCleaning.statusInfo}}
								<p class="text-break">{{woundCleaning.statusInfo}}</p>
								{{else}}
								<p class="text-break">Chưa nhập thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Chỉ định bác sĩ:</strong></label>
								{{#if woundCleaning.directedByDoctor}}
								<p class="text-break">{{woundCleaning.directedByDoctor}}</p>
								{{else}}
								<p class="text-break">Chưa nhập thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Các bước thực hiện:</strong></label>
								{{#if woundCleaning.stepsToTake}}
								<p class="text-break">{{woundCleaning.stepsToTake}}</p>
								{{else}}
								<p class="text-break">Chưa nhập thông tin</p>
								{{/if}}
							</div>
						</div>
						<div class="modal fade" id="uploadWoundCleaningModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<form method="POST" id="submit-wound-cleaning-form"
										action="/customer-care/employ/wound-cleaning/{{woundCleaning._id}}/upload"
										enctype="multipart/form-data">
										<div class="modal-header bg-primary">
											<h5 class="modal-title text-light" id="exampleModalLabel">Tải hình ảnh và video thay băng cắt chỉ</h5>
											<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
												<input hidden type="text" value="{{woundCleaning.cusID._id}}" name="cusID">
												<div class="row">
													<div class="col-md-6 mb-3">
														<div id="preview-images-wound-cleaning" class="preview-images-wound-cleaning text-center border rounded overflow-auto ms-0 me-0 mb-3 p-3"
															style="height: 250px;"></div>
														<label for="input-multi-images-wound-cleaning"
															class="label-avt m-0 btn btn-outline-secondary btn-sm text-uppercase w-100">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh thay băng cắt chỉ
														</label>
														<input id="input-multi-images-wound-cleaning" class="form-control visually-hidden" type="file"
															name="woundCleaning" accept="image/*" multiple>
													</div>
													<div class="col-md-6 mb-3">
														<div id="preview-videos-wound-cleaning" class="preview-videos-wound-cleaning text-center border rounded overflow-auto ms-0 me-0 mb-3 p-3"
															style="height: 250px;"></div>
														<label for="input-multi-videos-wound-cleaning"
															class="label-avt m-0 btn btn-outline-secondary btn-sm text-uppercase w-100">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video thay băng cắt chỉ
														</label>
														<input id="input-multi-videos-wound-cleaning" class="form-control visually-hidden" type="file" name="woundCleaning" accept="video/*" multiple>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="form-group-text" for="inputGroupSelect"><strong>Nhân viên thay băng:</strong>&nbsp;<span class="text-danger">*</span></label>
															{{#if woundCleaning.performer}}
															<select class="form-select form-control" id="inputGroupSelectTrue" name="performer" rules="required">
																<option value="{{woundCleaning.performer._id}}" selected>{{woundCleaning.performer.firstName}} {{woundCleaning.performer.lastName}}</option>
																{{#each users}}
																<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
																{{/each}}
															</select>
															<span class="form-message mt-1"></span>
															{{else}}
															<select class="form-select form-control" id="inputGroupSelectFail" name="performer" rules="required">
																<option value=""></option>
																{{#each users}}
																<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
																{{/each}}
															</select>
															<span class="form-message mt-1"></span>
															{{/if}}
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="form-group-text" for="inputGroupWoundCleaningDay"><strong>Ngày thay băng:</strong>&nbsp;<span class="text-danger">*</span></label>
															{{#if woundCleaning.woundCleaningDay}}
															<input class="form-control" type="datetime-local" name="woundCleaningDay" id="inputGroupWoundCleaningDay" rules="required" value="{{woundCleaning.woundCleaningDay}}">
															{{else}}
															<input class="form-control" type="datetime-local" name="woundCleaningDay" id="inputGroupWoundCleaningDay" rules="required">
															{{/if}}
															<span class="form-message mt-1"></span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="form-group-text" for="inputGroupWoundCleaningArea"><strong>Khu vực thay băng:</strong>&nbsp;<span class="text-danger">*</span></label>
															{{#if woundCleaning.woundCleaningArea}}
															<input class="form-control" type="text" name="woundCleaningArea" id="inputGroupWoundCleaningArea" placeholder="VD: Tầng 3 phòng 3.6" rules="required" value="{{woundCleaning.woundCleaningArea}}">
															{{else}}
															<input class="form-control" type="text" name="woundCleaningArea" id="inputGroupWoundCleaningArea" placeholder="VD: Tầng 3 phòng 3.6" rules="required">
															{{/if}}
															<span class="form-message mt-1"></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group mb-0">
															<label for="steps-to-take-area"><strong>Tình trạng khách
																	hàng:</strong></label>
															{{#if woundCleaning.statusInfo}}
															<textarea class="form-control" name="statusInfo" rows="3" rules="required">{{woundCleaning.statusInfo}}</textarea>
															{{else}}
															<textarea class="form-control" name="statusInfo" rows="3" rules="required"></textarea>
															{{/if}}
															<span class="form-message mt-1"></span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group mb-0">
															<label for="steps-to-take-area"><strong>Chỉ định bác
																	sĩ:</strong></label>
															{{#if woundCleaning.directedByDoctor}}
															<textarea class="form-control" name="directedByDoctor" rows="3" rules="required">{{woundCleaning.directedByDoctor}}</textarea>
															{{else}}
															<textarea class="form-control" name="directedByDoctor" rows="3" rules="required"></textarea>
															{{/if}}
															<span class="form-message mt-1"></span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group mb-0">
															<label for="steps-to-take-area"><strong>Các bước thực
																	hiện:</strong></label>
															{{#if woundCleaning.stepsToTake}}
															<textarea class="form-control" name="stepsToTake" rows="3" rules="required">{{woundCleaning.stepsToTake}}</textarea>
															{{else}}
															<textarea class="form-control" name="stepsToTake" rows="3" rules="required"></textarea>
															{{/if}}
															<span class="form-message mt-1"></span>
														</div>
													</div>
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
											<button id="submit-wound-cleaning-form-btn"
											class="btn btn-primary btn-sm">Cập nhật</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Delete Wound Cleaning Image Modal -->
<div class="modal fade" id="imageModalWoundCleaning" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST" name="deleteImgWoundCleaningForm" action="/customer-care/employ/wound-cleaning/{{woundCleaning._id}}/delete-img-wound-cleaning?_method=DELETE">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-wound-cleaning" class="img-thumbnail" alt="...">
					<input id="inputDeleteImgWoundCleaning" type="text" name="imgName" hidden>
					<input class="form-control bg-light" type="text"
						value="{{woundCleaning.cusID._id}}" hidden name="cusID">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm">Xóa ảnh</button>
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>


<!-- Restore Wound Cleaning Image Modal -->
<div class="modal fade" id="restoreImageModalWoundCleaning" tabindex="-1" aria-labelledby="restoreImageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="restoreImgWoundCleaningForm" action="/customer-care/employ/wound-cleaning/{{woundCleaning._id}}/restore-img-wound-cleaning?_method=PATCH">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="restore-img-wound-cleaning" class="img-thumbnail" alt="...">
					<input id="inputRestoreImageWoundCleaning" type="text" name="imgName" hidden>
					<input class="form-control bg-light" type="text"
						value="{{woundCleaning.cusID._id}}" hidden name="cusID">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
				<button class="btn btn-primary btn-sm">Khôi phục</button>
			</div>
		</div>
		</form>
	</div>
</div>

<!-- Delete Wound Cleaning Video Modal -->
<div class="modal fade" id="videoModalWoundCleaning" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST" name="deleteVideoWoundCleaningForm" action="/customer-care/employ/wound-cleaning/{{woundCleaning._id}}/delete-video-wound-cleaning?_method=DELETE">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-wound-cleaning" class="img-thumbnail" alt="..." controls>
					<input id="inputDeleteVideoWoundCleaning" type="text" name="videoName" hidden>
					<input class="form-control bg-light" type="text"
						value="{{woundCleaning.cusID._id}}" hidden name="cusID">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm">Xóa video</button>
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- Restore Wound Cleaning Video Modal -->
<div class="modal fade" id="restoreVideoModalWoundCleaning" tabindex="-1" aria-labelledby="restoreVideoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="restoreImgWoundCleaningForm" action="/customer-care/employ/wound-cleaning/{{woundCleaning._id}}/restore-video-wound-cleaning?_method=PATCH">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="restore-video-wound-cleaning" class="img-thumbnail" alt="..." controls></video>
					<input id="inputRestoreVideoWoundCleaning" type="text" name="videoName" hidden>
					<input class="form-control bg-light" type="text"
						value="{{woundCleaning.cusID._id}}" hidden name="cusID">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
				<button class="btn btn-primary btn-sm">Khôi phục</button>
			</div>
		</div>
		</form>
	</div>
</div>

{{!-- Move to Re-examination --}}
<div class="modal fade" id="submit-wound-cleaning-modal-done" tabindex="-1" aria-labelledby="move-to-re-exam-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title text-light" id="move-to-re-exam-label">Xác nhận hoàn thành thay băng</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="submit-wound-cleaning-done-form">
					<input type="text" name="cusID" id="submit-wound-cleaning-cusID" hidden>
					<input type="text" name="fullName" id="submit-wound-cleaning-fullName" hidden>
					<input type="text" name="serviceNoteID" id="submit-wound-cleaning-serviceNoteID" hidden>
					<input type="text" name="woundCleaningScheduleID" id="submit-wound-cleaning-woundCleaningScheduleID" hidden>
				</form>
				Bạn chắc chắn đã nhập đầy đủ thông tin và xác nhận hoàn thành thay băng cho khách hàng <strong id="submit-wound-cleaning-fullname"></strong>?
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="submit-wound-cleaning-btn" type="button" class="btn btn-success btn-sm">Có, chắc chắn và hoàn thành</button>
				<button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Không. Cần kiểm tra lại</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-wound-cleaning-update.js"></script>

<script>
    validate('#submit-wound-cleaning-form');
</script>