<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-blue-logo d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                <a href="/" class="d-flex justify-content-center align-items-center pb-sm-3 mb-md-0 text-light text-decoration-none w-100 border-bottom">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="d-none d-sm-inline fs-6 text-uppercase">Bảng điều khiển</span>
					{{!-- <span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
					</span> --}}
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start w-100 mt-2" id="menu">
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customers-wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-wheelchair ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách thay băng cắt chỉ</span>
                        </a>
                    </li>
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customer-re-exam" class="nav-link px-sm-0 px-2 text-light active">
                            <i class="ti-shield ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu tái khám định kỳ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 w-100 hover">
                    <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle w-100 rounded p-2 border" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/customer-care/employ/storage">Kho lưu trữ hồ sơ khách hàng</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
						<li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0 overflow-auto">
			<div class="text-center bg-blue-logo sticky-top d-flex justify-content-between">
				<div class="img-container p-2">
					<a type="button" onclick="history.back()">
						<i class="fa-solid fa-circle-arrow-left text-light ms-1 fs-3"></i>
					</a>
				</div>
				<div class="text-light text-uppercase fw-bold pt-2 pb-2">
					{{this.title}}
				</div>
				<div></div>
			</div>
			<div class="container-fluid">
				<table id="table-storage" class="table table-hover table-bordered table-sm">
					<thead>
						<tr class="text-nowrap">
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Mã khách hàng</th>
							<th class="text-center" scope="col">Họ tên khai sinh</th>
							<th class="text-center" scope="col">Tên thường gọi</th>
							<th class="text-center" scope="col">Giới tính</th>
							<th class="text-center" scope="col">Số điện thoại</th>
							<th class="text-center" scope="col">Trạng thái</th>
							<th class="text-center" scope="col">Hành động</th>
						</tr>
					</thead>
					<tbody id="table-content">
						{{#each customers}}
						<tr class="text-nowrap text-value">
							<th class="text-center">{{sum @index 1}}</th>
							<td class="text-identify">{{this.identification}}</td>
							<td class="text-fullName"><a class="fullName-link" href="/customer-care/employ/storage/{{this._id}}/detail">{{this.fullName}}</a></td>
							<td class="text-nickName">{{this.nickName}}</td>
							<td class="">{{this.gender}}</td>
							<td class="text-phone">0{{this.phone}}</td>
							<td class="text-status">{{this.statusCus.statusVi}}</td>
							<td class="text-center">
								<div class="inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Tạo lịch tái khám">
									<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#create-re-exam-modal-customer-care"
									data-id="{{this._id}}" data-cusId="{{this._id}}" data-identification="{{this.identification}}"
									data-fullName="{{this.fullName}}" data-nickName="{{this.nickName}}" data-gender="{{this.gender}}"
									data-phone="{{this.phone}}">
										<i class="fa-sharp fa-solid fa-calendar-plus"></i>
									</button>
								</div>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{{#if messages_createReExamination_success}}
<div class="alert alert-success alert-dismissible fade show mt-2 ms-2 me-2" role="alert">
	{{messages_createReExamination_success}}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{!-- <div class="d-flex justify-content-between me-3 mt-3 mb-3">
	<div></div>
	<div>
		<input id="search-customer" type="text" class="form-control" placeholder="Tìm kiếm...">
	</div>
</div> --}}


<!-- Modal -->
<div class="modal fade" id="create-re-exam-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Tạo lịch tái khám</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="create-re-exam-form-customer-care" method="POST">
					<input id="create-re-exam-cusId-customer-care" type="text" name="cusID" hidden>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Mã khách hàng:</strong></label>
						<div id="create-re-exam-identification-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Họ tên khai sinh:</strong></label>
						<div id="create-re-exam-fullname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Tên thường gọi:</strong></label>
						<div id="create-re-exam-nickname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label"><strong>Giới tính:</strong></label>
						<div id="create-re-exam-gender-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div id="create-re-exam-phone-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Tái khám lần:</strong></label>
						<div>
							<input type="text" name="times" id="" class="form-control form-control-sm rounded-pill text-right" placeholder="Vd: 1">
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Ngày hẹn:</strong></label>
						<div>
							<input type="datetime-local" id="create-re-exam-schedule-customer-care" class="form-control rounded-pill" name="schedule">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-re-exam-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Tạo lịch</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>


<!-- Hoàn thành chăm sóc khách hàng modal -->
<div class="modal fade" id="submit-service-note-done-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Hoàn thành chăm sóc khách hàng</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="submit-service-note-done-form-customer-care" method="POST">
					<input id="submit-service-note-done-cusId-customer-care" type="text" name="cusID" hidden>
					Bạn chắc chắn đã hoàn thành chăm sóc khách hàng <strong class="text-danger" id="fullName-modal-customer-care"></strong>
				</form>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="submit-service-note-done-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>