<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-blue-logo d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                <a href="/" class="d-flex justify-content-center align-items-center pb-sm-3 mb-md-0 text-light text-decoration-none w-100 border-bottom">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="d-none d-sm-inline fs-6 text-uppercase">Bảng điều khiển</span>
					{{!-- <span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
					</span> --}}
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start w-100 mt-2" id="menu">
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customers-wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-wheelchair ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách thay băng cắt chỉ</span>
                        </a>
                    </li>
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customer-re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="ti-shield ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam" class="nav-link px-sm-0 px-2 text-light active">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu tái khám định kỳ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 w-100 hover">
                    <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle w-100 p-2 border rounded" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0 overflow-auto">
			<div class="text-center bg-blue-logo sticky-top d-flex justify-content-between">
				<div class="img-container p-2">
					<a type="button" onclick="history.back()">
						<i class="fa-solid fa-circle-arrow-left text-light ms-1 fs-3"></i>
					</a>
				</div>
				<div class="text-light text-uppercase fw-bold pt-2 pb-2">
					{{this.title}}
				</div>
				<div></div>
			</div>
			<div class="container-fluid">
				<ul class="list-group mb-3 ms-3 me-3 mt-3 border-black">
					<li class="list-group-item active text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Thông tin khách
								hàng</strong></label>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-4">
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Mã khách hàng:</b></label>&nbsp;
									<div class="text-danger">{{reExam.cusID.identification}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Họ tên khai sinh:</b></label>&nbsp;
									<div class="text-primary">{{reExam.cusID.fullName}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Tên thường gọi:</b></label>&nbsp;
									<div class="text-primary">{{reExam.cusID.nickName}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Ngày sinh:</b></label>&nbsp;
									<div class="text-dark">{{formatBirth reExam.cusID.birth}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Giới tính:</b></label>&nbsp;
									<div class="text-dark">{{reExam.cusID.gender}}</div>
								</div>
							</div>
							<div class="col-4">		
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Số điện thoại:</b></label>&nbsp;
									<div class="text-dark">
										0{{reExam.cusID.phone}}
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Địa chỉ:</b></label>&nbsp;
									<div class="text-dark">
										{{reExam.cusID.homeTown}}
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Chiều cao:</b></label>&nbsp;
									<div class="text-dark">{{reExam.cusID.height}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Cân nặng:</b></label>&nbsp;
									<div class="text-dark">{{reExam.cusID.weight}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Ngày phẩu thuật:</b></label>&nbsp;
									<div class="text-success">{{formatShortDate reExam.serviceNoteID.surgeryDay}}</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Khu vực phẫu thuật:</b></label>&nbsp;
									<div class="text-primary">{{reExam.serviceNoteID.floor}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Bác sĩ thực hiện phẫu thuật:</b></label>&nbsp;
									<div class="text-primary">{{#each reExam.serviceNoteID.performer}}{{this.firstName}} {{this.lastName}}{{/each}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark"><b>Trạng thái:</b></label>&nbsp;
									<div class="text-danger">{{reExam.status}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Số lần thay băng:</b></label>&nbsp;
									<div class="text-success">0{{reExam.reExamScheduleID.times}}</div>
								</div>
								<div class="d-flex justify-content-start">
									<label class="text-dark text-nowrap"><b>Ngày hẹn thay băng:</b></label>&nbsp;
									<div class="text-primary">{{formatShortDate reExam.reExamScheduleID.schedule}}</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group mb-3 ms-3 me-3">
					<li class="list-group-item active text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Thông tin tái khám</strong></label>
					</li>
					<li class="list-group-item">
						<div class="row mb-2">
							<div class="col-md-6">
								<div class="row border overflow-auto m-0" style="height: 350px;">
									{{#each reExam.reExamImg}}
									{{#if notDeletedYet}}
									<div class="col-md-4 mt-2 mb-2">
										{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalReExam" data-img="{{this.url}}">
											<img class="img-fluid" src="{{this.url}}">
										</a> --}}
										<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalReExam" data-img="{{this.name}}">
											<img class="img-fluid" src="/re-examination/img/{{this.name}}">
										</a>
									</div>
									{{/if}}
									{{/each}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="row border overflow-auto m-0" style="height: 350px;">
									{{#each reExam.reExamVideo}}
									{{#if notDeletedYet}}
									<div class="col-md-4 mt-2 mb-2">
										{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalReExam" data-video="{{this.url}}">
											<video class="img-fluid" src="{{this.url}}"></video>
										</a> --}}
										<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalReExam" data-video="{{this.name}}">
											<video class="img-fluid" src="/re-examination/video/{{this.name}}"></video>
										</a>
									</div>
									{{/if}}
									{{/each}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Bác sĩ tái khám:</strong></label>
								{{#if reExam.performer}}
								<p class="text-break inline">{{reExam.performer.firstName}} {{reExam.performer.lastName}}</p>
								{{else}}
								<p class="text-break inline">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Ngày tái khám:</strong></label>
								{{#if reExam.reExaminationDate}}
								<p class="text-break inline">{{formatShortDate reExam.reExaminationDate}}</p>
								{{else}}
								<p class="text-break inline">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Khu vực tái khám:</strong></label>
								{{#if reExam.reExaminationArea}}
								<p class="text-break inline">{{reExam.reExaminationArea}}</p>
								{{else}}
								<p class="text-break inline">Chưa có thông tin</p>
								{{/if}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Tình trạng khách
										hàng:</strong></label>
								{{#if reExam.statusInfo}}
								<p class="text-break">{{reExam.statusInfo}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Chỉ định bác
										sĩ:</strong></label>
								{{#if reExam.directedByDoctor}}
								<p class="text-break">{{reExam.directedByDoctor}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
							<div class="col-md-4">
								<label for="steps-to-take-area"><strong>Các bước thực
										hiện:</strong></label>
								{{#if reExam.stepsToTake}}
								<p class="text-break">{{reExam.stepsToTake}}</p>
								{{else}}
								<p class="text-break">Chưa có thông tin</p>
								{{/if}}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-re-exam-detail.js"></script>