<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="row me-0 pe-0">
	<div class="col-md-2 pe-0 bg-blue position-relative">
		<div class="nav navbar border-bottom">
			<div></div>
			<h6 class="text-light">BẢNG ĐIỀU KHIỂN</h6>
			<div></div>
		</div>
		<div class="nav flex-column container-sidebar" style="height: 82.3vh;">
			<div class="sidebar-item">
				<a href="/customer-care/employ/customers" class="sidebar-item-title ps-3 pe-3">
					<i class="ti-user mr-3"></i>Hồ sơ khách xuất viện
				</a>
			</div>
			<div class="sidebar-item">
				<a href="/customer-care/employ/re-exam" class="sidebar-item-title ps-3 pe-3">
					<i class="fa-regular fa-calendar mr-3"></i> Danh sách lịch thay băng
				</a>
			</div>
			<div class="sidebar-item">
				<a href="/customer-care/employ/storage" class="sidebar-item-title ps-3 pe-3">
					<i class="fa-sharp fa-solid fa-boxes-packing mr-3"></i>Kho lưu trữ hồ sơ
				</a>
			</div>
		</div>
		<div class="border-top">
			<div class="sidebar-item">
				<a href="/customer-care/employ/profile" class="sidebar-item-title pl-3">
					<i class="ti-user mr-3"></i>Thông tin cá nhân
				</a>
			</div>
			<div class="sidebar-item">
				<form method="POST" action="/logout">
					<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-10 ps-0 pe-0">
		<nav class="navbar navbar-light bg-blue">
			<div class="img-container">
			</div>
			<div class="text-light text-uppercase fw-bold">
				{{this.title}}
			</div>
			<div></div>
		</nav>
		<div class="ps-3 pe-3">
			<nav class="p-2 float-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<input id="search-surgeryDay" type="date" class="form-control">
					<button id="filter" class="btn btn-outline-secondary"><i class="ti-filter"></i></button>
				</div>
				<div class="btn-group" role="group" aria-label="Basic example">
					<input id="search-table" class="form-control" type="text" placeholder="Tìm kiếm...">
				</div>
			</nav>
			<table id="table-customer" class="table table-hover table-bordered table-sm">
				<thead class="bg-blue text-light">
					<tr class="text-nowrap">
						<th class="text-center" scope="col">#</th>
						<th class="text-center" scope="col">Ngày phẫu thuật</th>
						<th class="text-center" scope="col">Mã khách hàng</th>
						<th class="text-center" scope="col">Họ tên khai sinh</th>
						<th class="text-center" scope="col">Tên thường gọi</th>
						<th class="text-center" scope="col">Giới tính</th>
						<th class="text-center" scope="col">Số điện thoại</th>
						<th class="text-center" scope="col">Trạng thái</th>
						<th class="text-center" scope="col">Tác vụ</th>
					</tr>
				</thead>
				<tbody id="table-content">
					{{#each serviceNote}}
					<tr class="text-nowrap text-value">
						<th class="text-center">{{sum @index 1}}</th>
						<td class="text-identify">{{formatBirth this.surgeryDay}}</td>
						<td class="text-identify">{{this.scheduleID.customerID.identification}}</td>
						<td class="text-fullName"><a class="fullName-link" href="/customer-care/employ/customers/{{this._id}}/detail">{{this.scheduleID.customerID.fullName}}</a></td>
						<td class="text-nickName">{{this.scheduleID.customerID.nickName}}</td>
						<td class="">{{this.scheduleID.customerID.gender}}</td>
						<td class="text-phone">0{{this.scheduleID.customerID.phone}}</td>
						<td class="text-status">{{this.status}}</td>
						<td class="text-center">
							<div class="inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Tạo lịch thay băng">
								<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#create-re-exam-modal-customer-care"
								data-id="{{this._id}}" data-cusId="{{this.scheduleID.customerID._id}}" data-identification="{{this.scheduleID.customerID.identification}}"
								data-fullName="{{this.scheduleID.customerID.fullName}}" data-nickName="{{this.scheduleID.customerID.nickName}}" data-gender="{{this.scheduleID.customerID.gender}}"
								data-phone="{{this.scheduleID.customerID.phone}}">
									<i class="fa-sharp fa-solid fa-calendar-plus"></i> Tạo lịch thay băng
								</button>
							</div>
							<div class="inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Lưu hồ sơ">
								<button class="btn btn-success btn-sm" data-fullName-customer-care="{{this.scheduleID.customerID.fullName}}" data-cusID="{{this.scheduleID.customerID._id}}"
								data-bs-toggle="modal" data-bs-target="#submit-service-note-done-modal-customer-care" data-id-customer-care="{{this._id}}">
									<i class="fa-sharp fa-solid fa-boxes-packing"></i> Lưu hồ sơ
								</button>
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{#if messages_createReExamination_success}}
<div class="alert alert-success alert-dismissible fade show mt-2 ms-2 me-2" role="alert">
	{{messages_createReExamination_success}}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="create-re-exam-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Tạo lịch tái khám</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="create-re-exam-form-customer-care" method="POST">
					<input id="create-re-exam-cusId-customer-care" type="text" name="cusID" hidden>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Mã khách hàng:</strong></label>
						<div id="create-re-exam-identification-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Họ tên khai sinh:</strong></label>
						<div id="create-re-exam-fullname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Tên thường gọi:</strong></label>
						<div id="create-re-exam-nickname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label"><strong>Giới tính:</strong></label>
						<div id="create-re-exam-gender-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div id="create-re-exam-phone-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Tái khám lần:</strong></label>
						<div>
							<input type="text" name="times" id="" class="form-control form-control-sm rounded-pill text-right" placeholder="Vd: 1">
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Ngày hẹn:</strong></label>
						<div>
							<input type="datetime-local" id="create-re-exam-schedule-customer-care" class="form-control rounded-pill" name="schedule">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-re-exam-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Tạo lịch</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>


<!-- Hoàn thành chăm sóc khách hàng modal -->
<div class="modal fade" id="submit-service-note-done-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Hoàn thành chăm sóc khách hàng</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="submit-service-note-done-form-customer-care" method="POST">
					<input id="submit-service-note-done-cusId-customer-care" type="text" name="cusID" hidden>
					Bạn chắc chắn đã hoàn thành chăm sóc khách hàng <strong class="text-danger" id="fullName-modal-customer-care"></strong>
				</form>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="submit-service-note-done-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>