<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-blue border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-blue">
		<div class="sidebar-item">
            <a href="/customer-care/employ/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i> Danh sách khách hàng xuất viện
            </a>
        </div>
		<div class="sidebar-item bg-blue">
            <a href="/customer-care/employ/re-exam" class="sidebar-item-title pl-3">
                <i class="fa-regular fa-calendar mr-3"></i> Danh sách lịch tái khám
            </a>
        </div>
		<div class="sidebar-item bg-blue">
            <a href="/customer-care/employ/storage" class="sidebar-item-title pl-3">
                <i class="fa-sharp fa-solid fa-boxes-packing mr-3"></i>Kho lưu trữ hồ sơ
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-blue border-top">
        <div class="sidebar-item">
            <a href="/customer-care/employ/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-blue">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
{{#if messages_createReExamination_success}}
<div class="alert alert-success alert-dismissible fade show mt-2 ms-2 me-2" role="alert">
	{{messages_createReExamination_success}}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="d-flex justify-content-between me-3 mt-3 mb-3">
	<div></div>
	<div>
		<input id="search-customer" type="text" class="form-control" placeholder="Tìm kiếm...">
	</div>
</div>
<div class="ps-3 pe-3">
	<table id="table-customer" class="table table-hover table-bordered table-sm">
		<thead class="bg-blue text-light">
			<tr class="text-nowrap">
				<th class="text-center" scope="col">#</th>
				<th class="text-center" scope="col">Mã khách hàng</th>
				<th class="text-center" scope="col">Họ tên khai sinh</th>
				<th class="text-center" scope="col">Tên thường gọi</th>
				<th class="text-center" scope="col">Giới tính</th>
				<th class="text-center" scope="col">Số điện thoại</th>
				<th class="text-center" scope="col">Trạng thái</th>
				<th class="text-center" scope="col">Hành động</th>
			</tr>
		</thead>
		<tbody id="table-content">
			{{#each customers}}
			<tr class="text-nowrap text-value">
				<th class="text-center">{{sum @index 1}}</th>
				<td class="text-identify">{{this.identification}}</td>
				<td class="text-fullName"><a class="fullName-link" href="/customer-care/employ/storage/{{this._id}}/detail">{{this.fullName}}</a></td>
				<td class="text-nickName">{{this.nickName}}</td>
				<td class="">{{this.gender}}</td>
				<td class="text-phone">0{{this.phone}}</td>
				<td class="text-status">{{this.statusCus.statusVi}}</td>
				<td class="text-center">
					<div class="inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Tạo lịch tái khám">
						<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#create-re-exam-modal-customer-care"
						data-id="{{this._id}}" data-cusId="{{this._id}}" data-identification="{{this.identification}}"
						data-fullName="{{this.fullName}}" data-nickName="{{this.nickName}}" data-gender="{{this.gender}}"
						data-phone="{{this.phone}}">
							<i class="fa-sharp fa-solid fa-calendar-plus"></i>
						</button>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="create-re-exam-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Tạo lịch tái khám</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="create-re-exam-form-customer-care" method="POST">
					<input id="create-re-exam-cusId-customer-care" type="text" name="cusID" hidden>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Mã khách hàng:</strong></label>
						<div id="create-re-exam-identification-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Họ tên khai sinh:</strong></label>
						<div id="create-re-exam-fullname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap"><strong>Tên thường gọi:</strong></label>
						<div id="create-re-exam-nickname-customer-care" class="m-0 text-wrap" ></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label"><strong>Giới tính:</strong></label>
						<div id="create-re-exam-gender-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Số điện thoại:</strong></label>
						<div id="create-re-exam-phone-customer-care" class="form-label"></div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Tái khám lần:</strong></label>
						<div>
							<input type="text" name="times" id="" class="form-control form-control-sm rounded-pill text-right" placeholder="Vd: 1">
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<label class="form-label text-nowrap" for=""><strong>Ngày hẹn:</strong></label>
						<div>
							<input type="datetime-local" id="create-re-exam-schedule-customer-care" class="form-control rounded-pill" name="schedule">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-re-exam-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Tạo lịch</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>


<!-- Hoàn thành chăm sóc khách hàng modal -->
<div class="modal fade" id="submit-service-note-done-modal-customer-care" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-blue">
				<h5 class="modal-title text-light" id="exampleModalLabel">Hoàn thành chăm sóc khách hàng</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="submit-service-note-done-form-customer-care" method="POST">
					<input id="submit-service-note-done-cusId-customer-care" type="text" name="cusID" hidden>
					Bạn chắc chắn đã hoàn thành chăm sóc khách hàng <strong class="text-danger" id="fullName-modal-customer-care"></strong>
				</form>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button id="submit-service-note-done-btn-customer-care" type="button" class="btn btn-primary rounded-pill">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>