<div class="slideshow-container mt-3 mb-3">
									<!-- Full-width images with number and caption text -->
									{{!-- {{#if this.reExamImg}} --}}
									{{#each this.reExamImg}}
									<div class="slide-re-exam-img fadeOn">
										{{!-- <img class="figure-img img-fluid rounded img-cover img-center" src="{{this.url}}"> --}}
										<img class="figure-img img-fluid rounded img-cover img-center" src="/re-examination/img/{{this.name}}">
									</div>
									{{/each}}
									{{!-- {{else}}
									<div class="slide-after-img fadeOn text-center">
										Chưa có hình ảnh
									</div>
									{{/if}} --}}

									<!-- Next and previous buttons -->
									<a class="prev" onclick="plusSlidesReExamImg(-1)">&#10094;</a>
									<a class="next" onclick="plusSlidesReExamImg(1)">&#10095;</a>
									<!-- The dots/circles -->
									<div style="text-align:center">
										{{#each this.reExamImg}}
										<span class="dotImg" onclick="currentSlidesReExamImg({{@index}})"></span>
										{{/each}}
									</div>
								</div>
								<div class="slideshow-container mb-3">
									<!-- Full-width images with number and caption text -->
									{{#if this.reExamVideo}}
									{{#each this.reExamVideo}}
									<div class="slide-re-exam-video fadeOn">
										<video class="figure-img img-fluid rounded video-cover-slide img-center" controls>
											{{!-- <source src="{{this.url}}"> --}}
											<source src="/re-examination/video/{{this.name}}">
										</video>
									</div>
									{{/each}}
									{{else}}
									<div class="slide-after-video fadeOn text-center">
										Chưa có video
									</div>
									{{/if}}

									<!-- Next and previous buttons -->
									<a class="prev" onclick="plusSlidesReExamVideo(-1)">&#10094;</a>
									<a class="next" onclick="plusSlidesReExamVideo(1)">&#10095;</a>
									<!-- The dots/circles -->
									<div style="text-align:center">
										{{#each this.reExamVideo}}
										<span class="dotVideo" onclick="currentSlidesReExamVideo({{@index}})"></span>
										{{/each}}
									</div>
								</div>
								<label for="status" class="text-nowrap">
									<strong>Tình trạng khách hàng:</strong>
								</label>
								<textarea class="form-control mb-3" cols="30" rows="8" readonly disabled>{{#each customer.reexamID}}{{this.statusAfterInfo}}{{/each}}</textarea>
								<label for="status" class="text-nowrap">
									<strong>Chỉ định bác sĩ:</strong>
								</label>
								<textarea class="form-control mb-3" cols="30" rows="8" readonly disabled>{{#each customer.reexamID}}{{this.directedByDoctor}}{{/each}}</textarea>
								<label for="status" class="text-nowrap">
									<strong>Các bước thực hiện:</strong>
								</label>
								<textarea class="form-control" cols="30" rows="8" readonly disabled>{{#each customer.reexamID}}{{this.afterInfo}}{{/each}}</textarea>

