<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="sticky-top">
	<div class="redirect-bar bg-primary">
		<a class="ml-3 text-light" type="button" onclick="history.back()"><i class="ti-arrow-left"></i> Quay lại</a>
	</div>
</div>
<div class="container-fluid mt-3">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="row">
				<div class="col-6">		
					<div class="d-flex justify-content-start">
						<label class="text-dark">Mã khách hàng:</label>&nbsp;
						<div class="text-danger">{{serviceNote.customerID._id}}</div>
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Họ tên:</label>&nbsp;
						<div class="text-primary">{{serviceNote.customerID.firstName}} {{serviceNote.customerID.lastName}}</div>
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Ngày sinh:</label>&nbsp;{{formatBirth serviceNote.customerID.birth}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Giới tính:</label>&nbsp;{{serviceNote.customerID.gender}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Trạng thái:</label>&nbsp;{{serviceNote.status}}
					</div>
				</div>
				<div class="col-6">
					<div class="d-flex justify-content-start">
						<label class="text-dark">Số điện thoại:</label>&nbsp;0{{serviceNote.customerID.phone}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Email:</label>&nbsp;{{serviceNote.customerID.email}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Địa chỉ:</label>&nbsp;{{serviceNote.customerID.address}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Mã nhân viên:</label>&nbsp;{{serviceNote.customerID.userID}}
					</div>
					<div class="d-flex justify-content-start">
						<label class="text-dark">Dịch vụ:</label>&nbsp;{{serviceNote.service}}
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="accordion accordion-flush" id="accordionFlushExample">
		{{!-- <div class="accordion-item mt-3">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Phiếu dịch vụ: {{count serviceNote.customerID.serviceNoteID}}
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<div class="card card-body">
						<div class="row">
							{{#if serviceNote.customerID.serviceNoteID}}
							{{#each serviceNote.customerID.serviceNoteID}}
							<div class="col-xl-3">
								<ul class="list-group">
									<li id="width-li" class="list-group-item bg-white">
										#{{sum @index 1}}
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Mã phiếu dịch vụ:</label>
											<p class="none-mb text-danger"><em>{{this._id}}</em></p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Trạng thái:</label>
											<p class="none-mb status-color">{{this.status}}</p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Dịch vụ:</label>
											<p class="none-mb">{{this.service}}</p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Ngày hoàn thành:</label>
											<p id="createdAt" class="none-mb comment-createdAt"><em>{{formatDate this.updatedAt}}</em></p>
										</small>
									</li>
								</ul>
							</div>	
							{{/each}}
							{{else}}
							<p class="text-center">
								Chưa có phiếu dịch vụ nào
							</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div> --}}
		<div class="accordion-item mt-3">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Phiếu tái khám: {{count reExamination}}
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<div class="card card-body">
						<div class="row">
							{{#if reExamination}}
							{{#each reExamination}}
							{{view this}}
							<div class="col-xl-3">
								<ul class="list-group">
									<li id="width-li" class="list-group-item bg-white">
										#{{sum @index 1}}
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Mã phiếu dịch vụ:</label>
											<p class="none-mb text-danger"><em>{{this.serviceNoteId}}</em></p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Mã phiếu tái khám:</label>
											<p class="none-mb text-danger"><em>{{this._id}}</em></p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Trạng thái:</label>
											<p class="none-mb status-color">{{this.status}}</p>
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Ghi chú:</label>
											{{#each this.comments}}
												<p class="none-mb">{{this.comment}}</p>
											{{/each}}
										</small>
										<small class="d-flex justify-content-between">
											<label class="none-mb" for="">Ngày hẹn:</label>
											<p id="createdAt" class="none-mb comment-createdAt"><em>{{formatDate this.schedule}}</em></p>
										</small>
										<small class="">
											<label class="none-mb" for="">Các bước thực hiện:</label>
											<p id="createdAt" class="none-mb message-content"><em>{{this.stepsToTake}}</em></p>
										</small>
									</li>
									{{!-- {{view this}} --}}
							</div>	
							{{/each}}
							{{else}}
							</ul>
							<p class="text-center">
								Chưa có phiếu dịch vụ nào
							</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/customer-care/customer-care-employ-customer.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const textarea = document.querySelectorAll('.message-content');
	for (i = 0; i < textarea.length; i++) {
		let element = textarea[i];
		let textValue = element.innerHTML;
		let textSplit = textValue.split('\n');
		let cols = textValue.length;
		let rows = textSplit.length;
		let result = textSplit.join('<br>');
		element.innerHTML = result;
		let parent = element.clientWidth;
		let ex = parent - cols;
	}
})
</script>