<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-blue-logo d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                <a href="/" class="d-flex justify-content-center align-items-center pb-sm-3 mb-md-0 text-light text-decoration-none w-100 border-bottom">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="d-none d-sm-inline fs-6 text-uppercase">Bảng điều khiển</span>
					{{!-- <span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
					</span> --}}
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start w-100 mt-2" id="menu">
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customers-wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-wheelchair ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách thay băng cắt chỉ</span>
                        </a>
                    </li>
                    <li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning-schedule" class="nav-link px-sm-0 px-2 text-light active">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/wound-cleaning" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu thay băng - cắt chỉ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/customer-re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="ti-shield ms-3 mr-3"></i><span class="d-none d-sm-inline">Khách tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam-schedule" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-calendar ms-3 mr-3"></i><span class="d-none d-sm-inline">Lịch hẹn tái khám định kỳ</span></a>
                    </li>
					<li class="nav-item hover w-100 mb-2">
                        <a href="/customer-care/employ/re-exam" class="nav-link px-sm-0 px-2 text-light">
                            <i class="fa-sharp fa-solid fa-notes-medical ms-3 mr-3"></i><span class="d-none d-sm-inline">Phiếu tái khám định kỳ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 w-100 hover">
                    <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle w-100 rounded p-2 border" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0 overflow-auto">
			<div class="text-center bg-blue-logo sticky-top d-flex justify-content-between">
				<div class="img-container p-2">
					<a type="button" onclick="history.back()">
						<i class="fa-solid fa-circle-arrow-left text-light ms-1 fs-3"></i>
					</a>
				</div>
				<div class="text-light text-uppercase fw-bold pt-2 pb-2">
					{{this.title}}
				</div>
				<div></div>
			</div>
			<div class="container-fluid">
				{{#if woundCleaningSchedule}}
				<div class="card shadow mt-3 mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Mã khách hàng:</strong>
									</label>
									<label class="fs-6 text-right text-danger">
										{{woundCleaningSchedule.cusID.identification}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Họ tên khai sinh:</strong>
									</label>
									<label class="fs-6 text-right text-primary">
										{{woundCleaningSchedule.cusID.fullName}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Tên thường gọi:</strong>
									</label>
									<label class="fs-6 text-right">
										{{woundCleaningSchedule.cusID.nickName}}
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Quê quán:</strong>
									</label>
									<label class="fs-6 text-right">
										{{woundCleaningSchedule.cusID.homeTown}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Chiều cao:</strong>
									</label>
									<label class="">
										<em>{{woundCleaningSchedule.scheduleID.cusID.height}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Cân nặng:</strong>
									</label>
									<label class="text-right">
										<em>{{woundCleaningSchedule.scheduleID.cusID.weight}}</em>
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Trạng thái:</strong>
									</label>
									<label class="fs-6 text-danger text-right">
										<em>{{woundCleaningSchedule.status}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày phẩu thuật:</strong>
									</label>
									<label class="text-right text-success">
										{{formatDate woundCleaningSchedule.serviceNoteID.surgeryDay}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày hẹn thay băng:</strong>
									</label>
									<label class="text-right text-danger">
										{{formatDate woundCleaningSchedule.schedule}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>