<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
		<div class="sidebar-item">
            <a href="/customer-care/employ/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng đã phẩu thuật
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/customer-care/employ/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="container-fluid mt-3">
	{{#if messages_createReExamination_success}}
	<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
		{{messages_createReExamination_success}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{/if}}
	<table id="customerNew_table" class="table table-hover table-bordered table-sm">
		<thead class="table-info">
			<tr>
				<th class="text-center" scope="col">#</th>
				<th class="text-center" scope="col">Mã phiếu dịch vụ</th>
				<th class="text-center" scope="col">Họ tên</th>
				<th class="text-center" scope="col">Số điện thoại</th>
				<th class="text-center" scope="col">Ngày hoàn thành</th>
				<th class="text-center" scope="col">Dịch vụ</th>
				<th class="text-center" scope="col">Trạng thái</th>
				<th class="text-center" scope="col">Phí dịch vụ</th>
			</tr>
		</thead>
		<tbody id="table-content">
			{{#each serviceNotes}}
			<tr>
				<th class="text-center">{{sum @index 1}}</th>
				<td class="text-center">{{this._id}}</td>
				<td><a href="/customer-care/employ/re-exam/{{this._id}}/detail">{{this.customerID.firstName}}
						{{this.customerID.lastName}}</a></td>
				<td class="text-center">0{{this.customerID.phone}}</td>
				<td class="text-center">{{formatDate this.updatedAt}}</td>
				<td class="text-nowrap">
					<div data-bs-toggle="tooltip" data-bs-placement="top" title="{{this.service}}">
						{{cutPassword this.service 32}}
					</div>
				</td>
				<td class="text-center">{{this.status}}</td>
				<td class="text-center">{{this.price}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>