{{!-- <nav class="navbar navbar-light bg-dark sticky-top">
    <div class="img-container">
        {{#if admin.image.name}}
        <a class="text-light" href="/manager/assistant/profile">{{admin.firstName}} {{admin.lastName}}<img
                class="ml-2 mr-3" src="/img/uploads/users/{{admin.image.name}}" alt=""></a>
        {{else}}
        <a class="text-light" href="/manager/assistant/profile">{{admin.firstName}} {{admin.lastName}}<img
                class="ml-2 mr-3" src="/img/user-icon.png" alt=""></a>
        {{/if}}
    </div>
    <div class="text-light text-uppercase fw-bold">
        {{this.title}}
    </div>
	<button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
            class="ti-menu"></i>
    </button>
</nav> --}}