<link rel="stylesheet" href="/css/admin.css">
<div class="sticky-top">
	<nav class="navbar navbar-light bg-dark">
		<button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
				class="ti-angle-double-right"></i></button>
		<div class="">
			{{#if admin.image.name}}
			<a class="text-light" href="/administrator/profile">{{admin.firstName}} {{admin.lastName}}<img
					class="img-icon ml-2 mr-3" src="/img/uploads/users/{{admin.image.name}}" alt=""></a>
			{{else}}
			<a class="text-light" href="/administrator/profile">{{admin.firstName}} {{admin.lastName}}<img
					class="img-icon ml-2 mr-3" src="/img/user-icon.png" alt=""></a>
			{{/if}}
			<div />
	</nav>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
		aria-labelledby="offcanvasWithBackdropLabel">
		<div class="offcanvas-header bg-dark border-bottom">
			<h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
			<button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body container-sidebar bg-dark">
			{{!-- <div class="sidebar-item">
				<a href="/admin/dashboard" class="sidebar-item-title pl-3">
					<i class="ti-dashboard mr-3"></i>Báo cáo thống kê
				</a>
			</div> --}}
			<div class="sidebar-item">
				<a href="/administrator/customer" class="sidebar-item-title pl-3">
					<i class="ti-user mr-3 active"></i>Khách hàng
				</a>
			</div>
			<div class="sidebar-item">
				<a href="/administrator/service-note" class="sidebar-item-title pl-3">
					<i class="ti-cut mr-3"></i>Phiếu dịch vụ
				</a>
			</div>
			<div class="sidebar-item">
				<a href="/administrator/re-examination" class="sidebar-item-title pl-3">
					<i class="ti-clipboard mr-3"></i>Phiếu tái khám
				</a>
			</div>
			{{!-- <div class="sidebar-item">
				<a href="/admin/user" class="sidebar-item-title pl-3">
					<i class="ti-headphone-alt mr-3"></i>Nhân viên
				</a>
			</div> --}}
		</div>
	</div>
	<div class="redirect-bar bg-primary">
		<a class="ml-3 text-light" type="button" onclick="history.back()"><i class="ti-back-left"></i> Quay lại</a>
	</div>
</div>
<div class="container">
	<div class="customer-detail ml-3 mt-3">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Mã khách hàng:</label><p class="text-danger">{{customer._id}}</p>
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Họ tên:</label> {{customer.firstName}} {{customer.lastName}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Ngày sinh:</label> {{formatBirth customer.birth}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Giới tính:</label> {{customer.gender}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Số điện thoại:</label> {{customer.phone}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Email:</label> {{customer.email}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Địa chỉ:</label> {{customer.address}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="word-wrap text-dark">Mô tả:</label> {{customer.description}}
		</div>
		<hr class="text-primary">
		<div class="d-flex justify-content-between">
			<label class="text-dark">Mã nhân viên:</label> <a href="/admin/user/{{customer.userID}}/detail">{{customer.userID}}</a>
		</div>
		<hr class="text-primary">
		<div>
			<a data-bs-toggle="collapse" href="#service-notes" role="button" aria-expanded="false" aria-controls="service-notes">
				+ Phiếu dịch vụ: {{count customer.serviceNoteID}}
			</a>
			<div class="collapse mt-3" id="service-notes">
				<div class="card card-body">	
					{{#if customer.serviceNoteID}}
					{{#each customer.serviceNoteID}}
						<p>{{sum @index 1}}. <a href="/admin/service-note/{{this._id}}">{{this._id}}</a></p>
					{{/each}}
					{{else}}
					<p class="text-center">
						Chưa có phiếu dịch vụ nào
					</p>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="mb-3 mt-3">
			<a data-bs-toggle="collapse" href="#re-examinations" role="button" aria-expanded="false" aria-controls="collapseExample">
				+ Phiếu tái khám: {{count customer.reexamID}}
			</a>
			<div class="collapse mt-3" id="re-examinations">
				<div class="card card-body">	
					{{#if customer.reexamID}}
					{{#each customer.reexamID}}
						<p>{{sum @index 1}}. <a href="/admin/re-examination/{{this._id}}">{{this._id}}</a></p>
					{{/each}}
					{{else}}
					<p class="text-center">
						Chưa có phiếu tái khám nào
					</p>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="customer-comments">
			<a data-bs-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="collapseExample">
					+ Hoạt động: {{count customer.comments}}
			</a>
			<div class="collapse mt-3" id="comments">
				<div class="card card-body overflow-info">
					{{#each customer.comments}}
					<ul class="list-group mb-3">
						<li class="list-group-item">
							<div class="me-auto">
								<label class="text-dark">Mã hoạt động:</label> <em class="text-danger">{{this._id}}</em>
							</div>
							<div>
								<label class="text-dark">Ngày tạo:</label> <em class="text-info">{{formatDate this.createdAt}}</em>
							</div>
							<div>
								<label class="word-wrap text-dark">Nội dung:</label>
								<div class="border pl-2 mb-2">
									{{this.comment}}
								</div>
							</div>
						</li>
					</ul>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>