<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
    <div class="title">
        <a href="/business/manager/customers" class="text-light"><i class="ti-back-left"></i> Quay lại</a>
    </div>
    <h3 class="title text-light">Quản lý phiếu dịch vụ</h3>
    <div class="stask">
</nav>
{{> page/sidebar/business/manager/sidebar-business-service}}
<div class="container-fluid mt-3">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-profile-customer-tab" data-bs-toggle="pill"
                data-bs-target="#pills-new" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">Phiếu mới</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-loading"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Đang xử lý</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-complete"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Hoàn thành</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">
            <input type="text" id="myInput" class="myInput ml-1" onkeyup="myFunction()" placeholder="Tìm kiếm..."
                title="Type in a name">
            <div id="search-items">
                <div class="row">
                    {{#each serviceNotes}}
                    <div class="col-md-6">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded card">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                                </div>
                                <div class="col-md-6">
                                    <h5>
                                        <em>
                                            <strong>
                                                <label name="schedule" class="form-label text-success">{{formatDate
                                                    this.schedule}}</label>
                                            </strong>
                                        </em>
                                    </h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Khách hàng: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6 text-name">
                                    <em>
                                        <label
                                            class="text-primary form-label text-uppercase">{{this.customerID.firstName}}
                                            {{this.customerID.lastName}}</label>
                                    </em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Dịch vụ: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.service}}</label>
                                    </em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Thành giá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.price}}VND</label>
                                    </em>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Bác sĩ:</label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.performer}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Y tá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.nursing}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Lễ tân: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="  form-label text-uppercase">{{this.recept.firstName}}
                                            {{this.recept.lastName}};</label>
                                    </em>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}" >Tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-img-new" role="button" aria-expanded="false" aria-controls="counselor-img-new">
                                            <i class="ti-plus"></i> Hình ảnh tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-img-new">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorImg}}
                                                    {{#each this.counselorImg}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có ảnh
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-video-new" role="button" aria-expanded="false" aria-controls="counselor-video-new">
                                            <i class="ti-plus"></i> Video tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-video-new">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorVideo}}
                                                    {{#each this.counselorVideo}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có video
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="pills-loading" role="tabpanel" aria-labelledby="pills-home-tab">
            <input type="text" id="myInputLoad" class="myInput ml-1" onkeyup="myFunction2()" placeholder="Tìm kiếm..."
                title="Type in a name">
            <div id="search-items-loading">
                <div class="row">
                    {{#each serviceNote1s}}
                    <div class="col-md-6 ">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded card">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                                </div>
                                <div class="col-md-6">
                                    <h5>
                                        <em>
                                            <strong>
                                                <label name="schedule" class="form-label text-success">{{
                                                    this.schedule}}</label>
                                            </strong>
                                        </em>
                                    </h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Khách hàng: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6 text-name">
                                    <em>
                                        <label
                                            class="text-primary form-label text-uppercase">{{this.customerID.firstName}}
                                            {{this.customerID.lastName}}</label>
                                    </em>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Dịch vụ: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.service}}</label>
                                    </em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Thành giá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.price}}VND</label>
                                    </em>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Bác sĩ:</label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.performer}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Y tá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.nursing}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Lễ tân: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="  form-label text-uppercase">{{this.recept.firstName}}
                                            {{this.recept.lastName}};</label>
                                    </em>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}" >Tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-img-progress" role="button" aria-expanded="false" aria-controls="counselor-img-progress">
                                            <i class="ti-plus"></i> Hình ảnh tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-img-progress">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorImg}}
                                                    {{#each this.counselorImg}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có ảnh
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-video-progress" role="button" aria-expanded="false" aria-controls="counselor-video-progress">
                                            <i class="ti-plus"></i> Video tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-video-progress">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorVideo}}
                                                    {{#each this.counselorVideo}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có video
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="pills-complete" role="tabpanel" aria-labelledby="pills-home-tab">
            <input type="text" id="myInputCTV" class="myInput ml-1" onkeyup="myFunction1()" placeholder="Tìm kiếm..."
                title="Type in a name">
            <div id="search-items-complete">
                <div class="row">
                    {{#each serviceNote2s}}
                    <div class="col-md-6 ">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded  card">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                                </div>

                                <div class="col-md-6">
                                    <h5>
                                        <em>
                                            <strong>
                                                <label name="schedule" class="form-label text-success">{{
                                                    this.schedule}}</label>
                                            </strong>
                                        </em>
                                    </h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row ">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Khách hàng: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6 text-name">
                                    <em>
                                        <label
                                            class="text-primary form-label text-uppercase">{{this.customerID.firstName}}
                                            {{this.customerID.lastName}}</label>
                                    </em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Dịch vụ: </label>
                                    </strong>

                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.service}}</label>
                                    </em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Thành giá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="form-label">{{this.price}}VND</label>
                                    </em>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Bác sĩ:</label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.performer}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Y tá: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    {{#each this.nursing}}
                                    <em>
                                        <label class="text-success form-label text-uppercase">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <label class="form-label">Lễ tân: </label>
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <em>
                                        <label class="  form-label text-uppercase">{{this.recept.firstName}}
                                            {{this.recept.lastName}};</label>
                                    </em>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#del-service-note-modal"
                                    data-del-service-note-id="{{this._id}}">Xóa</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}" >Tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-img-complete" role="button" aria-expanded="false" aria-controls="counselor-img-complete">
                                            <i class="ti-plus"></i> Hình ảnh tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-img-complete">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorImg}}
                                                    {{#each this.counselorImg}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có ảnh
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a data-bs-toggle="collapse" href="#counselor-video-complete" role="button" aria-expanded="false" aria-controls="counselor-video-complete">
                                            <i class="ti-plus"></i> Video tư vấn:
                                        </a>
                                        <div class="collapse mt-3 mb-3" id="counselor-video-complete">
                                            <div class="card card-body">
                                                <div class="row">    
                                                    {{#if this.counselorVideo}}
                                                    {{#each this.counselorVideo}}
                                                    <div class="col-lg-3">
                                                        <figure class="figure imgbox">
                                                            <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                        </figure>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <p class="text-center">
                                                        Chưa có video
                                                    </p>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>


    </div>
</div>
<form method="POST" id="update-stored-status" action=""></form>
{{!-- Modal Delete --}}

<div class="modal fade" id="del-service-note-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="reason" class="form-label">
                    <h6>Lý do<span class="text-danger"></span></h6>
                </label>
                <input type="tel" class="form-control form-control-sm" id="reason" placeholder="...." name="reason"
                    required>
                <div id="feedback-reason">
                </div>
                <div class="mt-3">
                    Bạn có đồng ý xóa không?
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-service-note" type="button" class="btn btn-danger">Có, chắc
                        chắn</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/business/business-manager-service-note.js"></script>
</html>