<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light">Quản lý khách hàng hệ thống</h3>
	{{> page/sidebar/business/manager/sidebar-business-manager}}

	<div class="stask">
		<!-- Button trigger modal -->

		
	</div>
</nav>
<div class="container-fluid mt-3">
	<div id="alert-message" class="alert alert-{{message.color}}" role="alert">
		{{message.content}}
	</div>


	<div class="ml-4 mb-4 form-check d-flex align-items-center">
		<input type="checkbox" class="hidden form-check-input" id="check-customer-all">
		<label class="hidden form-check-label" for="check-customer-all">Chọn tất cả</label>
		<div id="add-user-customer-btn" class="hidden ml-3 btn btn-primary btn-sm disabled" data-bs-toggle="modal"
			data-bs-target="#add-userid-to-customer-modal">Thêm nhân viên
		</div>
	</div>
	<form method="POST" action="" id="add-user-customer-form" >
		<div class="container-table">
			<table id="customer_table" class="table table-hover table-bordered table-sm">
				<thead class="table-info">
					<tr>
						<th class="text-center" scope="col">#</th>
						<th class="text-center" scope="col">STT</th>
						<th class="text-center" scope="col">Họ tên</th>
						<th class="text-center" scope="col">Ngày sinh</th>
						<th class="text-center" scope="col">Giới tính</th>
						<th class="text-center" scope="col">Số điện thoại</th>
						<th class="text-center" scope="col">Email</th>
						<th class="text-center" scope="col">Địa chỉ</th>
						<th class="text-center" scope="col">Mô tả</th>
					</tr>
				</thead>
				<tbody id="table-content">
					{{#each customers}}
					<tr>
						<td class="text-center" scope="row">
							<input type="checkbox" class="form-check-input check-box-customer" name="customerIds[]"
								value="{{this._id}}" id="">
						</td>
						<td class="text-center" scope="row">{{sum @index 1}}</td>
						<td><a href="/business/manager/customers/{{this._id}}/detail">{{this.firstName}}
								{{this.lastName}}</a></td>
						<td class="text-center">{{this.birth}}</td>
						<td class="text-center">{{this.gender}}</td>
						<td class="text-center">{{this.phone}}</td>
						<td>{{this.email}}</td>
						<td>{{this.address}}</td>
						<td>{{this.description}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

		<!--Push userid to customer Modal -->

		<div class="modal fade" id="add-userid-to-customer-modal" tabindex="-1" aria-labelledby="detail-customer"
			aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h5 class="modal-title text-light" id="detail-customer-title">Chọn nhân viên</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label for="add-userid-to-cus" class="form-label">
							<h6>Chọn nhân viên</h6>
						</label>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="userID"
							id="userID">
							<option value="">-- Chọn nhân viên --</option>
							{{#each users}}
							<option value="{{this._id}}">{{this.firstName}} {{this.lastName}} ({{this.position}})
							</option>
							{{/each}}

						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
						<button type="button" id="add-userid-to-customer" class="btn btn-primary">Thêm</button>
					</div>
				</div>
			</div>
		</div>

	</form>




</div>







<script src="/js/business/business-manager-customer-system.js"></script>