<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">
	</div>
	<h3 class="title text-light">Quản lý khách hàng</h3>
	<div class="stask">
		<!-- Button trigger modal -->
		<a href="/business/manager/service-note" type="button" class="btn btn-primary btn-sm btn-create">
			<i class="ti-receipt"></i> Phiếu dịch vụ
		</a>
		<!-- Button trigger modal -->
		<button data-bs-toggle="modal" data-bs-target="#create-customer-modal" class="btn btn-primary btn-create">
			<i class="ti-plus"></i>
		</button>
	</div>
</nav>
{{> page/sidebar/business/manager/sidebar-business-manager-customers}}
<a data-bs-toggle="modal" data-bs-target="#create-customer-modal" class="addBtn-mobile"><i class="ti-plus"></i></a>
<div class="container-fluid mt-3">
	<ul class="nav nav-pills mb-3 ml-3" id="pills-tab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="pills-system-customer-tab" data-bs-toggle="pill"
				data-bs-target="#pills-system-customer" type="button" role="tab" aria-controls="pills-home"
				aria-selected="true">Khách hàng tư vấn</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="pills-user-customer-tab" data-bs-toggle="pill"
				data-bs-target="#pills-user-customer" type="button" role="tab" aria-controls="pills-profile"
				aria-selected="false">Khách hàng có nhân viên</button>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-system-customer" role="tabpanel"
			aria-labelledby="pills-home-tab">
			<div class="container-table ml-3">
				<table id="customerTable" class="table table-hover table-bordered table-sm">
					<thead class="table-info">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Họ tên</th>
							<th class="text-center" scope="col">Ngày sinh</th>
							<th class="text-center" scope="col">Giới tính</th>
							<th class="text-center" scope="col">Số điện thoại</th>
							<th class="text-center" scope="col">Email</th>
							<th class="text-center" scope="col">Địa chỉ</th>
							<th class="text-center" scope="col">Mô tả</th>
							<th class="text-center" scope="col">Hành động</th>
						</tr>
					</thead>
					<tbody id="table-content">
						{{#each customers}}
						<tr>
							<td class="text-center" scope="row">{{sum @index 1}}</td>
							<td><a href="/business/manager/customers/{{this._id}}/detail">{{this.firstName}}
									{{this.lastName}}</a></td>
							<td class="text-center">{{formatBirth this.birth}}</td>
							<td class="text-center">{{this.gender}}</td>
							<td class="text-center">0{{this.phone}}</td>
							<td>{{this.email}}</td>
							<td>{{this.address}}</td>
							<td>{{this.description}}</td>
							<td class="text-center">
								<button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
									data-bs-target="#edit-customer-modal" data-id="{{this._id}}"
									data-edit-img="{{this.image.name}}"
									data-edit-firstname="{{this.firstName}}"
									data-edit-lastname="{{this.lastName}}" data-edit-birth="{{this.birth}}"
									data-edit-gender="{{this.gender}}" data-edit-phone="{{this.phone}}"
									data-edit-email="{{this.email}}" data-edit-address="{{this.address}}"
									data-edit-resource="{{this.resource}}"
									data-edit-description="{{this.description}}">Sửa
								</button>
								<button class="btn btn-primary btn-sm" data-bs-toggle="modal"
									data-service-note-id="{{this._id}}"
									data-service-note-img="{{this.image.name}}"
									data-service-note-firstname="{{this.firstName}}"
									data-service-note-lastname="{{this.lastName}}"
									data-service-note-birth="{{this.birth}}"
									data-service-note-gender="{{this.gender}}"
									data-service-note-phone="{{this.phone}}"
									data-service-note-email="{{this.email}}"
									data-service-note-address="{{this.address}}"
									data-service-note-description="{{this.description}}"
									data-bs-target="#create-service-note-modal">Tạo phiếu
								</button>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="container-card">
				<input type="text" id="myInput" class="myInput" onkeyup="myFunction()" placeholder="Search for names.."
					title="Type in a name">
				<div id="search-items">
					{{#each customers}}
					<div class="card text-dark bg-light mb-3">
						<div class="card-header  ">
							<h5 class="card-title">
								<a class="text-success" href="/business/manager/customers/{{this._id}}/detail">
									{{this.firstName}} {{this.lastName}}
								</a>
							</h5>
						</div>
						<div class="card-body">
							<p class="card-text">Ngày sinh: {{formatBirth this.birth}}</p>
							<p class="card-text">Giới tính: {{this.gender}}</p>
							<p class="card-text">SĐT: 0{{this.phone}}</p>
							<p class="card-text">Email: {{this.email}}</p>
							<p class="card-text">Mô tả: {{this.description}}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-primary btn-mobile" data-bs-toggle="modal"
								data-bs-target="#edit-customer-modal" data-id="{{this._id}}"
								data-edit-img="{{this.image.name}}" data-edit-firstname="{{this.firstName}}"
								data-edit-lastname="{{this.lastName}}" data-edit-birth="{{this.birth}}"
								data-edit-gender="{{this.gender}}" data-edit-phone="{{this.phone}}"
								data-edit-email="{{this.email}}" data-edit-address="{{this.address}}"
								data-edit-resource="{{this.resource}}"
								data-edit-description="{{this.description}}">Sửa</button>
							<button type="button" class="btn btn-md btn-success btn-mobile" data-bs-toggle="modal"
								data-service-note-id="{{this._id}}" data-service-note-img="{{this.image.name}}"
								data-service-note-firstname="{{this.firstName}}"
								data-service-note-lastname="{{this.lastName}}" data-service-note-birth="{{this.birth}}"
								data-service-note-gender="{{this.gender}}" data-service-note-phone="{{this.phone}}"
								data-service-note-email="{{this.email}}" data-service-note-address="{{this.address}}"
								data-service-note-description="{{this.description}}" {{#each this.serviceNoteID}}
								data-service-note-serviceID="{{this.service}}" {{/each}}
								data-bs-target="#create-service-note-modal">Tạo phiếu</button>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="tab-pane fade show " id="pills-user-customer" role="tabpanel" aria-labelledby="pills-profile-tab">
			<div class="container-table ml-3">
				<table id="container_table" class="table table-hover table-bordered table-sm">
					<thead class="table-info">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Họ tên</th>
							<th class="text-center" scope="col">Ngày sinh</th>
							<th class="text-center" scope="col">Giới tính</th>
							<th class="text-center" scope="col">Số điện thoại</th>
							<th class="text-center" scope="col">Email</th>
							<th class="text-center" scope="col">Địa chỉ</th>
							<th class="text-center" scope="col">CTV</th>
							<th class="text-center" scope="col">Mô tả</th>
						</tr>
					</thead>
					<tbody id="table-content">
						{{#each customer1s}}
						<tr>
							<td class="text-center" scope="row">{{sum @index 1}}</td>
							<td><a href="/business/manager/customers/{{this._id}}/detail/ctv">{{this.firstName}}
									{{this.lastName}}</a></td>
							<td class="text-center">{{formatBirth this.birth}}</td>
							<td class="text-center">{{this.gender}}</td>
							<td class="text-center">0{{this.phone}}</td>
							<td>{{this.email}}</td>
							<td>{{this.address}}</td>
							<td>{{this.userID.firstName}} {{this.userID.lastName}}
								({{this.userID.position}})</td>
							<td>{{this.description}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="container-card">
				<input type="text" id="myInputCTV" class="myInput" onkeyup="myFunctionCTV()" placeholder="Search for names.."
					title="Type in a name">
				<div id="search-items-ctv">
					{{#each customer1s}}
					<div class="card text-dark bg-light mb-3">
						<div class="card-header  ">
							<h5 class="card-title">
								<a class="text-success" href="/business/manager/customers/{{this._id}}/detail/ctv">
									{{this.firstName}} {{this.lastName}}
								</a>
							</h5>
						</div>
						<div class="card-body">
							<p class="card-text">Ngày sinh: {{formatBirth this.birth}}</p>
							<p class="card-text">Giới tính: {{this.gender}}</p>
							<p class="card-text">SDT: 0{{this.phone}}</p>
							<p class="card-text">Email: {{this.email}}</p>
							<p class="card-text">CTV: {{this.userID.firstName}} {{this.userID.lastName}}
								({{this.userID.position}})</p>
							<p class="card-text">Mô tả: {{this.description}}</p>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create Customer -->
<div class="modal fade" id="create-customer-modal" tabindex="-1" aria-labelledby="create-customer-modal"
	aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title text-light" id="create-customer-modal">Tạo thông tin khách hàng</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="create-customer-form" method="POST" class="row" enctype="multipart/form-data">
					<div class="col-xl-3 text-center mb-3">
						<img src="/img/user-icon.png" id="add-avt-customer" class="rounded mx-auto d-block add-avata"
							alt="...">
						<label for="input-create-img" class="label-avt btn btn-sm btn-primary mt-3">
							<h6>Chọn ảnh đại diện</h6>
						</label>
						<input hidden id="input-create-img" type="file" name="image"
							accept="image/png, image/gif, image/jpeg">
					</div>
					<div class="col-xl-9 mb-3">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="create-firstName" class="form-label">
									<h6>Họ</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="create-firstName"
									placeholder="Vd: Trần Văn" name="firstName" required>
							</div>
							<div class="col-md-6">
								<label for="create-lastName" class="form-label">
									<h6>Tên</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="create-lastName"
									placeholder="Vd: Khánh" name="lastName" required>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6 mb-3">
								<label for="create-birth" class="form-label">
									<h6>Ngày sinh</h6>
								</label>
								<input type="date" class="form-control form-control-sm" id="create-birth"
									aria-describedby="birthFeedback" name="birth" required>
							</div>
							<div class="col-md-6">
								<label for="create-gender" class="form-label">
									<h6>Giới tính</h6>
								</label>
								<select class="form-select form-select-sm" aria-label=".form-select-sm example"
									name="gender">
									<option value="" selected>-- Chọn giới tính --</option>
									<option value="Nữ">Nữ</option>
									<option value="Nam">Nam</option>
								</select>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6 mb-3">
								<label for="create-phone" class="form-label">
									<h6>Số điện thoại</h6>
								</label>
								<input type="tel" class="form-control form-control-sm" id="create-phone"
									placeholder="Vd: 0909888888" name="phone" required>
							</div>
							<div class="col-md-6">
								<label for="create-email" class="form-label">
									<h6>Email</h6>
								</label>
								<input type="email" class="form-control form-control-sm" id="create-email"
									placeholder="Vd: tranvankhanh@gmail.com" name="email" required>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6 mb-3">
								<label for="create-address" class="form-label">
									<h6>Địa chỉ</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="create-address"
									aria-describedby="addressFeedback" placeholder="Vd: 123 Đường số 10"
									name="address" required>
							</div>
							<div class="col-md-6">
								<label for="create-resource" class="form-label">
									<h6>Nguồn khách</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="create-resource"
									aria-describedby="resource"
									name="resource" required>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12 mb-3">
								<label for="create-description" class="form-label">
									<h6>Mô tả</h6>
								</label>
								<textarea class="form-control" id="create-description" rows="6"
									placeholder="Mô tả khách hàng" name="description"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				<button id="create-customer-btn" type="button" class="btn btn-primary">Tạo mới</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Edit Customer -->
<div class="modal fade" id="edit-customer-modal" tabindex="-1" aria-labelledby="edit-customer" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="edit-customer-title">Cập nhật thông tin khách hàng
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="edit-customer-form" class="row" enctype="multipart/form-data">
					<div class="col-xl-3 mt-3">
						<img src="/img/user-icon.png" id="edit-customer-avt" class="rounded mx-auto d-block add-avata"
							alt="...">
						<div class="mt-3 mb-3 text-center">
							<label for="input-edit-img" class="label-avt btn btn-sm btn-primary">
								<h6>Chọn ảnh đại diện</h6>
							</label>
							<input hidden class="form-control" id="input-edit-img" type="file" name="image"
								accept="image/png, image/gif, image/jpeg">
						</div>
					</div>
					<div class="col-xl-9">
						<div class="row">
							<div class="col-md-6 mt-3">
								<label for="edit-firstName" class="form-label">
									<h6>Họ</h6>
								</label>
								<input type="text" class="form-control form-control-sm firstName"
									data-bs-focus="focus" id="edit-firstName" name="firstName">
							</div>
							<div class="col-md-6 mt-3">
								<label for="edit-lastName" class="form-label">
									<h6>Tên</h6>
								</label>
								<input type="text" class="form-control form-control-sm lastName"
									id="edit-lastName" name="lastName">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mt-3">
								<label for="edit-birth" class="form-label">
									<h6>Ngày sinh</h6>
								</label>
								<input type="date" class="form-control form-control-sm" id="edit-birth"
									aria-describedby="birthFeedback" name="birth" required>
							</div>
							<div class="col-md-6 mt-3">
								<label for="edit-gender" class="form-label">
									<h6>Giới tính</h6>
								</label>
								<select id="edit-gender" class="form-select form-select-sm"
									aria-label=".form-select-sm example" name="gender">
									<option value="" selected>-- Chọn giới tính --</option>
									<option value="Nữ">Nữ</option>
									<option value="Nam">Nam</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mt-3">
								<label for="edit-phone" class="form-label">
									<h6>Số điện thoại</h6>
								</label>
								<input type="tel" class="form-control form-control-sm" id="edit-phone"
									name="phone" required>
							</div>
							<div class="col-md-6 mt-3">
								<label for="edit-email" class="form-label">
									<h6>Email</h6>
								</label>
								<input type="email" class="form-control form-control-sm" id="edit-email"
									name="email" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mt-3">
								<label for="edit-address" class="form-label">
									<h6>Địa chỉ</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="edit-address"
									aria-describedby="addressFeedback" name="address" required>
							</div>
							<div class="col-md-6 mt-3">
								<label for="edit-resource" class="form-label">
									<h6>Nguồn khách</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="edit-resource"
									aria-describedby="resource" name="resource" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mt-3">
								<label for="edit-description" class="form-label">
									<h6>Mô tả</h6>
								</label>
								<textarea class="form-control bg-white" id="edit-description" rows="6"
									name="description" readonly></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
				<button type="button" id="edit-customer-btn" class="btn btn-primary">Lưu thay đổi</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create Service Note -->
<div class="modal fade" id="create-service-note-modal" tabindex="-1" aria-labelledby="create-service-note"
	aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-info text-light">
				<h5 class="modal-title" id="create-service-note-title">Tạo phiếu dịch vụ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-profile-customer-tab" data-bs-toggle="pill"
							data-bs-target="#pills-profile-customer" type="button" role="tab" aria-controls="pills-home"
							aria-selected="true">Thông tin khách hàng</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
							data-bs-target="#pills-service" type="button" role="tab" aria-controls="pills-profile"
							aria-selected="false">Thông tin dịch vụ</button>
					</li>
				</ul>
				<form method="POST" id="create-service-note-form" class="row" enctype="multipart/form-data">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-profile-customer" role="tabpanel"
							aria-labelledby="pills-home-tab">
							<input hidden type="text" class="form-control" id="create-service-note-customerID"
								name="customerID" readonly>
							<div class="row">
								<div class="col-md-6 ">
									<img src="/img/user-icon.png" id="create-service-note-img"
										class="rounded mx-auto d-block add-avata" alt="...">
									<div class="mt-4">
										<textarea id="create-service-note-description" class="form-control mb-2"
											rows="6" style="background-color: white;" disabled></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="name">Họ tên:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label class="text-uppercase text-danger"
													id="create-service-note-firstLastName" name="name" readonly>
											</em>
										</div>
									</div>
									<hr>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="birth">Ngày sinh:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label id="create-service-note-birth" name="birth"
													readonly></label>
											</em>
										</div>
									</div>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="gender">Giới tính:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label id="create-service-note-gender" name="gender"
													readonly></label>
											</em>
										</div>
									</div>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="email">Email:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label id="create-service-note-email"
													class="d-inline-block text-truncate" name="email"
													readonly></label>
											</em>
										</div>
									</div>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="phone">Số điện thoại:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label id="create-service-note-phone" name="phone"
													readonly></label>
											</em>
										</div>
									</div>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="address">Địa chỉ:</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<label id="create-service-note-address" name="address"
													readonly></label>
											</em>
										</div>
									</div>
									<div class=" mb-3 row">
										<div class="col-sm-6">
											<strong>
												<label for="createName">Người tạo</label>
											</strong>
										</div>
										<div class="col-sm-6 ">
											<em>
												<input hidden type="text" value="{{user._id}}" name="createName"
													id="">
												<label value="{{user.firstName}}{{user.lastName}}"
													id="create-service-note-createName" name="createName"
													readonly></label>
											</em>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-service" role="tabpanel"
							aria-labelledby="pills-profile-tab">
							<div class="row">
								<div class="col-md-5">
									<div class="mb-3">
										<div>
											<label for="service" class="form-label ">
												<h6>Chọn dịch vụ:</h6>
											</label>
										</div>

										<select id="select-service" class="chosen-select container-table" multiple
											tabindex="6" name="service[]">
											{{#each typeservices}}
											<optgroup label="{{this.name}}">
												{{#each this.services}}
												<option value="{{this.service}}">{{this.service}}</option>
												{{/each}}
											</optgroup>
											{{/each}}
										</select>

										<div id="list1" class="dropdown-check-list container-card" tabindex="100">
											<span class="anchor ">Chọn dịch vụ</span>
											<ul class="items">
												{{#each typeservices}}
												<li class="">
													 <strong>{{this.name}}</strong> 
												</li>
												{{#each this.services}}
												<li>
													<hr>
													<label class="form-check " for="{{this.service}}">
														<input type="checkbox" class="" id="{{this.service}}"
															value="{{this.service}}" name="service[]" />
														<label for="{{this.service}}">{{this.service}}</label>
													</label>
												</li>
												{{/each}}
												{{/each}}
											</ul>
										</div>
									</div>
									<div class="mb-3">
										<label for="schedule" class="form-label">
											<h6>Ngày hẹn:</h6>
										</label>
										<input type="datetime-local" class="form-control"
											id="create-service-note-schedule" name="schedule">
									</div>
									<div class="mb-3">
										<label for="price" class="form-label">
											<h6>Tổng giá:</h6>
										</label>
										<input type="number" min="100000" step="100000" class="form-control"
											id="create-service-note-price" name="price">
									</div>
									<div class="mb-3">
										<label for="comment" class="form-label">
											<h6>Ghi chú: </h6>
										</label>
										<textarea class="form-control" id="create-service-note-description" rows="6"
											name="comment"></textarea>
									</div>
								</div>
								<div class="col-md-7">
									<div class="preview-images-counselor row ml-0 mt-3 border"></div>
									<label for="input-multi-images-counselor" class="label-avt btn btn-primary mt-2">
										<h6>Chọn ảnh tư vấn</h6>
									</label>
									<input id="input-multi-images-counselor" class="form-control" type="file"
										name="counselor" hidden multiple>
									<div class="preview-videos-counselor row ml-0 mt-3 border"></div>
									<label for="input-multi-videos-counselor" class="label-avt btn btn-primary mt-2">
										<h6>Chọn video tư vấn</h6>
									</label>
									<input id="input-multi-videos-counselor" class="form-control" type="file"
										name="counselor" hidden multiple>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
				<button type="button" id="create-service-note-btn" class="btn btn-primary">Lưu thay đổi</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-manager-customer.js"></script>