<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/business/employ/service-note" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Dịch vụ
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/business/employ/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/business/employ/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
    <ul class="nav nav-pills ml-0 bg-secondary d-flex justify-content-between justify-content-sm-start" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-light" id="pills-profile-customer-tab" data-bs-toggle="pill"
                data-bs-target="#pills-new" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">Phiếu mới</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-light" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-loading"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Đang xử lý</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-light" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-complete"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Hoàn thành</button>
        </li>
    </ul>
</div>
<div class="container-fluid mt-3">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="search-items">
                <div class="row">
                    {{#each serviceNotes}}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 note-wrapper">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                                    </div>
                                    <strong>
                                        <label name="schedule" class="form-label text-success text-right">{{formatDate
                                            this.schedule}}</label>
                                    </strong>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Khách hàng:</strong>&nbsp;
                                    </label>
                                    <label
                                    class="text-primary form-label text-uppercase text-right">{{this.customerID.firstName}}
                                    {{this.customerID.lastName}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Dịch vụ:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right">{{this.service}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Thành tiền:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right">{{this.price}}VND</label>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent d-flex justify-content-end">
                                <button type="button" class="btn btn-primary btn-mobile" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}">Hình ảnh tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    Hình ảnh tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorImg}}
                                                        {{#each this.counselorImg}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có ảnh
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    Video tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorVideo}}
                                                        {{#each this.counselorVideo}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có video
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="pills-loading" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="search-items-loading">
                <div class="row">
                    {{#each serviceNote1s}}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="d-flex justify-content-between">
                                    <div class="text-danger">
                                        {{this.status}}
                                    </div>
                                    <label name="schedule" class="form-label text-success text-right">{{formatDate this.schedule}}</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Khách hàng:</strong>&nbsp;
                                    </label>
                                    <label class="text-primary form-label text-uppercase text-right">{{this.customerID.firstName}}
                                    {{this.customerID.lastName}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Dịch vụ:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right text-right">{{this.service}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Phí dịch vụ:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right">{{this.price}}VND</label>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Bác sĩ:</strong>&nbsp;
                                    </label>
                                    {{#each this.performer}}
                                    <em>
                                        <label class="text-success form-label text-uppercase text-right">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Điều dưỡng:</strong>&nbsp;
                                    </label>
                                    {{#each this.nursing}}
                                    <em>
                                        <label class="text-success form-label text-uppercase text-right">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Lễ tân:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-uppercase text-right">{{this.recept.firstName}} {{this.recept.lastName}};</label>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent d-flex justify-content-end">
                                <button type="button" class="btn btn-primary btn-mobile" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}">Hình ảnh tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    Hình ảnh tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorImg}}
                                                        {{#each this.counselorImg}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có ảnh
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    Video tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorVideo}}
                                                        {{#each this.counselorVideo}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có video
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="pills-complete" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="search-items-complete">
                <div class="row">
                    {{#each serviceNote2s}}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <div class="d-flex justify-content-between">
                                    <div class="text-danger">
                                        {{this.status}}
                                    </div>
                                    <label name="schedule" class="form-label text-success text-right">{{formatDate this.schedule}}</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Khách hàng:</strong>&nbsp;
                                    </label>
                                    <label class="text-primary form-label text-uppercase text-right">{{this.customerID.firstName}}
                                    {{this.customerID.lastName}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Dịch vụ:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right">{{this.service}}</label>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Phí dịch vụ:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-right">{{this.price}}VND</label>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Bác sĩ:</strong>&nbsp;
                                    </label>
                                    {{#each this.performer}}
                                    <em>
                                        <label class="text-success form-label text-uppercase text-right">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Điều dưỡng:</strong>&nbsp;
                                    </label>
                                    {{#each this.nursing}}
                                    <em>
                                        <label class="text-success form-label text-uppercase text-right">{{this.firstName}}
                                            {{this.lastName}};</label>
                                    </em>
                                    {{/each}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <label for="status">
                                        <strong>Lễ tân:</strong>&nbsp;
                                    </label>
                                    <label class="form-label text-uppercase text-right">{{this.recept.firstName}} {{this.recept.lastName}};</label>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent d-flex justify-content-end">
                                <button type="button" class="btn btn-primary btn-mobile" data-bs-toggle="modal"
                                    data-bs-target="#a{{this._id}}">Hình ảnh tư vấn</button>
                            </div>
                        </div>
                    </div>
                    {{!-- Detail counselor --}}
                    <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="create-re-exam"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title btn-close-white" id="create-re-exam-title">Hình ảnh tư vấn
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    Hình ảnh tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorImg}}
                                                        {{#each this.counselorImg}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <img src="/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có ảnh
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    Video tư vấn:
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="row">    
                                                        {{#if this.counselorVideo}}
                                                        {{#each this.counselorVideo}}
                                                        <div class="col-lg-3">
                                                            <figure class="figure imgbox">
                                                                <video src="/counselor/video/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="..." controls></video>
                                                            </figure>
                                                        </div>
                                                        {{/each}}
                                                        {{else}}
                                                        <p class="text-center">
                                                            Chưa có video
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- create-re-exam modal --}}
<div class="modal fade" id="create-re-examination-modal" tabindex="-1" aria-labelledby="create-re-exam"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title btn-close-white" id="create-re-exam-title">Tạo phiếu tái khám</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-re-exam-form" class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input hidden type="text" class="form-control" id="create-re-exam-customerID"
                                name="customerID" readonly>
                            <input hidden type="text" class="form-control" id="create-service-note-id"
                                name="serviceNoteID" readonly>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <img src="/img/user-icon.png" id="create-re-exam-img"
                                        class="rounded mx-auto d-block add-avata" alt="...">
                                    <div class="mb-4 mt-3">
                                        <label for="schedule" class="form-label">
                                            <h6>Dịch vụ sử dụng:</h6>
                                        </label>
                                        <input type="text" class="form-control bg-white" readonly
                                            id="create-re-exam-serviced" name="serviced">
                                    </div>
                                    <div class="mb-3">
                                        <label for="schedule" class="form-label">
                                            <h6>Ngày hẹn:</h6>
                                        </label>
                                        <input type="datetime-local" class="form-control" id="create-re-exam-schedule"
                                            name="schedule">
                                    </div>
                                    <div class="mb-3">
                                        <label for="comment" class="form-label">
                                            <h6>Ghi chú: </h6>
                                        </label>
                                        <textarea class="form-control" id="create-re-exam-description" rows="6"
                                            name="comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-8 verticalLine">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="name">Họ tên:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label class="text-uppercase text-danger"
                                                    id="create-re-exam-firstLastName" name="name" readonly>
                                            </em>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="birth">Ngày sinh:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label id="create-re-exam-birth" name="birth" readonly></label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="gender">Giới tính:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label id="create-re-exam-gender" name="gender" readonly></label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="email">Email:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label id="create-re-exam-email" class="d-inline-block text-truncate"
                                                    name="email" readonly></label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="phone">Số điện thoại:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label id="create-re-exam-phone" name="phone" readonly></label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="address">Địa chỉ:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <label id="create-re-exam-address" name="address" readonly></label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-sm-6">
                                            <strong>
                                                <label for="createName">Người tạo:</label>
                                            </strong>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <em>
                                                <input hidden type="text" value="{{user._id}}" name="createName" id="">
                                                <label id="create-re-exam-createName"
                                                    readonly>{{user.firstName}} {{user.lastName}}</label>
                                            </em>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <strong>
                                            <label for="description">Mô tả khách hàng:</label>
                                        </strong>
                                        <textarea id="create-re-exam-description" class="form-control mb-2" rows="6"
                                            style="background-color: white;" name="description" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create-re-exam-btn" class="btn btn-primary">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>

{{!-- Detail counselor --}}
<div class="modal fade" id="detail-counselor-modal" tabindex="-1" aria-labelledby="create-re-exam" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title btn-close-white" id="create-re-exam-title">Tạo phiếu tái khám</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="row">
                            <div class="col-md-6 mt-2 imgbox">
                                <img id="counselor-img" class="rounded mx-auto d-block upd-ava" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="" id="video-counselor"></label>
                            {{!-- <video class="rounded mx-auto d-block upd-ava mt-2" src="/counselor/video/{{this}}"
                                type="video/mp4" controls>
                            </video> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/business/business-employ-servicenote.js"></script>