<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_editSchedule_success}}
    <div class="modal fade" id="messageEditScheduleSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_editSchedule_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageEditScheduleSuccess = document.querySelector('#messageEditScheduleSuccess');
            $(messageEditScheduleSuccess).modal('show');
        });
    </script>
{{/if}}
<div class="sticky-top ps-0 pe-0">
    <div class="text-center bg-blue border-bottom">
        <div class="text-light text-uppercase fw-bold pt-2 pb-2">
            {{this.title}}
        </div>
    </div>
</div>
<div class="d-flex">
    {{> page/sidebar/business/employ/sidebar-business-employ-customers}}
    <div class="container-content-scroll pb-3 ps-2 pe-2" style="width: 100%;">
		<div class="redirect-bar bg-blue d-flex justify-content-between rounded">
			<a type="button" onclick="history.back()" class="ml-3">
				<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
			</a>
		</div>
		<table id="table-schedule-trash" class="table table-sm display">
			<thead>
				<tr class="text-center">
					<th scope="col">#</th>
					<th scope="col">Họ tên khai sinh</th>
					<th scope="col">Tên thường gọi</th>
					<th scope="col">Ngày hẹn</th>
					<th scope="col">Đã cọc</th>
					<th scope="col">Tổng chi phí khi tư vấn</th>
					<th scope="col">Tác vụ</th>
				</tr>
			</thead>
			<tbody class="">
				{{#each schedules}}
					<tr>
						<th scope="row" class="text-center"><strong>{{sum @index 1}}</strong></th>
						<td>{{this.customerID.fullName}}</td>
						<td>
							<a id="schedule-detail" type="button" class="link-primary" data-bs-toggle="modal" data-bs-target="#detailScheduleModal"
							data-customer-fullName="{{this.customerID.fullName}}" data-customer-nickName="{{this.customerID.nickName}}" data-customer-birth="{{this.customerID.birth}}"
							data-customer-gender="{{this.customerID.gender}}" data-customer-phone="{{this.customerID.phone}}" data-schedule="{{this.schedule}}" data-service="{{this.service}}"
							data-deposit="{{this.deposit}}" data-priceBefore="{{this.priceBefore}}" data-img="{{this.customerID.img.url}}"data-customer-resource="{{this.customerID.resource}}"
							data-customer-user="{{#each this.customerID}}{{this.firstName}} {{this.lastName}}{{/each}}">
								{{this.customerID.nickName}}
							</a>
						</td>
						<td>{{formatDate this.schedule}}</td>
						<td class="text-warning">{{this.deposit}}</td>
						<td class="text-danger">{{this.priceBefore}}</td>
						<td class="d-flex justify-content-center">
							<a type="button" class="btn btn-info btn-sm text-light" data-bs-toggle="modal" data-bs-target="#restoreScheduleModal" data-schedule-id="{{this._id}}" data-customer="{{this.customerID.nickName}}"
							data-customer-id="{{this.customerID._id}}">
								Khôi phục lịch hẹn
							</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailScheduleModal" tabindex="-1" aria-labelledby="detailScheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="detailScheduleModalLabel">Chi tiết lịch hẹn tư vấn</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text-center mb-3">
					<img src="" id="add-avt" class="rounded add-avata" alt="...">
				</div>
				<div class="d-flex justify-content-between">
					<label for="fullName">
						<strong>Họ tên khai sinh:</strong>&nbsp;
					</label>
					<label class="text-end font-italic" id="schedule-fullName"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="nickName">
						<strong>Tên thường gọi:</strong>&nbsp;
					</label>
					<label class="text-end font-italic" id="schedule-nickName"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="birth">
						<strong>Ngày sinh:</strong>&nbsp;
					</label>
					<label id="schedule-birth"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="gender">
						<strong>Giới tính:</strong>&nbsp;
					</label>
					<label id="schedule-gender"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="phone">
						<strong>Số điện thoại:</strong>&nbsp;
					</label>
					<label id="schedule-phone"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Nguồn:</strong>&nbsp;
					</label>
					<label id="schedule-resource"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Người tạo:</strong>&nbsp;
					</label>
					<label id="schedule-user"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Thời gian hẹn:</strong>&nbsp;
					</label>
					<label id="schedule-schedule"></label>
				</div>
				<label class="" for="schedule-schedule"><strong>Dịch vụ đã chọn:</strong></label>
				<div id="wrapper" class="mb-3">
					
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Đặt cọc:</strong>&nbsp;
					</label>
					<label id="schedule-deposit" class="text-info"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Tổng chi phí khi tư vấn:</strong>&nbsp;
					</label>
					<label id="schedule-priceBefore" class="text-danger"></label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal delete schedule -->
<div class="modal fade" id="restoreScheduleModal" tabindex="-1" aria-labelledby="deleteScheduleLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="restoreScheduleLabel">Khôi phục lịch hẹn</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="restoreScheduleForm" method="POST">
					<input id="restore-schedule-customer-id" type="text" name="customerID">
					Bạn muốn khôi phục lịch hẹn của khách <strong id="restore-schedule-customer"></strong>
				</form>
			</div>
			<div class="modal-footer">
				<button id="restoreScheduleBtn" type="button" class="btn btn-info">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-employ-schedule-trash.js"></script>