<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{!-- <link rel="stylesheet" href="/css/calendar.css"> --}}
{{!-- <link rel="stylesheet" href="/css/calendarjs.css" />
<script src="/js/calendarjs.min.js"></script> --}}
<div class="sticky-top ps-0 pe-0">
    <div class="text-center bg-blue border-bottom">
        <div class="text-light text-uppercase fw-bold pt-2 pb-2">
            {{this.title}}
        </div>
    </div>
</div>
<div class="d-flex">
    {{> page/sidebar/business/employ/sidebar-business-employ-customers}}
    <div class="container-content-scroll pb-3 ps-2 pe-2" style="width: 100%;">
		{{!-- <div id="myCalendar">
		</div> --}}
		{{!-- <ul id="schedules" class="list-group overflow-auto mt-2 mb-2 border" style="height: 89vh;">
			{{#each schedules}}
			<li class="list-group-item border m-2">
				<label for="">#</label><strong>{{sum @index 1}}</strong>
				<div class="d-flex justify-content-start">
					<label for=""><strong>Họ tên khai sinh:</strong></label>&nbsp;
					<p for="">{{this.customerID.fullName}}</p>
				</div>
				<div class="d-flex justify-content-start">
					<label for=""><strong>Tên thường gọi:</strong></label>&nbsp;
					<p for="">{{this.customerID.nickName}}</p>
				</div>
				<div class="d-flex justify-content-start">
					<label for=""><strong>Ngày hẹn:</strong></label>&nbsp;
					<p for="">{{formatBirth this.schedule}}</p>
				</div>
				<div class="d-flex justify-content-start">
					<label for=""><strong>Đã cọc:</strong></label>&nbsp;
					<p for="" class="text-warning"><strong>{{this.deposit}}</strong></p>
				</div>
				<div class="d-flex justify-content-start">
					<label for=""><strong>Tổng chi phí khi tư vấn:</strong></label>&nbsp;
					<p for="" class="text-danger"><strong>{{this.priceBefore}}</strong></p>
				</div>
			</li>
			{{/each}}
		</ul> --}}
		<table id="table-schedule" class="table table-sm display">
			<thead>
				<tr class="text-center">
					<th scope="col">#</th>
					<th scope="col">Họ tên khai sinh</th>
					<th scope="col">Tên thường gọi</th>
					<th scope="col">Ngày hẹn</th>
					<th scope="col">Đã cọc</th>
					<th scope="col">Tổng chi phí khi tư vấn</th>
					<th scope="col">Tác vụ</th>
				</tr>
			</thead>
			<tbody class="">
				{{#each schedules}}
				<tr>
					<th scope="row" class="text-center"><strong>{{sum @index 1}}</strong></th>
					<td>{{this.customerID.fullName}}</td>
					<td>{{this.customerID.nickName}}</td>
					<td>{{formatBirth this.schedule}}</td>
					<td class="text-warning">{{this.deposit}}</td>
					<td class="text-danger">{{this.priceBefore}}</td>
					<td class="d-flex justify-content-between">
						<div data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa lịch hẹn">
							<button type="button" class="btn btn-info btn-sm m-0" data-bs-toggle="modal" data-bs-target="#editSchedule"
							data-fullName="{{this.customerID.fullName}}" data-nickName="{{this.customerID.nickName}}" data-schedule="{{this.schedule}}"
							data-fullName="{{this.customerID.fullName}}"
							>
								<i class="ti-pencil-alt"></i>
							</button>
						</div>
						<div data-bs-toggle="tooltip" data-bs-placement="top" title="Hủy lịch hẹn">
							<button type="button" class="btn btn-danger btn-sm m-0" data-bs-toggle="modal" data-bs-target="#deleteSchedule">
								<i class="ti-close"></i>
							</button>
						</div>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

<script src="/js/business/business-employ-calendar.js"></script>

<!-- Modal edit schedule -->
<div class="modal fade" id="editSchedule" tabindex="-1" aria-labelledby="editScheduleLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="editScheduleLabel">Sửa lịch hẹn</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="edit-schedule-form" class="row" enctype="multipart/form-data">
					<input hidden type="text" class="form-control" id="edit-schedule-customerID" name="customerID" readonly>
					{{#if customer.image.url}}
					<img src="{{customer.image.url}}" id="add-avt" class="rounded add-avata" alt="...">
					{{else}}
					<img src="/img/user-icon.png" id="edit-schedule-img" class="rounded mx-auto d-block add-avata" alt="...">
					{{/if}}
					<div class="d-flex justify-content-between">
						<label for="status">
							<strong>Họ tên khai sinh:</strong>&nbsp;
						</label>
						<label class="text-uppercase text-end font-italic" id="edit-schedule-fullName" name="fullName"></label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status">
							<strong>Tên thường gọi:</strong>&nbsp;
						</label>
						<label class="text-uppercase text-end font-italic" id="edit-schedule-nickName" name="nickName"></label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status">
							<strong>Ngày sinh:</strong>&nbsp;
						</label>
						<label id="edit-schedule-birth" name="birth"></label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status">
							<strong>Giới tính:</strong>&nbsp;
						</label>
						<label id="edit-schedule-gender" name="gender"></label>
					</div>
					<div class="d-flex justify-content-between">
						<label for="status">
							<strong>Số điện thoại:</strong>&nbsp;
						</label>
						<label id="edit-schedule-phone" name="phone"></label>
					</div>
					{{!-- <div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-8">
						</div>
					</div> --}}
					<div class="form-group mb-3">
						<select id="select-service" class="chosen-select" multiple tabindex="6" name="service[]">
							{{#each typeservices}}
							<optgroup label="{{this.name}}">
								{{#each this.services}}
								<option value="{{this.service}}">{{this.service}}</option>
								{{/each}}
							</optgroup>
							{{/each}}
						</select>
					</div>
					<div class="form-floating mb-3">
						<input type="datetime-local" class="form-control bg-transparent text-right" id="edit-schedule-schedule" name="schedule">
						<label class="ps-4" for="edit-schedule-schedule">Ngày hẹn</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control bg-transparent text-right" id="edit-schedule-priceBefore" name="priceBefore">
						<label class="ps-4" for="edit-schedule-priceBefore">Phí dịch vụ</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control bg-transparent text-right"
							id="edit-schedule-deposit" name="deposit">
						<label class="ps-4" for="edit-schedule-deposit">Đặt cọc</label>
					</div>
					<div class="form-floating mb-3">
						<textarea class="form-control bg-transparent" id="edit-schedule-description" rows="6" name="comment"></textarea>
						<label class="ps-4" for="edit-schedule-description">Ghi chú</label>
					</div>
					<div class="preview-images-counselor row ml-0 text-center"></div>
					<label for="input-multi-images-counselor" class="label-avt d-flex justify-content-end" data-input-img-id="{{schedule._id}}">
						<h5 id="text-img-counselor" class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill"><i class="ti-cloud-up fw-bold pr-1"></i>Chọn ảnh trước tư vấn</h5>
					</label>
					<input id="input-multi-images-counselor" class="form-control" type="file" name="beforeCounselor" hidden multiple>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary">Cập nhật</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal delete schedule -->
<div class="modal fade" id="deleteSchedule" tabindex="-1" aria-labelledby="deleteScheduleLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="deleteScheduleLabel">Hủy lịch hẹn</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Bạn chắc chắn muốn xóa lịch hẹn của khách <strong id="delete-schedule-customer"></strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>