<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_updateCusInfo_success}}
    <div class="modal fade" id="messageUpdateCusInfoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_updateCusInfo_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageUpdateCusInfoSuccess = document.querySelector('#messageUpdateCusInfoSuccess');
            $(messageUpdateCusInfoSuccess).modal('show');
        });
    </script>
{{/if}}

{{#if messages_editSchedule_success}}
    <div class="modal fade" id="messageEditScheduleSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_editSchedule_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageEditScheduleSuccess = document.querySelector('#messageEditScheduleSuccess');
            $(messageEditScheduleSuccess).modal('show');
        });
    </script>
{{/if}}
<div class="sticky-top ps-0 pe-0">
    <div class="text-center bg-blue border-bottom">
        <div class="text-light text-uppercase fw-bold pt-2 pb-2">
            {{this.title}}
        </div>
    </div>
</div>
<div class="d-flex">
    {{> page/sidebar/business/employ/sidebar-business-employ-customers}}
	<div class="w-100">
		<ul class="nav nav-tabs mb-3 sticky-top" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="flex-sm-fill text-sm-center nav-link active" data-bs-toggle="tab"
					data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">
					Cập nhật thông tin khách hàng
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab"
					data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="true">
					Cập nhật dịch vụ
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab"
					data-bs-target="#operating-room" type="button" role="tab" aria-controls="operating-room"
					aria-selected="true">
					Cập nhật thông tin thực hiện phẩu thuật
				</button>
			</li>
		</ul>
		<div class="tab-content container-content-scroll-100" id="myTabContent">
			<div class="tab-pane fade show active ps-3 pe-3" id="customer" role="tabpanel" aria-labelledby="home-tab">
				<form method="POST" id="submit-customer-form"
					action="/business/employ/service-note/{{serviceNote._id}}/cus-info?_method=PUT">
					<input class="form-control bg-light" type="text"
						value="{{serviceNote.scheduleID.customerID._id}}" hidden name="cusID">
					<div class="row">
						<div class="col-md-3 form-group">
							<label for="input-identification" class="mb-0">Mã định danh</label>
							<input id="input-identification" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.identification}}"
							rules="required" type="text" name="identification" placeholder="VD: BA...">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-fullname" class="mb-0">Họ tên khai sinh</label>
							<input id="input-fullname" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.fullName}}"
							rules="required" type="text" name="fullName" placeholder="VD: Nguyễn Thị Tuyết Như">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-nickname" class="mb-0">Tên thường gọi</label>
							<input id="input-nickname" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.nickName}}" type="text" name="nickName">
						</div>
						<div class="col-md-3 form-group">
							<label for="input-gender" class="mb-0">Ngày sinh</label>
							<input id="input-gender" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.birth}}" type="date" name="birth">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 form-group">
							<label for="select-gender" class="mb-0">Giới tính</label>
							<select class="form-select rounded form-control-sm" id="select-gender" name="gender">
								<option class="" selected>{{getGender serviceNote.scheduleID.customerID.gender}}</option>
								<option class="" value="Nam">Nam</option>
								<option class="" value="Nữ">Nữ</option>
							</select>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-phone" class="mb-0">Số điện thoại</label>
							<input id="input-phone" class="form-control rounded form-control-sm" type="text" value="0{{serviceNote.scheduleID.customerID.phone}}" name="phone">
						</div>
						<div class="col-md-3 form-group">
							<label for="input-home-town" class="mb-0">Quê quán</label>
							<input id="input-home-town" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.homeTown}}"
							rules="required" type="text" name="homeTown" placeholder="VD: TP Hồ Chí Minh">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-height" class="mb-0">Chiều cao</label>
							<input id="input-height" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.height}}"
							rules="required" type="text" name="height" placeholder="VD: 1.70">
							<span class="form-message mt-1"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 form-group">
							<label for="input-weight" class="mb-0">Cân nặng</label>
							<input id="input-weight" class="form-control rounded form-control-sm" value="{{serviceNote.scheduleID.customerID.weight}}"
							rules="required" type="text" name="weight" placeholder="VD: 52kg">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-surgeryDay" class="mb-0">Ngày phẩu thuật</label>
							<input id="input-surgeryDay" class="form-control rounded form-control-sm" value="{{serviceNote.surgeryDay}}"
							rules="required" type="datetime-local" name="surgeryDay">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-floor" class="mb-0">Khu vực phẩu thuật</label>
							<input id="input-floor" class="form-control rounded form-control-sm" value="{{serviceNote.floor}}"
							rules="required" type="text" name="floor" placeholder="VD: Phòng 3 tầng 8">
							<span class="form-message mt-1"></span>
						</div>
						<div class="col-md-3 form-group">
							<label for="input-doctor" class="mb-0">Bác sĩ</label>
							<input id="input-doctor" class="form-control rounded form-control-sm" value="{{#each doctor}}{{this.firstName}} {{this.lastName}}{{/each}}" type="text">
							<input type="text" value="{{#each doctor}}{{this._id}}{{/each}}" name="performer" hidden>
						</div>
					</div>
					<div class="text-right mb-3">
						<button id="submit-customer-form-btn" type="submit" class="btn btn-primary btn-mobile rounded-pill border">Cập nhật</button>
					</div>
				</form>
			</div>
			<div class="tab-pane fade pe-3 ps-3 mt-2" id="service" role="tabpanel" aria-labelledby="profile-tab">
				<div class="row">
					<div class="col-md-6">
						<table class="table table-sm" style="height: 500px;">
							<thead class="">
								<tr class="">
									<th scope="col">#</th>
									<th scope="col">Dịch vụ</th>
									<th scope="col">Chi phí</th>
									<th scope="col" class="text-center">Hành động</th>
								</tr>
							</thead>
							<tbody>
								{{#each serviceNote.service}}
								<tr class=" table-row">
									<th scope="row">{{sum @index 1}}</th>
									<td>{{this.name}}</td>
									<td>{{this.price}}</td>
									<td class="text-center">
										<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
											data-bs-target="#deleteService" data-service-note-id="{{serviceNote._id}}" data-service-id="{{this._id}}" data-service-name="{{this.name}}">
											<i class="fa-sharp fa-solid fa-xmark"></i>
										</button>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<div class="text-right">
							<button id="add-services" class="btn btn-primary border-light mb-2 btn-mobile rounded-pill">
								<i class="ti-plus mr-2"></i>Thêm dịch vụ
							</button>
						</div>
						<form method="POST" id="submit-service-form" action="/business/employ/service-note/{{serviceNote._id}}/service-info?_method=PUT">
							<input type="text" value="{{serviceNote.scheduleID.customerID._id}}" name="cusID" hidden>
							<div class="list-group mb-3 p-0">
								<div id="service-container" class="list-group-item container-content-page p-2 ml-0">
								</div>
							</div>
							<div class="form-group mb-3">
								<label for="totalServiceCharge" class="mb-0">Tổng phí dịch vụ</label>
								<input id="totalServiceCharge" class="form-control text-right text-danger fw-bold bg-white"
									type="text" readonly name="totalServiceCharge">
							</div>
							<div class="form-group mb-3">
								<label for="deposit" class="mb-0">Đặt cọc</label>
								<input id="deposit"class="form-control text-right text-warning fw-bold bg-white"
									type="text" value="{{serviceNote.scheduleID.deposit}}" name="deposit" readonly>
							</div>
							<div class="form-group mb-3">
								<label for="discount" class="mb-0">Giảm giá</label>
								<input id="discount"class="form-control text-right text-info fw-bold bg-white"
								rules="required|isNumCurrency" type="text" name="discount" value="0">
								<span class="form-message mt-1"></span>
							</div>
							<div class="form-group mb-3">
								<label for="amount-to-be-paid" class="mb-0">Số tiền cần thanh toán</label>
								<input id="amount-to-be-paid" class="form-control text-right text-danger fw-bold bg-white"
									type="text" readonly name="amountToBePaid" value="0">
							</div>
							<div class="form-group mb-3">
								<label for="total" class="mb-0">Thành tiền</label>
								<input id="total" class="form-control text-right text-danger fw-bold bg-white"
									type="text" readonly name="total">
							</div>
							<div class="text-right mb-3">
								<button id="submit-service-form-btn"  type="submit" class="btn btn-primary btn-mobile rounded-pill border">Cập nhật</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="tab-pane fade pe-3 ps-3 mt-2" id="operating-room" role="tabpanel" aria-labelledby="contact-tab">
				<div class="accordion accordion-flush mb-4" id="accordionFlush-{{serviceNote._id}}">
					<div class="accordion-item bg-transparent">
						<h2 class="accordion-header bg-transparent" id="flush-counselor-{{serviceNote._id}}">
							<button class="accordion-button collapsed bg-transparent text-light" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapse-counselor-{{serviceNote._id}}" aria-expanded="false"
								aria-controls="flush-collapse-counselor-{{serviceNote._id}}">
								Thông tin tư vấn
							</button>
						</h2>
						<div id="flush-collapse-counselor-{{serviceNote._id}}" class="accordion-collapse collapse"
							aria-labelledby="flush-counselor-{{serviceNote._id}}"
							data-bs-parent="#accordionFlush-{{serviceNote._id}}">
							<div class="accordion-body">
								<form method="POST" id="submit-counselor-form"
									action="/operating-room/nursing/customer-information/{{serviceNote._id}}/operating-counselor"
									enctype="multipart/form-data">
									<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
										name="customerID">
									<div class="row">
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.counselorImg}}
												{{#each serviceNote.counselorImg}}
												<div class="slide-counselor-img fadeOn">
													<img class="figure-img img-fluid rounded img-cover img-center"
														src="{{this.url}}">
													{{!-- <img class="figure-img img-fluid rounded img-cover img-center"
														src="/counselor/img/{{this.name}}"> --}}
												</div>
												{{/each}}
												{{else}}
												<div class="slide-counselor-img fadeOn text-center text-light">
													Chưa có hình ảnh
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesCounselorImg(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesCounselorImg(1)">&#10095;</a>
												<div style="text-align:center">
													{{#each serviceNote.counselorImg}}
													<span class="dot" onclick="currentSlideCounselorImg({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.counselorVideo}}
												{{#each serviceNote.counselorVideo}}
												<div class="slide-counselor-video fadeOn">
													<video class="figure-img img-fluid rounded video-cover-slide img-center" controls>
														<source src="{{this.url}}">
														{{!-- <source src="/counselor/video/{{this.name}}" type="video/quicktime"> --}}
													</video>
												</div>
												{{/each}}
												{{else}}
												<div class="slide-counselor-video fadeOn text-center text-light">
													Chưa có video
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesCounselorVideo(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesCounselorVideo(1)">&#10095;</a>
												<div style="text-align:center">
													{{#each serviceNote.counselorVideo}}
													<span class="dot"
														onclick="currentSlideCounselorVideo({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
									<!-- Slideshow container -->
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="preview-images-counselor row ml-0 text-center"></div>
											<label for="input-multi-images-counselor"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-counselor"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn</h5>
											</label>
											<input id="input-multi-images-counselor" class="form-control"
												type="file" name="counselor" hidden multiple>
										</div>
										<div class="col-md-6">
											<div class="preview-videos-counselor row ml-0 text-center"></div>
											<label for="input-multi-videos-counselor"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-counselor"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn</h5>
											</label>
											<input id="input-multi-videos-counselor" class="form-control"
												type="file" name="counselor" hidden multiple>
										</div>
										<div class="text-light">
											<label for="steps-to-take-area"><strong>Thông tin tư
													vấn:</strong></label>
										</div>
										<div class="mb-4">
											<textarea class="form-control mr-3 pl-3 bg-transparent text-light"
												name="counselorInfo" cols="30"
												rows="8">{{serviceNote.counselorInfo}}</textarea>
										</div>
										<div class="text-right">
											<button id="submit-counselor-form-btn"
												class="btn btn-primary btn-mobile rounded-pill border">Cập
												nhật</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-item bg-transparent">
						<h2 class="accordion-header bg-transparent" id="flush-before-{{serviceNote._id}}">
							<button class="accordion-button collapsed bg-transparent text-light" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapse-before-{{serviceNote._id}}" aria-expanded="false"
								aria-controls="flush-collapse-before-{{serviceNote._id}}">
								Thông tin trước phẩu
							</button>
						</h2>
						<div id="flush-collapse-before-{{serviceNote._id}}" class="accordion-collapse collapse"
							aria-labelledby="flush-before-{{serviceNote._id}}"
							data-bs-parent="#accordionFlush-{{serviceNote._id}}">
							<div class="accordion-body">
								<form method="POST" id="submit-before-form"
									action="/operating-room/nursing/customer-information/{{serviceNote._id}}/operating-before"
									enctype="multipart/form-data">
									<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
										name="customerID">
									<div class="row">
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.beforeImg}}
												{{#each serviceNote.beforeImg}}
												<div class="slide-before-img fadeOn">
													<img class="figure-img img-fluid rounded img-cover img-center"
														src="{{this.url}}">
													{{!-- <img class="figure-img img-fluid rounded img-cover img-center"
														src="/before/img/{{this.name}}"> --}}
												</div>
												{{/each}}
												{{else}}
												<div class="slide-before-img fadeOn text-center text-light">
													Chưa có hình ảnh
												</div>
												{{/if}}
												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesBeforeImg(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesBeforeImg(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.beforeImg}}
													<span class="dot" onclick="currentSlideBeforeImg({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.beforeVideo}}
												{{#each serviceNote.beforeVideo}}
												<div class="slide-before-video fadeOn">
													<video class="figure-img img-fluid rounded video-cover-slide img-center"
														controls>
														<source src="{{this.url}}">
														{{!--<source src="/before/video/{{this.name}}"> --}}
													</video>
												</div>
												{{/each}}
												{{else}}
												<div class="slide-before-video fadeOn text-center text-light">
													Chưa có video
												</div>
												{{/if}}
												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesBeforeVideo(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesBeforeVideo(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.beforeVideo}}
													<span class="dot" onclick="currentSlideBeforeVideo({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="preview-images-before row ml-0 text-center"></div>
											<label for="input-multi-images-before"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-before"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh trước phẩu
													thuật</h5>
											</label>
											<input id="input-multi-images-before" class="form-control" type="file"
												name="before" hidden multiple>
										</div>
										<div class="col-md-6">
											<div class="preview-videos-before row ml-0 text-center"></div>
											<label for="input-multi-videos-before"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-before"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video trước phẩu
													thuật</h5>
											</label>
											<input id="input-multi-videos-before" class="form-control" type="file"
												name="before" hidden multiple>
										</div>
										<div class="text-light">
											<label for="steps-to-take-area"><strong>Thông tin trước phẩu
													thuật:</strong></label>
										</div>
										<div class="mb-4">
											<textarea style="width: inherit;"
												class="form-control mr-3 pl-3 bg-transparent text-light"
												name="beforeInfo" cols="30"
												rows="8">{{serviceNote.beforeInfo}}</textarea>
										</div>
										<div class="text-right">
											<button id="submit-before-form-btn"
												class="btn btn-primary btn-mobile rounded-pill border">Cập
												nhật</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-item bg-transparent">
						<h2 class="accordion-header bg-transparent" id="flush-in-{{serviceNote._id}}">
							<button class="accordion-button collapsed bg-transparent text-light" type="button"
								data-bs-toggle="collapse" data-bs-target="#flush-collapse-in-{{serviceNote._id}}"
								aria-expanded="false" aria-controls="flush-collapse-in-{{serviceNote._id}}">
								Thông tin phẩu thuật
							</button>
						</h2>
						<div id="flush-collapse-in-{{serviceNote._id}}" class="accordion-collapse collapse"
							aria-labelledby="flush-in-{{serviceNote._id}}"
							data-bs-parent="#accordionFlush-{{serviceNote._id}}">
							<div class="accordion-body">
								<form method="POST" id="submit-inSurgery-form"
									action="/operating-room/nursing/customer-information/{{serviceNote._id}}/operating-in-surgery"
									enctype="multipart/form-data">
									<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
										name="customerID">
									<div class="row">
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.inSurgeryImg}}
												{{#each serviceNote.inSurgeryImg}}
												<div class="slide-in-img fadeOn">
													<img class="figure-img img-fluid rounded img-cover img-center"
														src="{{this.url}}">
													{{!-- <img class="figure-img img-fluid rounded img-cover img-center"
														src="/in-surgery/img/{{this.name}}"> --}}
												</div>
												{{/each}}
												{{else}}
												<div class="slide-in-img fadeOn text-center text-light">
													Chưa có hình ảnh
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesInImg(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesInImg(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.inSurgeryImg}}
													<span class="dot" onclick="currentSlideInImg({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.inSurgeryVideo}}
												{{#each serviceNote.inSurgeryVideo}}
												<div class="slide-in-video fadeOn">
													<video class="figure-img img-fluid rounded video-cover-slide img-center"
														controls>
														<source src="{{this.url}}">
														{{!--<source src="/in-surgery/video/{{this.name}}"> --}}
													</video>
												</div>
												{{/each}}
												{{else}}
												<div class="slide-in-video fadeOn text-center text-light">
													Chưa có video
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesInVideo(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesInVideo(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.inSurgeryVideo}}
													<span class="dot" onclick="currentSlideInVideo({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="preview-images-in-surgery row ml-0 text-center"></div>
											<label for="input-multi-images-in-surgery"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-in-surgery"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh phẩu thuật</h5>
											</label>
											<input id="input-multi-images-in-surgery" class="form-control"
												type="file" name="inSurgery" hidden multiple>
										</div>
										<div class="col-md-6">
											<div class="preview-videos-in-surgery row ml-0 text-center"></div>
											<label for="input-multi-videos-in-surgery"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-in-surgery"
													class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video phẩu thuật
												</h5>
											</label>
											<input id="input-multi-videos-in-surgery" class="form-control"
												type="file" name="inSurgery" hidden multiple>
										</div>
										<div class="text-light">
											<label for="steps-to-take-area"><strong>Các bước thực
													hiện:</strong></label>
										</div>
										<div class="mb-4">
											<textarea class="form-control mr-3 pl-3 bg-transparent text-light"
												name="stepsToTake" cols="30"
												rows="8">{{serviceNote.stepsToTake}}</textarea>
										</div>
										<div class="text-right">
											<button id="submit-in-surgery-form-btn"
												class="btn btn-primary btn-mobile rounded-pill border">Cập
												nhật</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="accordion-item bg-transparent">
						<h2 class="accordion-header bg-transparent" id="flush-after-{{serviceNote._id}}">
							<button class="accordion-button collapsed bg-transparent text-light" type="button"
								data-bs-toggle="collapse" data-bs-target="#flush-collapse-after-{{serviceNote._id}}"
								aria-expanded="false" aria-controls="flush-collapse-after-{{serviceNote._id}}">
								Thông tin hậu phẩu - hồi sức
							</button>
						</h2>
						<div id="flush-collapse-after-{{serviceNote._id}}" class="accordion-collapse collapse"
							aria-labelledby="flush-after-{{serviceNote._id}}"
							data-bs-parent="#accordionFlush-{{serviceNote._id}}">
							<div class="accordion-body">
								<form method="POST" id="submit-after-form"
									action="/operating-room/nursing/customer-information/{{serviceNote._id}}/operating-after"
									enctype="multipart/form-data">
									<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
										name="customerID">
									<div class="row">
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.afterImg}}
												{{#each serviceNote.afterImg}}
												<div class="slide-after-img fadeOn">
													<img class="figure-img img-fluid rounded img-cover img-center"
														src="{{this.url}}">
													{{!-- <img class="figure-img img-fluid rounded img-cover img-center"
														src="/after/img/{{this.name}}"> --}}
												</div>
												{{/each}}
												{{else}}
												<div class="slide-after-img fadeOn text-center text-light">
													Chưa có hình ảnh
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesAfterImg(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesAfterImg(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.afterImg}}
													<span class="dot" onclick="currentSlideAfterImg({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="slideshow-container mt-3 mb-3">
												<!-- Full-width images with number and caption text -->
												{{#if serviceNote.afterVideo}}
												{{#each serviceNote.afterVideo}}
												<div class="slide-after-video fadeOn">
													<video class="figure-img img-fluid rounded video-cover-slide img-center"
														controls>
														<source src="{{this.url}}">
														{{!--<source src="/after/video/{{this.name}}"> --}}
													</video>
												</div>
												{{/each}}
												{{else}}
												<div class="slide-after-video fadeOn text-center text-light">
													Chưa có video
												</div>
												{{/if}}

												<!-- Next and previous buttons -->
												<a class="prev" onclick="plusSlidesAfterVideo(-1)">&#10094;</a>
												<a class="next" onclick="plusSlidesAfterVideo(1)">&#10095;</a>
												<!-- The dots/circles -->
												<div style="text-align:center">
													{{#each serviceNote.afterVideo}}
													<span class="dot" onclick="currentSlideAfterVideo({{@index}})"></span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="preview-images-after row ml-0 text-center"></div>
											<label for="input-multi-images-after"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-after"
													class="btn bg-secondary text-uppercase text-light btn-mobile border rounded-pill">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh hậu phẩu</h5>
											</label>
											<input id="input-multi-images-after" class="form-control" type="file"
												name="after" hidden multiple>
										</div>
										<div class="col-md-6">
											<div class="preview-videos-after row ml-0 text-center"></div>
											<label for="input-multi-videos-after"
												class="label-avt d-flex justify-content-center"
												data-input-img-id="{{serviceNote._id}}">
												<h5 id="text-img-after"
													class="btn bg-secondary text-uppercase text-light btn-mobile border rounded-pill">
													<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video hậu phẩu</h5>
											</label>
											<input id="input-multi-videos-after" class="form-control" type="file"
												name="after" hidden multiple>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="text-light">
													<label for="steps-to-take-area"><strong>Tình trạng khách
															hàng:</strong></label>
												</div>
												<div class="mb-4">
													<textarea style="width: 100%;"
														class="form-control pl-3 bg-transparent text-light"
														name="statusAfterInfo" cols="30"
														rows="8">{{serviceNote.statusAfterInfo}}</textarea>
												</div>
											</div>
											<div class="col-md-4">
												<div class="text-light">
													<label for="steps-to-take-area"><strong>Chỉ định bác
															sĩ:</strong></label>
												</div>
												<div class="mb-4">
													<textarea style="width: 100%;"
														class="form-control pl-3 bg-transparent text-light"
														name="directedByDoctor" cols="30"
														rows="8">{{serviceNote.directedByDoctor}}</textarea>
												</div>
											</div>
											<div class="col-md-4">
												<div class="text-light">
													<label for="steps-to-take-area"><strong>Các bước thực
															hiện:</strong></label>
												</div>
												<div class="mb-4">
													<textarea style="width: 100%;"
														class="form-control bg-transparent text-light"
														name="afterInfo" cols="30"
														rows="8">{{serviceNote.afterInfo}}</textarea>
												</div>
											</div>
										</div>
										<div class="text-right">
											<button id="submit-after-form-btn"
												class="btn btn-primary btn-mobile rounded-pill border">Cập
												nhật</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="exampleModalLabel">Xóa dịch vụ</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="deleteServiceForm" method="POST" action="/operating-room/nursing/service-note/service/{{serviceNote._id}}/delete?_method=DELETE">
					<input id="serviceID" type="text" name="serviceID" hidden>
					<input id="customerID" type="text" name="customerID" value="{{serviceNote.scheduleID.customerID._id}}" hidden>
					Bạn chắc chắn muốn xóa dịch vụ <strong id="serviceName"></strong>?
				</form>
			</div>
			<div class="modal-footer">
				<button id="deleteServiceBtn" type="button" class="btn btn-danger">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không, hủy thao tác</button>
			</div>
		</div>
	</div>
</div>
<script src="/js/business/business-employ-service-note-create.js"></script>

<script>
	validate("#submit-customer-form");
	validate("#submit-service-form");
</script>