<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_moveCustomer_success}}
	<div class="modal fade" id="messageMoveCustomerSuccess" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_moveCustomer_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageMoveCustomerSuccess = document.querySelector('#messageMoveCustomerSuccess');
            $(messageMoveCustomerSuccess).modal('show');
        });
    </script>
{{/if}}
{{#if messages_createCustomer_success}}
    <div class="modal fade" id="messageCreateCustomerSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_createCustomer_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageCreateCustomerSuccess = document.querySelector('#messageCreateCustomerSuccess');
            $(messageCreateCustomerSuccess).modal('show');
        });
    </script>
{{/if}}
{{#if messages_editCustomer_success}}
	<div class="modal fade" id="messageEditCustomerSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_editCustomer_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageEditCustomerSuccess = document.querySelector('#messageEditCustomerSuccess');
            $(messageEditCustomerSuccess).modal('show');
        });
    </script>
{{/if}}

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
						<span class="d-none d-sm-inline">Bảng điều khiển</span>
					</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
                    </li>
					<li>
                        <a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch vụ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0">
			<div class="" style="width: 100%;">
				<div class="sticky-top pe-0 ps-0">
					<div class="text-center bg-blue border-bottom">
						<div class="text-light text-uppercase fw-bold pt-2 pb-2">
							{{this.title}}
						</div>
					</div>
				</div>
				<ul class="nav nav-pills flex-xl-row flex-lg-row flex-md-row flex-sm-column bg-blue ms-0" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/new" class="nav-link text-white">
							Khách mới
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/potential" class="nav-link text-white">
							Khách tiềm năng
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/schedule" class="nav-link text-white">
							Khách đặt lịch
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/discharge-from-hospital" class="nav-link text-white">
							Khách xuất viện
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/done" class="nav-link text-white">
							Khách hoàn thành
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="/business/employ/customers/notok" class="nav-link active text-white">
							Khách tư vấn không thành công
						</a>
					</li>
				</ul>
				<div class="redirect-bar d-flex justify-content-between" style="height: 48px;">
					<div></div>
					<a href="/business/employ/customers/create" type="button" class="btn btn-sm text-light btn-primary rounded-pill mt-2 ml-2 mb-2 mr-3 border">Tạo khách hàng</a>
				</div>
				<div class="ps-2 pe-2">
					<table id="customerFail" class="table table-striped table-hover table-sm table-bordered display">
						<thead class="bg-blue">
							<tr class="text-light">
								<th class="text-center">#</th>
								<th class="text-center">Họ tên</th>
								<th class="text-center">Số điện thoại</th>
								<th class="text-center">Nguồn</th>
								<th class="text-center">Ngày tạo</th>
								<th class="text-center">Trạng thái</th>
								<th class="text-center">Hành động</th>
							</tr>
						</thead>
						<tbody id="table-content">
							{{#each customersFail}}
							<tr class="text-dark">
								<th class="text-center" scope="row">{{sum @index 1}}</th>
								<td><a class="link-primary" href="/business/employ/customers/{{this._id}}/detail">{{this.nickName}} - {{this.fullName}}</a></td>
								<td class="text-center">0{{this.phone}}</td>
								<td class="text-center">{{this.resource}}</td>
								<td class="text-center">{{formatDate this.createdAt}}</td>
								<td class="text-center">{{this.statusCus.statusVi}}</td>
								<td class="text-center">
									<a href="/business/employ/customers/{{this._id}}/edit" type="button" class="btn btn-info btn-sm border">
										<div data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa thông tin khách hàng">
											<i class="ti-pencil-alt"></i>
										</div>
									</a>
									<button class="btn btn-primary border btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
										<div data-bs-toggle="tooltip" data-bs-placement="top" title="Chuyển trạng thái">
											<i class="fa-solid fa-arrow-right-arrow-left"></i>
										</div>
									</button>
									<ul class="dropdown-menu">
										<li>
											<form id="customer-potential-form" method="POST" action="/business/employ/customers/{{this._id}}/potential?_method=PATCH">
												<button type="submit" class="dropdown-item" data-potential="Potential" data-cusID="{{this._id}}">Tiềm năng</button>
											</form>
										</li>
										<li><hr class="dropdown-divider"></li>
										<li>
											<form id="customer-schedule-form" method="POST" action="/business/employ/customers/{{this._id}}/schedule?_method=PATCH">
												<button type="submit" class="dropdown-item" data-notOK="Schedule" data-cusID="{{this._id}}">Đặt lịch</button>
											</form>
										</li>
									</ul>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</div>
{{!-- <div class="d-flex">
    {{> page/sidebar/business/employ/sidebar-business-employ-customers}}
</div> --}}

<script src="/js/business/business-employ-customer-notok.js"></script>
