<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_editSchedule_success}}
    <div class="modal fade" id="messageEditScheduleSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_editSchedule_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageEditScheduleSuccess = document.querySelector('#messageEditScheduleSuccess');
            $(messageEditScheduleSuccess).modal('show');
        });
    </script>
{{/if}}

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
						<span class="d-none d-sm-inline">Bảng điều khiển</span>
					</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
                    </li>
					<li>
                        <a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch vụ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0">
			<div class="sticky-top ps-0 pe-0">
				<div class="text-center bg-blue border-bottom">
					<div class="text-light text-uppercase fw-bold pt-2 pb-2">
						{{this.title}}
					</div>
				</div>
			</div>
			<div class="redirect-bar bg-blue d-flex justify-content-between">
				<a type="button" href="/business/employ/service-note" class="ml-3">
					<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
				</a>
			</div>
			<div class="pb-3 ps-2 pe-2" style="width: 100%;">
				<table id="table-service-note-trash" class="table table-sm display">
					<thead>
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">Họ tên khai sinh</th>
							<th scope="col">Tên thường gọi</th>
							<th scope="col">Ngày hẹn</th>
							<th scope="col">Đã cọc</th>
							<th scope="col">Tổng chi phí khi tư vấn</th>
							<th scope="col">Tác vụ</th>
						</tr>
					</thead>
					<tbody class="">
						{{#each serviceNotes}}
							<tr>
								<th scope="row" class="text-center"><strong>{{sum @index 1}}</strong></th>
								<td>{{this.scheduleID.customerID.fullName}}</td>
								<td>
									<a id="schedule-detail" type="button" class="link-primary" data-bs-toggle="modal" data-bs-target="#detailScheduleModal"
									data-customer-fullName="{{this.scheduleID.customerID.fullName}}" data-customer-nickName="{{this.scheduleID.customerID.nickName}}" data-customer-birth="{{this.scheduleID.customerID.birth}}"
									data-customer-gender="{{this.scheduleID.customerID.gender}}" data-customer-phone="{{this.scheduleID.customerID.phone}}" data-schedule="{{this.schedule}}" data-service="{{this.service}}"
									data-deposit="{{this.deposit}}" data-priceBefore="{{this.priceBefore}}" data-img="{{this.scheduleID.customerID.img.url}}" data-customer-resource="{{this.scheduleID.customerID.resource}}"
									data-customer-user="{{#each this.scheduleID.customerID}}{{this.firstName}} {{this.lastName}}{{/each}}">
										{{this.scheduleID.customerID.nickName}}
									</a>
								</td>
								<td>{{formatDate this.scheduleID.schedule}}</td>
								<td class="text-warning">{{this.scheduleID.deposit}}</td>
								<td class="text-danger">{{this.scheduleID.priceBefore}}</td>
								<td class="d-flex justify-content-center">
									<a type="button" class="btn btn-info btn-sm text-light" data-bs-toggle="modal" data-bs-target="#restoreServiceNoteModal" data-service-note-id="{{this._id}}"
									data-customer-fullName="{{this.scheduleID.customerID.fullName}}" data-customer-nickName="{{this.scheduleID.customerID.nickName}}" data-schedule-id="{{this.scheduleID._id}}"
									data-customer-id="{{this.scheduleID.customerID._id}}">
										Khôi phục lịch hẹn
									</a>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailScheduleModal" tabindex="-1" aria-labelledby="detailScheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="detailScheduleModalLabel">Chi tiết lịch hẹn tư vấn</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text-center mb-3">
					<img src="" id="add-avt" class="rounded add-avata" alt="...">
				</div>
				<div class="d-flex justify-content-between">
					<label for="fullName">
						<strong>Họ tên khai sinh:</strong>&nbsp;
					</label>
					<label class="text-end font-italic" id="schedule-fullName"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="nickName">
						<strong>Tên thường gọi:</strong>&nbsp;
					</label>
					<label class="text-end font-italic" id="schedule-nickName"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="birth">
						<strong>Ngày sinh:</strong>&nbsp;
					</label>
					<label id="schedule-birth"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="gender">
						<strong>Giới tính:</strong>&nbsp;
					</label>
					<label id="schedule-gender"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="phone">
						<strong>Số điện thoại:</strong>&nbsp;
					</label>
					<label id="schedule-phone"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Nguồn:</strong>&nbsp;
					</label>
					<label id="schedule-resource"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Người tạo:</strong>&nbsp;
					</label>
					<label id="schedule-user"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Thời gian hẹn:</strong>&nbsp;
					</label>
					<label id="schedule-schedule"></label>
				</div>
				<label class="" for="schedule-schedule"><strong>Dịch vụ đã chọn:</strong></label>
				<div id="wrapper" class="mb-3">
					
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Đặt cọc:</strong>&nbsp;
					</label>
					<label id="schedule-deposit" class="text-info"></label>
				</div>
				<div class="d-flex justify-content-between">
					<label for="status">
						<strong>Tổng chi phí khi tư vấn:</strong>&nbsp;
					</label>
					<label id="schedule-priceBefore" class="text-danger"></label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal restore service note -->
<div class="modal fade" id="restoreServiceNoteModal" tabindex="-1" aria-labelledby="deleteServiceNoteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<h5 class="modal-title text-light" id="restoreServiceNoteLabel">Khôi phục phiếu dịch vụ</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="restoreServiceNoteForm" method="POST">
					<input id="restore-schedule-id" type="text" name="scheduleID" hidden>
					<input id="restore-customer-id" type="text" name="customerID" hidden>
					Bạn muốn khôi phục phiếu dịch vụ của khách <strong id="restore-customer-name"></strong>
				</form>
			</div>
			<div class="modal-footer">
				<button id="restoreServiceNoteBtn" type="button" class="btn btn-info">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-employ-service-note-trash.js"></script>