<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
						<span class="d-none d-sm-inline">Bảng điều khiển</span>
					</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
                    </li>
					<li>
                        <a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch vụ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0">
			<div class="sticky-top">
				<nav class="navbar navbar-light bg-blue">
					<div class="img-container">
						<a type="button" onclick="history.back()">
							<i class="fa-solid fa-circle-arrow-left text-light fs-2 pt-2"></i>
						</a>
					</div>
					<div class="text-light text-uppercase fw-bold">
						{{this.title}}
					</div>
					<button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
							class="ti-menu"></i>
					</button>
				</nav>
			</div>
			<div class="container-fluid">
				{{#if serviceNote}}
				<div class="card shadow mt-3 mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Mã khách hàng:</strong>
									</label>
									<label class="fs-6 text-right text-danger">
										{{serviceNote.scheduleID.customerID.identification}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Họ tên khai sinh:</strong>
									</label>
									<label class="fs-6 text-right text-primary">
										{{serviceNote.scheduleID.customerID.fullName}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Tên thường gọi:</strong>
									</label>
									<label class="fs-6 text-right">
										{{serviceNote.scheduleID.customerID.nickName}}
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Quê quán:</strong>
									</label>
									<label class="fs-6 text-right">
										{{serviceNote.scheduleID.customerID.homeTown}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Trạng thái:</strong>
									</label>
									<label class="fs-6 text-danger text-right">
										<em>{{serviceNote.status}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Bác sĩ thực hiện:</strong>
									</label>
									<label class="">
										{{#each serviceNote.performer}}
										<em>{{this.firstName}} {{this.lastName}}</em>
										{{/each}}
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Chiều cao:</strong>
									</label>
									<label class="">
										<em>{{serviceNote.scheduleID.customerID.height}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Cân nặng:</strong>
									</label>
									<label class="text-right">
										<em>{{serviceNote.scheduleID.customerID.weight}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày phẩu thuật:</strong>
									</label>
									<label class="text-right text-success">
										{{formatDate serviceNote.surgeryDay}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Tầng phẩu thuật:</strong>
									</label>
									<label class="text-right">
										{{serviceNote.floor}}
									</label>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Dịch vụ đăng ký:</strong>
							</label>
						</div>
						{{#each serviceNote.service}}
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-dark-yellow">
								<em>{{this.name}}</em>
							</label>
							<label class="text-right">
								<em>{{this.price}}</em>
							</label>
						</div>
						{{/each}}
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Đặt cọc:</strong>
							</label>
							<label class="text-warning text-right">
								{{serviceNote.deposit}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Tổng chi phí:</strong>
							</label>
							<label class="text-danger text-right">
								{{serviceNote.total}}
							</label>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<script src="/js/customer-care/customer-care-employ-customer.js"></script>