<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
</head>

<body>
    <nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
        <div class="title">
            <a href="/business/employ/customers" class="text-light"><i class="ti-back-left"></i> Quay lại</a>
        </div>
        <h3 class="title text-light">Quản lý phiếu dịch vụ</h3>
        <div class="stask">

        </div>
    </nav>
    {{> page/sidebar/business/employ/sidebar-business-service}}
    <div class="container-fluid container-content-page mt-3">
        <div class="row">
            {{#each serviceNotes}}
            <div class="col-md-6 ">
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col-md-6">
                            <strong name="status" class="form-label text-danger">{{this.status}}</strong>
                        </div>

                        <div class="col-md-6">
                            <h5>
                                <em>
                                    <strong>
                                        <label name="schedule" class="form-label text-success">{{formatDate
                                            this.schedule}}</label>
                                    </strong>
                                </em>
                            </h5>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>
                                <label class="form-label">Khách hàng: </label>
                            </strong>
                        </div>
                        <div class="col-md-6">
                            <em>
                                <label
                                    class="text-primary form-label text-uppercase">{{this.customerID.firstName}} {{this.customerID.lastName}}</label>
                            </em>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>
                                <label class="form-label">Dịch vụ: </label>
                            </strong>

                        </div>
                        <div class="col-md-6">
                            <em>
                                <label class="form-label">{{this.service}}</label>
                            </em>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>
                                <label class="form-label">Thành giá: </label>
                            </strong>

                        </div>
                        <div class="col-md-6">
                            <em>
                                <label class="form-label">{{this.price}}VND</label>
                            </em>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#detail-service-note-modal"
                            data-first-name="{{this.customerID.firstName}}" data-last-name="{{this.customerID.lastName}}"
                            data-status="{{this.status}}" data-schedule="{{formatDate this.schedule}}"
                            data-service="{{this.service}}" data-price="{{this.price}}" data-create-name="{{this.createName.firstName}}{{this.createName.lastName}}"
                            data-recept="{{this.recept}}" data-performer="{{this.performer}}"
                            >Chi tiết</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- detail-service-note-modal --}}
    <div class="modal fade" id="detail-service-note-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết phiếu dịch vụ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="row">
                            <div class="col-md-6">
                                <strong id="detail-service-note-status" class="form-label text-danger"></strong>
                            </div>

                            <div class="col-md-6">
                                <h5>
                                    <em>
                                        <strong>
                                            <label id="detail-service-note-schedule" class="form-label text-success"></label>
                                        </strong>
                                    </em>
                                </h5>
                            </div>
                        </div>

                        <hr>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Khách hàng: </label>
                                </strong>
                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-name" class="text-primary form-label text-uppercase"></label>
                                </em>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Dịch vụ: </label>
                                </strong>

                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-service" class="form-label"></label>
                                </em>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Thành giá: </label>
                                </strong>

                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-price" class="form-label"></label>
                                </em>
                            </div>
                        </div>

                        <hr>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Nhân viên tạo: </label>
                                </strong>

                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-createName" class="form-label"></label>
                                </em>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Lễ tân:</label>
                                </strong>

                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-reception" class="form-label"></label>
                                </em>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <strong>
                                    <label class="form-label">Bác sĩ: </label>
                                </strong>

                            </div>
                            <div class="col-md-6">
                                <em>
                                    <label id="detail-service-note-doctor" class="form-label"></label>
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/business/business-employ-servicenote.js"></script>
</html>