<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_deleteServiceNote_success}}
    <div class="modal fade" id="messageDeleteServiceNoteSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_deleteServiceNote_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageDeleteServiceNoteSuccess = document.querySelector('#messageDeleteServiceNoteSuccess');
            $(messageDeleteServiceNoteSuccess).modal('show');
        });
    </script>
{{/if}}

{{#if messages_restoreServiceNote_success}}
    <div class="modal fade" id="messageRestoreServiceNoteSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_restoreServiceNote_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageRestoreServiceNoteSuccess = document.querySelector('#messageRestoreServiceNoteSuccess');
            $(messageRestoreServiceNoteSuccess).modal('show');
        });
    </script>
{{/if}}

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
                    <span class="fs-6 text-uppercase">Bảng điều khiển</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
                    </li>
					<li>
                        <a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch vụ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0">
			<div class="ps-0 pe-0">
				<div class="text-center bg-dark">
					<div class="text-light text-uppercase fw-bold pt-2 pb-2">
						{{this.title}}
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<a class="btn btn-danger btn-sm rounded-pill ms-2 mt-2 mb-2" href="/business/employ/service-note/trash">
						Thùng rác <i class="ti-trash"></i>
					</a>
				</div>
			</div>
			<div class="d-flex justify-content-around ms-2">
				<div>
					<label class="fw-bold" for="">1. Cập nhật thông tin khách hàng</label>
					<label class="fw-bold" for="">2. Cập nhật dịch vụ</label>
				</div>
				<div>
					<label class="fw-bold" for="">3. Cập nhật hình ảnh và video tư vấn trực tiếp</label>
					<label class="fw-bold" for="">4. Cập nhật hình ảnh và video trước phẫu thuật</label>
				</div>
				<div>
					<label class="fw-bold" for="">5. Cập nhật hình ảnh và video phẫu thuật</label>
					<label class="fw-bold" for="">6. Cập nhật hình ảnh và video thay băng cắt chỉ</label>
				</div>
			</div>
			<div class="container-fluid">
				<table id="table-service-note-trash" class="table table-sm display">
					<thead>
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">Họ tên khai sinh</th>
							<th scope="col">Tên thường gọi</th>
							<th scope="col">Ngày hẹn</th>
							<th scope="col">Trạng thái</th>
							<th scope="col">Tác vụ đã thực hiện</th>
							<th scope="col">Tác vụ</th>
						</tr>
					</thead>
					<tbody class="">
						{{#each serviceNotes}}
							<tr>
								<th scope="row" class="text-center"><strong>{{sum @index 1}}</strong></th>
								<td class="text-center">{{#each this.scheduleID}}{{this.fullName}}{{/each}}</td>
								<td class="text-center">
									<a href="/business/employ/service-note/{{this._id}}/detail">
									{{#each this.scheduleID}}
										{{this.nickName}}
									{{/each}}
									</a>
								</td>
								<td class="text-center">{{formatDate this.scheduleID.schedule}}</td>
								<td class="text-center">
									{{this.scheduleID.status}}
								</td>
								<td class="text-center">
									<div class="inline">
										<div data-isVisible="{{this.isCustomerInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">1</div>
										<div data-isVisible="{{this.isServiceInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">2</div>
										<div data-isVisible="{{this.isCounselorInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">3</div>
										<div data-isVisible="{{this.isBeforeInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">4</div>
										<div data-isVisible="{{this.isInSurgeryInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">5</div>
										<div data-isVisible="{{this.isAfterInfo}}" class="bg-danger text-light mr-1 w-15 rounded task">6</div>
									</div>
								</td>
								<td>
									<div class="d-flex justify-content-center">
										<div data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật thông tin" class="me-1">
											<a href="/business/employ/service-note/{{this._id}}/update" type="button" class="btn btn-info btn-sm rounded-pill">
												Cập nhật
											</a>
										</div>
										<div data-bs-toggle="tooltip" data-bs-placement="top" title="Chuyển bộ phận" class="me-1">
											<form method="POST" action="/business/employ/service-note/{{this._id}}/done?_method=PATCH">
												<input type="text" name="cusID" value="{{this.scheduleID.cusID._id}}" hidden>
												<button type="submit" class="btn btn-primary btn-sm rounded-pill">
													Chuyển bộ phận
												</button>
											</form>
										</div>
										<div data-bs-toggle="tooltip" data-bs-placement="top" title="Hủy phiếu dịch vụ">
											<button type="button" class="btn btn-danger btn-sm rounded-pill" data-bs-toggle="modal" data-bs-target="#deleteServiceNoteModal" data-service-note-id="{{this._id}}"
											data-customer-fullName="{{this.scheduleID.cusID.fullName}}" data-customer-nickName="{{this.scheduleID.cusID.nickName}}" data-customer-id="{{this.scheduleID.cusID._id}}"
											data-schedule-id="{{this.scheduleID._id}}">
												Xóa
											</button>
										</div>
									</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteServiceNoteModal" tabindex="-1" aria-labelledby="deleteServiceNoteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-light" id="deleteServiceNoteModalLabel">Xóa phiếu dịch vụ</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="deleteServiceNoteForm" method="POST">
					<input id="scheduleID" type="text" name="scheduleID" hidden>
					<input id="customerID" type="text" name="cusID" hidden>
					Bạn chắc chắn muốn hủy phiếu dịch vụ của khách <strong id="service-note-customer"></strong>?
				</form>
			</div>
			<div class="modal-footer">
				<button id="deleteServiceNoteBtn" type="button" class="btn btn-danger">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không, hủy thao tác</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-employ-service-note-list.js"></script>
