<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_createCustomer_success}}
    <div class="modal fade" id="messageCreateCustomerSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_createCustomer_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageCreateCustomerSuccess = document.querySelector('#messageCreateCustomerSuccess');
            $(messageCreateCustomerSuccess).modal('show');
            //const popupTimeout = setTimeout(closePopup, 3000);

            //function closePopup() {
                //$(messageCreateCustomerSuccess).removeClass('show');
            //}
        });
    </script>
{{/if}}
{{#if messages_editCustomer_success}}
	<div class="modal fade" id="messageEditCustomerSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
				<div class="modal-header p-2">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="border border-success border-5 rounded-circle position-relative" style="width: 64px; height: 64px;">
                            <i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                    <p class="text-center mb-0 text-success">{{messages_createCustomer_success}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageEditCustomerSuccess = document.querySelector('#messageEditCustomerSuccess');
            $(messageEditCustomerSuccess).modal('show');
            //const popupTimeout = setTimeout(closePopup, 3000);

            //function closePopup() {
                //$(messageCreateCustomerSuccess).removeClass('show');
            //}
        });
    </script>
{{/if}}
<div class="sticky-top pe-0 ps-0">
    <div class="text-center bg-blue border-bottom">
        <div class="text-light text-uppercase fw-bold pt-2 pb-2">
            {{this.title}}
        </div>
    </div>
</div>
<div class="d-flex">
    {{> page/sidebar/business/employ/sidebar-business-employ-customers}}
    <div class="container-content-scroll" style="width: 100%; height: 92.6vh">
		<div class="redirect-bar d-flex justify-content-between" style="height: 48px;">
			<div></div>
			{{!-- <button type="button" data-bs-toggle="modal" data-bs-target="#create-customer-modal" class="btn btn-sm text-light btn-primary rounded-pill mt-2 ml-2 mb-2 mr-3 border">Tạo khách hàng</button> --}}
			<a href="/business/employ/customers/create" type="button" class="btn btn-sm text-light btn-primary rounded-pill mt-2 ml-2 mb-2 mr-3 border">Tạo khách hàng</a>
		</div>
        <div class="ps-2 pe-2">
            <table id="customerDischargeFromHospital" class="table table-striped table-hover table-sm table-bordered display">
                <thead class="bg-blue">
                    <tr class="text-light">
                        <th class="text-center">#</th>
                        <th class="text-center">Họ tên</th>
                        <th class="text-center">Số điện thoại</th>
                        <th class="text-center">Nguồn</th>
                        <th class="text-center">Ngày tạo</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    {{#each customersDischargeFromHospital}}
                    <tr class="text-dark">
                        <th class="text-center" scope="row">{{sum @index 1}}</th>
                        <td><a class="link-primary" href="/business/employ/customers/{{this._id}}/detail">{{this.nickName}} - {{this.fullName}}</a></td>
                        <td class="text-center">0{{this.phone}}</td>
                        <td class="text-center">{{this.resource}}</td>
                        <td class="text-center">{{formatDate this.createdAt}}</td>
                        <td class="text-center">{{this.statusCus.statusVi}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <ul class="nav nav-pills flex-xl-row flex-lg-row flex-md-row flex-sm-column bg-blue ml-0 sticky-bottom" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/new" class="nav-link text-white">
                    Khách mới
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/potential" class="nav-link text-white">
                    Khách tiềm năng
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/schedule" class="nav-link text-white">
                    Khách đặt lịch
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/discharge-from-hospital" class="nav-link active text-white">
                    Khách xuất viện
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/done" class="nav-link text-white">
                    Khách hoàn thành
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="/business/employ/customers/notok" class="nav-link text-white">
                    Khách tư vấn không thành công
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="/js/business/business-employ-customer-discharge-from-hospital.js"></script>
