<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
{{#if messages_updateCusInfo_success}}
<div class="modal fade" id="messageUpdateCusInfoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_updateCusInfo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageUpdateCusInfoSuccess = document.querySelector('#messageUpdateCusInfoSuccess');
		$(messageUpdateCusInfoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_uploadCounselor_success}}
<div class="modal fade" id="messageUploadCounselorSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_uploadCounselor_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageUploadCounselorSuccess = document.querySelector('#messageUploadCounselorSuccess');
		$(messageUploadCounselorSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_updateService_success}}
<div class="modal fade" id="messageUpdateServiceSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_updateService_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageUpdateServiceSuccess = document.querySelector('#messageUpdateServiceSuccess');
		$(messageUpdateServiceSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deleteService_success}}
<div class="modal fade" id="messageDeleteServiceSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deleteService_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeleteServiceSuccess = document.querySelector('#messageDeleteServiceSuccess');
		$(messageDeleteServiceSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedCounselorImg_success}}
<div class="modal fade" id="messageDeletedCounselorImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedCounselorImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedCounselorImgSuccess = document.querySelector('#messageDeletedCounselorImgSuccess');
		$(messageDeletedCounselorImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_restoreCounselorImg_success}}
<div class="modal fade" id="messageRestoreCounselorImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_restoreCounselorImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageRestoreCounselorImgSuccess = document.querySelector('#messageRestoreCounselorImgSuccess');
		$(messageRestoreCounselorImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedCounselorVideo_success}}
<div class="modal fade" id="messageDeletedCounselorVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedCounselorVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedCounselorVideoSuccess = document.querySelector('#messageDeletedCounselorVideoSuccess');
		$(messageDeletedCounselorVideoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_restoreCounselorVideo_success}}
<div class="modal fade" id="messageRestoreCounselorVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_restoreCounselorVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageRestoreCounselorVideoSuccess = document.querySelector('#messageRestoreCounselorVideoSuccess');
		$(messageRestoreCounselorVideoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedInSurgeryImg_success}}
<div class="modal fade" id="messageDeletedInSurgeryImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedInSurgeryImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedInSurgeryImgSuccess = document.querySelector('#messageDeletedInSurgeryImgSuccess');
		$(messageDeletedInSurgeryImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedInSurgeryVideo_success}}
<div class="modal fade" id="messageDeletedInSurgeryVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedInSurgeryVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedInSurgeryVideoSuccess = document.querySelector('#messageDeletedInSurgeryVideoSuccess');
		$(messageDeletedInSurgeryVideoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedAfterImg_success}}
<div class="modal fade" id="messageDeletedAfterImgSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedAfterImg_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedAfterImgSuccess = document.querySelector('#messageDeletedAfterImgSuccess');
		$(messageDeletedAfterImgSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_deletedAfterVideo_success}}
<div class="modal fade" id="messageDeletedAfterVideoSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_deletedAfterVideo_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageDeletedAfterVideoSuccess = document.querySelector('#messageDeletedAfterVideoSuccess');
		$(messageDeletedAfterVideoSuccess).modal('show');
	});
</script>
{{/if}}

{{#if messages_editSchedule_success}}
<div class="modal fade" id="messageEditScheduleSuccess" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<div class="modal-header p-2">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center mb-3">
					<div class="border border-success border-5 rounded-circle position-relative"
						style="width: 64px; height: 64px;">
						<i class="ti-check text-success position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</div>
				<p class="text-center mb-0 text-success">{{messages_editSchedule_success}}</p>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var messageEditScheduleSuccess = document.querySelector('#messageEditScheduleSuccess');
		$(messageEditScheduleSuccess).modal('show');
	});
</script>
{{/if}}

<div class="container-fluid overflow-hidden">
	<div class="row vh-100">
		<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
			<div
				class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
				<a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="fs-6 text-uppercase">
						{{!-- <img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp; --}}
						<span class="d-none d-sm-inline">Bảng điều khiển</span>
					</span>
				</a>
				<ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
					id="menu">
					<li class="nav-item">
						<a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
							<i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
						</a>
					</li>
					<li>
						<a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
							<i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
					</li>
					<li>
						<a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
							<i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch
								vụ</span></a>
					</li>
				</ul>
				<div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
					<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						{{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.lastName}}</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col d-flex flex-column h-sm-100 ps-0 pe-0 overflow-auto">
			<div class="text-center bg-dark sticky-top">
				<div class="text-light text-uppercase fw-bold pt-2 pb-2">
					{{this.title}}
				</div>
			</div>
			<div>
				<ul class="list-group mb-3 ms-2 me-2 mt-2 border-black">
					<li class="list-group-item active text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Cập nhật thông tin khách
								hàng</strong></label>
					</li>
					<li class="list-group-item">
						<form method="POST" id="submit-customer-form"
							action="/business/employ/service-note/{{serviceNote._id}}/cus-info?_method=PUT">
							<input class="form-control bg-light" type="text"
								value="{{serviceNote.scheduleID.customerID._id}}" hidden name="cusID">
							<div class="row">
								<div class="col-md-3 form-group">
									<label for="input-identification" class="mb-0">Mã định danh</label>
									<input id="input-identification" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.identification}}" rules="required"
										type="text" name="identification" placeholder="VD: BA...">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-fullname" class="mb-0">Họ tên khai sinh</label>
									<input id="input-fullname" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.fullName}}" rules="required" type="text"
										name="fullName" placeholder="VD: Nguyễn Thị Tuyết Như">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-nickname" class="mb-0">Tên thường gọi</label>
									<input id="input-nickname" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.nickName}}" type="text" name="nickName">
								</div>
								<div class="col-md-3 form-group">
									<label for="input-gender" class="mb-0">Ngày sinh</label>
									<input id="input-gender" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.birth}}" type="date" name="birth">
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 form-group">
									<label for="select-gender" class="mb-0">Giới tính</label>
									<select class="form-select rounded form-control-sm" id="select-gender" name="gender">
										<option class="" selected>{{getGender serviceNote.scheduleID.customerID.gender}}
										</option>
										<option class="" value="Nam">Nam</option>
										<option class="" value="Nữ">Nữ</option>
									</select>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-phone" class="mb-0">Số điện thoại</label>
									<input id="input-phone" class="form-control rounded form-control-sm" type="text"
										value="0{{serviceNote.scheduleID.customerID.phone}}" name="phone">
								</div>
								<div class="col-md-3 form-group">
									<label for="input-home-town" class="mb-0">Quê quán</label>
									<input id="input-home-town" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.homeTown}}" rules="required" type="text"
										name="homeTown" placeholder="VD: TP Hồ Chí Minh">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-height" class="mb-0">Chiều cao</label>
									<input id="input-height" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.height}}" rules="required" type="text"
										name="height" placeholder="VD: 1.70">
									<span class="form-message mt-1"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 form-group">
									<label for="input-weight" class="mb-0">Cân nặng</label>
									<input id="input-weight" class="form-control rounded form-control-sm"
										value="{{serviceNote.scheduleID.customerID.weight}}" rules="required" type="text"
										name="weight" placeholder="VD: 52kg">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-surgeryDay" class="mb-0">Ngày phẩu thuật</label>
									<input id="input-surgeryDay" class="form-control rounded form-control-sm"
										value="{{serviceNote.surgeryDay}}" rules="required" type="datetime-local"
										name="surgeryDay">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-floor" class="mb-0">Khu vực phẩu thuật</label>
									<input id="input-floor" class="form-control rounded form-control-sm"
										value="{{serviceNote.floor}}" rules="required" type="text" name="floor"
										placeholder="VD: Phòng 3 tầng 8">
									<span class="form-message mt-1"></span>
								</div>
								<div class="col-md-3 form-group">
									<label for="input-doctor" class="mb-0">Bác sĩ</label>
									<input id="input-doctor" class="form-control rounded form-control-sm"
										value="{{#each doctor}}{{this.firstName}} {{this.lastName}}{{/each}}" type="text">
									<input type="text" value="{{#each doctor}}{{this._id}}{{/each}}" name="performer"
										hidden>
								</div>
							</div>
							<div class="text-right">
								<button id="submit-customer-form-btn" type="submit"
									class="btn btn-primary rounded-pill border">Cập nhật</button>
							</div>
						</form>
					</li>
				</ul>
				<ul class="list-group mb-3 ms-2 me-2">
					<li class="list-group-item active text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Cập nhật thông tin dịch vụ</strong></label>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="text-right">
								<button id="add-services" class="btn btn-primary border-light mb-2 btn-mobile rounded-pill">
									<i class="ti-plus mr-2"></i>Thêm dịch vụ
								</button>
							</div>
							<div class="col-md-6">
								<ul class="list-group">
									<li class="list-group-item container-content-page">
										<table class="table table-sm">
											<thead class="">
												<tr class="">
													<th scope="col">#</th>
													<th scope="col">Dịch vụ</th>
													<th scope="col">Chi phí</th>
													<th scope="col" class="text-center">Xóa dịch vụ</th>
												</tr>
											</thead>
											<tbody>
												{{#each serviceNote.service}}
												<tr class="table-row">
													<th scope="row">{{sum @index 1}}</th>
													<td>{{this.name}}</td>
													<td>{{this.price}}</td>
													<td class="text-center">
														<button type="button" class="btn btn-danger btn-sm"
															data-bs-toggle="modal" data-bs-target="#deleteService"
															data-service-note-id="{{serviceNote._id}}"
															data-service-id="{{this._id}}"
															data-service-name="{{this.name}}">
															<i class="fa-sharp fa-solid fa-xmark"></i>
														</button>
													</td>
												</tr>
												{{/each}}
											</tbody>
										</table>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<form method="POST" id="submit-service-form"
									action="/business/employ/service-note/{{serviceNote._id}}/service-info?_method=PUT">
									<input type="text" value="{{serviceNote.scheduleID.customerID._id}}" name="cusID"
										hidden>
									<div class="list-group p-0 mb-3">
										<div id="service-container" class="list-group-item container-content-page p-2 ml-0">
										</div>
									</div>
									<div class="form-group">
										<label for="totalServiceCharge" class="mb-0">Tổng phí dịch vụ</label>
										<input id="totalServiceCharge"
											class="form-control text-right text-danger fw-bold bg-white"
											rules="requiredService" type="text" readonly name="totalServiceCharge">
										<span id="messageTotalServiceCharge" class="form-message mt-1"></span>
									</div>
									<div class="mb-2">
										<label for="deposit" class="mb-0">Đặt cọc</label>
										<input id="deposit" class="form-control text-right text-warning fw-bold bg-white"
											type="text" value="{{serviceNote.scheduleID.deposit}}" name="deposit" readonly>
									</div>
									<div class="form-group">
										<label for="discount" class="mb-0">Giảm giá</label>
										<input id="discount" class="form-control text-right text-info fw-bold bg-white"
											value="0" rules="isNumCurrency" name="discount" type="text">
										<span class="form-message mt-1"></span>
									</div>
									<div class="mb-3">
										<label for="amount-to-be-paid" class="mb-0">Số tiền khách thanh toán</label>
										<input id="amount-to-be-paid"
											class="form-control text-right text-danger fw-bold bg-white" type="text"
											readonly name="amountToBePaid" value="0">
									</div>
									<input id="total" class="form-control text-right text-danger fw-bold bg-white"
										type="text" readonly name="total" hidden>
									<div class="text-right mb-3">
										<button id="submit-service-form-btn" type="submit"
											class="btn btn-primary btn-mobile rounded-pill">Cập nhật</button>
									</div>
								</form>
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group mb-2 ms-2 me-2">
					<li class="list-group-item active text-center">
						<label for="" class="ms-3 mb-0 text-uppercase"><strong>Cập nhật thông tin tư vấn trực tiếp</strong></label>
					</li>
					<li class="list-group-item ps-2 pe-2">
						<div class="row mb-2">
							<div class="col-md-6 rounded-pill-left ps-0 pe-0">
								{{!-- <form method="POST" name="deleteImgCounselorForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-counselor?_method=DELETE"> --}}
									{{!-- <div class="mb-2 d-flex justify-content-between">
										<div class="d-flex align-items-center">
											<div class="form-check mr-3">
												<input class="form-check-input" type="checkbox" value="" id="checkboxAllImgCounselor">
												<label class="form-check-label" for="checkboxAllImgCounselor">
													Chọn tất cả
												</label>
											</div>
											<button id="deleteImgCounselorBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
										</div>
									</div> --}}
									<button class="btn btn-danger mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#restoreImgCounselor" aria-expanded="false" aria-controls="restoreImgCounselor">
										<i class="ti-trash"></i> Thùng rác
									</button>
									<div class="collapse mb-2" id="restoreImgCounselor">
										<div class="card card-body">
											<div class="row">
												{{#each serviceNote.counselorImg}}
												{{#if notDeletedYet}}
												{{else}}
												<div class="col-md-4">
													<form method="POST" action="/business/employ/service-note/{{../serviceNote._id}}/restore-img-counselor?_method=PATCH">
													<img class="img-fluid"
														src="/counselor/img/{{this.name}}">
													{{!-- <img class="img-fluid"
														src="{{this.url}}"> --}}
													<button class="btn btn-primary btn-sm w-100 rounded-0">Khôi phục</button>
													<input type="text" value="{{this.name}}" name="imgName" hidden>
													</form>
												</div>
												{{/if}}
												{{/each}}
											</div>
										</div>
									</div>
									<div class="row border overflow-auto rounded-start" style="height: 350px;">
										{{#each serviceNote.counselorImg}}
										{{#if notDeletedYet}}
										<div class="col-md-4 mt-2 mb-2">
											<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalCounselor" data-img="{{this.name}}">
												<img class="img-fluid"
													src="/counselor/img/{{this.name}}">
											</a>
											{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalCounselor" data-img="{{this.url}}">
												<img class="img-fluid"
													src="{{this.url}}">
											</a> --}}
										</div>
										{{/if}}
										{{/each}}
									</div>
								{{!-- </form> --}}
							</div>
							<div class="col-md-6 rounded-pill-right">
								{{!-- <form method="POST" name="deleteImgCounselorForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video"> --}}
									{{!-- <div class="mb-2 d-flex align-items-center">
										<div class="form-check mr-3">
											<input class="form-check-input" type="checkbox" value="" id="checkboxAllVideoCounselor">
											<label class="form-check-label" for="checkboxAllVideoCounselor">
												Chọn tất cả
											</label>
										</div>
										<button  id="deleteVideoCounselorBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
									</div> --}}
									<button class="btn btn-danger mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#restoreVideoCounselor" aria-expanded="false" aria-controls="restoreVideoCounselor">
										<i class="ti-trash"></i> Thùng rác
									</button>
									<div class="collapse mb-2" id="restoreVideoCounselor">
										<div class="card card-body">
											<div class="row">
												{{#each serviceNote.counselorVideo}}
												{{#if notDeletedYet}}
												{{else}}
												<div class="col-md-4">
													<form method="POST" action="/business/employ/service-note/{{../serviceNote._id}}/restore-video-counselor?_method=PATCH">
													<video class="img-fluid"
														src="/counselor/video/{{this.name}}">
													{{!-- <img class="img-fluid"
														src="{{this.url}}"> --}}
													<button class="btn btn-primary btn-sm w-100 rounded-0">Khôi phục</button>
													<input type="text" value="{{this.name}}" name="videoName" hidden>
													</form>
												</div>
												{{/if}}
												{{/each}}
											</div>
										</div>
									</div>
									<div class="row border overflow-auto rounded-end" style="height: 350px;">
										{{#each serviceNote.counselorVideo}}
										{{#if notDeletedYet}}
										<div class="col-md-4 mt-2 mb-2">
											{{!-- <div class="d-flex justify-content-between">
												<div>
													<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.counselorVideo.length}}</span>
												</div>
												<div>
													<input class="form-check-input inputCheckVideoCounselor" type="checkbox" value="" name="videoIDs[]">
												</div>
											</div> --}}
											<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalCounselor" data-video="{{this.name}}">
												<video class="img-fluid"
													src="/counselor/video/{{this.name}}">
											</a>
											{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalCounselor" data-video="{{this.url}}">
												<video class="img-fluid"
													src="{{this.url}}" controls>
											</a> --}}
										</div>
										{{/if}}
										{{/each}}
									</div>
								{{!-- </form> --}}
							</div>
						</div>
						<form method="POST" id="submit-counselor-form"
							action="/business/employ/service-note/{{serviceNote._id}}/operating-counselor"
							enctype="multipart/form-data">
							<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
								name="customerID">
							<div class="row ps-0 pe-0">
								<div class="col-md-6 mb-3 ps-3 pe-4">
									<div class="preview-images-counselor row ml-0 text-center border rounded"
										style="height: 300px; width: auto;"></div>
									<label for="input-multi-images-counselor"
										class="label-avt d-flex justify-content-center mt-3"
										data-input-img-id="{{serviceNote._id}}">
										<h5 id="text-img-counselor"
											class="btn bg-secondary text-light text-uppercase btn-mobile rounded-pill border">
											<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn trực tiếp
										</h5>
									</label>
									<input id="input-multi-images-counselor" class="form-control"
										type="file" name="counselor" hidden multiple>
								</div>
								<div class="col-md-6 mb-3 ps-3 pe-4">
									<div class="preview-videos-counselor row ml-0 text-center border rounded"
										style="height: 300px; width: auto;"></div>
									<label for="input-multi-videos-counselor"
										class="label-avt d-flex justify-content-center mt-3"
										data-input-img-id="{{serviceNote._id}}">
										<h5 id="text-img-counselor"
											class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
											<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn trực tiếp
										</h5>
									</label>
									<input id="input-multi-videos-counselor" class="form-control"
										type="file" name="counselor" hidden multiple>
								</div>
								<div class="">
									<label for="steps-to-take-area"><strong>Thông tin tư
											vấn trực tiếp:</strong></label>
								</div>
								<div class="mb-4">
									<textarea class="form-control mr-3 pl-3 " name="counselorInfo" cols="30"
										rows="8">{{serviceNote.counselorInfo}}</textarea>
								</div>
								<div class="text-right">
									<button id="submit-counselor-form-btn"
										class="btn btn-primary btn-mobile rounded-pill border">Cập
										nhật</button>
								</div>
							</div>
						</form>

						<div class="accordion accordion-flush" id="accordionFlush-{{serviceNote._id}}">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-counselor-{{serviceNote._id}}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#flush-collapse-counselor-{{serviceNote._id}}" aria-expanded="false"
										aria-controls="flush-collapse-counselor-{{serviceNote._id}}">
										Thông tin tư vấn trực tiếp
									</button>
								</h2>
								<div id="flush-collapse-counselor-{{serviceNote._id}}" class="accordion-collapse collapse"
									aria-labelledby="flush-counselor-{{serviceNote._id}}"
									data-bs-parent="#accordionFlush-{{serviceNote._id}}">
									<div class="accordion-body">
										
									</div>
								</div>
							</div>
							{{!-- <div class="accordion-item">
								<h2 class="accordion-header" id="flush-before-{{serviceNote._id}}">
									<button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
										data-bs-target="#flush-collapse-before-{{serviceNote._id}}" aria-expanded="false"
										aria-controls="flush-collapse-before-{{serviceNote._id}}">
										Thông tin tư vấn trực tiếp
									</button>
								</h2>
								<div id="flush-collapse-before-{{serviceNote._id}}" class="accordion-collapse collapse"
									aria-labelledby="flush-before-{{serviceNote._id}}"
									data-bs-parent="#accordionFlush-{{serviceNote._id}}">
									<div class="accordion-body">
										<div class="row mb-2">
											<div class="col-md-6 rounded-pill-left">
												<form method="POST" name="deleteImgBeforeForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-before?_method=DELETE">
													<div class="mb-2 d-flex justify-content-between">
														<div class="d-flex align-items-center">
															<div class="form-check mr-3">
																<input class="form-check-input" type="checkbox" value="" id="checkboxAllImgBefore">
																<label class="form-check-label" for="checkboxAllImgBefore">
																	Chọn tất cả
																</label>
															</div>
															<button id="deleteImgBeforeBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
														</div>
													</div>
													<div class="row border overflow-auto rounded-start" style="height: 350px;">
														{{#each serviceNote.beforeImg}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															<div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.beforeImg.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckImgBefore" type="checkbox" value="{{this._id}}" name="imgIDs[]">
																</div>
															</div>
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalBefore" data-img="{{this.url}}">
																<img class="img-fluid" src="{{this.url}}">
															</a>
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalBefore" data-img="{{this.name}}">
																<img class="img-fluid" src="/before/img/{{this.name}}">
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												</form>
											</div>
											<div class="col-md-6 rounded-pill-right">
												<form method="POST" name="deleteImgBeforeForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video">
													<div class="mb-2 d-flex align-items-center">
														<div class="form-check mr-3">
															<input class="form-check-input" type="checkbox" value="" id="checkboxAllVideoBefore">
															<label class="form-check-label" for="checkboxAllVideoBefore">
																Chọn tất cả
															</label>
														</div>
														<button  id="deleteVideoBeforeBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
													</div>
													<div class="row border overflow-auto rounded-end" style="height: 350px;">
														{{#each serviceNote.beforeVideo}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															<div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.beforeVideo.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckVideoBefore" type="checkbox" value="" name="videoIDs[]">
																</div>
															</div>
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalBefore" data-video="{{this.url}}">
																<video class="img-fluid" src="{{this.url}}" controls>
															</a>
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalBefore" data-video="{{this.name}}">
																<video class="img-fluid" src="/before/video/{{this.name}}" controls>
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												</form>
											</div>
										</div>
										<form method="POST" id="submit-before-form"
											action="/business/employ/service-note/{{serviceNote._id}}/operating-before"
											enctype="multipart/form-data">
											<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
												name="customerID">
											<div class="row">
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-images-before row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-images-before"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-before"
															class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh tư vấn trực tiếp
														</h5>
													</label>
													<input id="input-multi-images-before" class="form-control" type="file"
														name="before" hidden multiple>
												</div>
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-videos-before row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-videos-before"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-before"
															class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video tư vấn trực tiếp
														</h5>
													</label>
													<input id="input-multi-videos-before" class="form-control" type="file"
														name="before" hidden multiple>
												</div>
												<div class="">
													<label for="steps-to-take-area"><strong>Ghi chú tư vấn trực tiếp:</strong></label>
												</div>
												<div class="mb-4">
													<textarea style="width: inherit;" class="form-control mr-3 pl-3 "
														name="beforeInfo" cols="30"
														rows="8">{{serviceNote.beforeInfo}}</textarea>
												</div>
												<div class="text-right">
													<button id="submit-before-form-btn"
														class="btn btn-primary btn-mobile rounded-pill border">Cập
														nhật</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div> --}}
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-in-{{serviceNote._id}}">
									<button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
										data-bs-target="#flush-collapse-in-{{serviceNote._id}}" aria-expanded="false"
										aria-controls="flush-collapse-in-{{serviceNote._id}}">
										Thông tin phẫu thuật
									</button>
								</h2>
								<div id="flush-collapse-in-{{serviceNote._id}}" class="accordion-collapse collapse"
									aria-labelledby="flush-in-{{serviceNote._id}}"
									data-bs-parent="#accordionFlush-{{serviceNote._id}}">
									<div class="accordion-body">
										<div class="row mb-2">
											<div class="col-md-6 rounded-pill-left">
												{{!-- <form method="POST" name="deleteImgInSurgeryForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-in-surgery?_method=DELETE"> --}}
													{{!-- <div class="mb-2 d-flex justify-content-between">
														<div class="d-flex align-items-center">
															<div class="form-check mr-3">
																<input class="form-check-input" type="checkbox" value="" id="checkboxAllImgInSurgery">
																<label class="form-check-label" for="checkboxAllImgInSurgery">
																	Chọn tất cả
																</label>
															</div>
															<button id="deleteImgInSurgeryBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
														</div>
													</div> --}}
													<div class="row border overflow-auto rounded-start" style="height: 350px;">
														{{#each serviceNote.inSurgeryImg}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															{{!-- <div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.inSurgeryImg.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckImgInSurgery" type="checkbox" value="{{this._id}}" name="imgIDs[]">
																</div>
															</div> --}}
															{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalInSurgery" data-img="{{this.url}}">
																<img class="img-fluid" src="{{this.url}}">
															</a> --}}
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalInSurgery" data-img="{{this.name}}">
																<img class="img-fluid" src="/in-surgery/img/{{this.name}}">
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												{{!-- </form> --}}
											</div>
											<div class="col-md-6 rounded-pill-right">
												{{!-- <form method="POST" name="deleteVideoInSurgeryForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video"> --}}
													{{!-- <div class="mb-2 d-flex align-items-center">
														<div class="form-check mr-3">
															<input class="form-check-input" type="checkbox" value="" id="checkboxAllVideoInSurgery">
															<label class="form-check-label" for="checkboxAllVideoInSurgery">
																Chọn tất cả
															</label>
														</div>
														<button  id="deleteVideoInSurgeryBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
													</div> --}}
													<div class="row border overflow-auto rounded-end" style="height: 350px;">
														{{#each serviceNote.inSurgeryVideo}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															{{!-- <div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.inSurgeryVideo.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckVideoInSurgery" type="checkbox" value="" name="videoIDs[]">
																</div>
															</div> --}}
															{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalInSurgery" data-video="{{this.url}}">
																<video class="img-fluid" src="{{this.url}}" controls>
															</a> --}}
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalInSurgery" data-video="{{this.name}}">
																<video class="img-fluid" src="/in-surgery/video/{{this.name}}">
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												{{!-- </form> --}}
											</div>
										</div>
										<form method="POST" id="submit-inSurgery-form"
											action="/business/employ/service-note/{{serviceNote._id}}/operating-in-surgery"
											enctype="multipart/form-data">
											<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
												name="customerID">
											<div class="row">
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-images-in-surgery row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-images-in-surgery"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-in-surgery"
															class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh phẩu thuật
														</h5>
													</label>
													<input id="input-multi-images-in-surgery" class="form-control"
														type="file" name="inSurgery" hidden multiple>
												</div>
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-videos-in-surgery row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-videos-in-surgery"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-in-surgery"
															class="btn bg-secondary text-uppercase text-light btn-mobile rounded-pill border">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video phẩu thuật
														</h5>
													</label>
													<input id="input-multi-videos-in-surgery" class="form-control"
														type="file" name="inSurgery" hidden multiple>
												</div>
												<div class="">
													<label for="steps-to-take-area"><strong>Các bước thực
															hiện:</strong></label>
												</div>
												<div class="mb-4">
													<textarea class="form-control mr-3 pl-3 " name="stepsToTake" cols="30"
														rows="8">{{serviceNote.stepsToTake}}</textarea>
												</div>
												<div class="text-right">
													<button id="submit-in-surgery-form-btn"
														class="btn btn-primary btn-mobile rounded-pill border">Cập
														nhật</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-after-{{serviceNote._id}}">
									<button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
										data-bs-target="#flush-collapse-after-{{serviceNote._id}}" aria-expanded="false"
										aria-controls="flush-collapse-after-{{serviceNote._id}}">
										Thông tin thay băng cắt chỉ
									</button>
								</h2>
								<div id="flush-collapse-after-{{serviceNote._id}}" class="accordion-collapse collapse"
									aria-labelledby="flush-after-{{serviceNote._id}}"
									data-bs-parent="#accordionFlush-{{serviceNote._id}}">
									<div class="accordion-body">
										<div class="row mb-2">
											<div class="col-md-6 rounded-pill-left">
												{{!-- <form method="POST" name="deleteImgAfterForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-after?_method=DELETE"> --}}
													{{!-- <div class="mb-2 d-flex justify-content-between">
														<div class="d-flex align-items-center">
															<div class="form-check mr-3">
																<input class="form-check-input" type="checkbox" value="" id="checkboxAllImgAfter">
																<label class="form-check-label" for="checkboxAllImgAfter">
																	Chọn tất cả
																</label>
															</div>
															<button id="deleteImgAfterBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
														</div>
													</div> --}}
													<div class="row border overflow-auto rounded-start" style="height: 350px;">
														{{#each serviceNote.afterImg}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															{{!-- <div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.afterImg.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckImgAfter" type="checkbox" value="{{this._id}}" name="imgIDs[]">
																</div>
															</div> --}}
															{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalAfter" data-img="{{this.url}}">
																<img class="img-fluid" src="{{this.url}}">
															</a> --}}
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalAfter" data-img="{{this.name}}">
																<img class="img-fluid" src="/after/img/{{this.name}}">
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												{{!-- </form> --}}
											</div>
											<div class="col-md-6 rounded-pill-right">
												<form method="POST" name="deleteVideoAfterForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video">
													{{!-- <div class="mb-2 d-flex align-items-center">
														<div class="form-check mr-3">
															<input class="form-check-input" type="checkbox" value="" id="checkboxAllVideoAfter">
															<label class="form-check-label" for="checkboxAllVideoAfter">
																Chọn tất cả
															</label>
														</div>
														<button  id="deleteVideoAfterBtn" class="btn btn-danger btn-sm disabled">Xóa</button>
													</div> --}}
													<div class="row border overflow-auto rounded-end" style="height: 350px;">
														{{#each serviceNote.afterVideo}}
														{{#if notDeletedYet}}
														<div class="col-md-4 mt-2 mb-2">
															{{!-- <div class="d-flex justify-content-between">
																<div>
																	<span class="badge bg-danger">{{sum @index 1}} / {{../serviceNote.afterVideo.length}}</span>
																</div>
																<div>
																	<input class="form-check-input inputCheckVideoAfter" type="checkbox" value="" name="videoIDs[]">
																</div>
															</div> --}}
															{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalAfter" data-video="{{this.url}}">
																<video class="img-fluid" src="{{this.url}}">
															</a> --}}
															<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalAfter" data-video="{{this.name}}">
																<video class="img-fluid" src="/after/video/{{this.name}}">
															</a>
														</div>
														{{/if}}
														{{/each}}
													</div>
												</form>
											</div>
										</div>
										<form method="POST" id="submit-after-form"
											action="/business/employ/service-note/{{serviceNote._id}}/operating-after"
											enctype="multipart/form-data">
											<input hidden type="text" value="{{serviceNote.scheduleID.customerID._id}}"
												name="customerID">
											<div class="row">
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-images-after row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-images-after"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-after"
															class="btn bg-secondary text-uppercase text-light btn-mobile border rounded-pill">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn ảnh thay băng cắt chỉ
														</h5>
													</label>
													<input id="input-multi-images-after" class="form-control" type="file"
														name="after" hidden multiple>
												</div>
												<div class="col-md-6 mb-3 ps-3 pe-4">
													<div class="preview-videos-after row ml-0 text-center border rounded"
														style="height: 300px; width: auto;"></div>
													<label for="input-multi-videos-after"
														class="label-avt d-flex justify-content-center mt-3"
														data-input-img-id="{{serviceNote._id}}">
														<h5 id="text-img-after"
															class="btn bg-secondary text-uppercase text-light btn-mobile border rounded-pill">
															<i class="ti-cloud-up fw-bold pr-3"></i>Chọn video thay băng cắt chỉ
														</h5>
													</label>
													<input id="input-multi-videos-after" class="form-control" type="file"
														name="after" hidden multiple>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label for="steps-to-take-area"><strong>Tình trạng khách
															hàng:</strong></label>
													<div class="mb-4">
														<textarea style="width: 100%;" class="form-control pl-3 "
															name="statusAfterInfo" cols="30"
															rows="8">{{serviceNote.statusAfterInfo}}</textarea>
													</div>
												</div>
												<div class="col-md-4">
													<label for="steps-to-take-area"><strong>Chỉ định bác
															sĩ:</strong></label>
													<div class="mb-4">
														<textarea style="width: 100%;" class="form-control pl-3 "
															name="directedByDoctor" cols="30"
															rows="8">{{serviceNote.directedByDoctor}}</textarea>
													</div>
												</div>
												<div class="col-md-4">
													<div class="">
														<label for="steps-to-take-area"><strong>Các bước thực
																hiện:</strong></label>
													</div>
													<div class="mb-4">
														<textarea style="width: 100%;" class="form-control "
															name="afterInfo" cols="30"
															rows="8">{{serviceNote.afterInfo}}</textarea>
													</div>
												</div>
											</div>
											<div class="text-right">
												<button id="submit-after-form-btn"
													class="btn btn-primary btn-mobile rounded-pill border">Cập
													nhật</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title " id="exampleModalLabel">Xóa dịch vụ</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="deleteServiceForm" method="POST"
					action="/business/employ/service-note/service/{{serviceNote._id}}/delete?_method=DELETE">
					<input id="serviceID" type="text" name="serviceID" hidden>
					<input id="customerID" type="text" name="customerID"
						value="{{serviceNote.scheduleID.customerID._id}}" hidden>
					Bạn chắc chắn muốn xóa dịch vụ <strong id="serviceName"></strong>?
				</form>
			</div>
			<div class="modal-footer">
				<button id="deleteServiceBtn" type="button" class="btn btn-danger">Có, chắc chắn</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không, hủy thao tác</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModalCounselor" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="deleteImgCounselorForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-counselor?_method=DELETE">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
						<img id="modal-img-counselor" class="img-thumbnail" alt="...">
						<input id="inputDeleteImageCounselor" type="text" name="imgName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa ảnh</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="modal fade" id="videoModalCounselor" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="deleteVideoCounselorForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video-counselor?_method=DELETE">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-counselor" class="img-thumbnail" alt="..." controls>
					<input id="inputDeleteVideoCounselor" type="text" name="videoName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa video</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="modal fade" id="imageModalBefore" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="deleteImgBeforeForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-before?_method=DELETE">
			<div class="modal-content">
				<div class="modal-body">
					<div class="text-center">
						<img id="modal-img-before" class="img-thumbnail" alt="...">
						<input id="inputDeleteImageBefore" type="text" name="imgName" hidden>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger">Xóa ảnh</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="videoModalBefore" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-before" class="img-thumbnail" alt="..." controls>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="imageModalInSurgery" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="deleteImgInSurgeryForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-in-surgery?_method=DELETE">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-inSurgery" class="img-thumbnail" alt="...">
					<input id="inputDeleteImageInSurgery" type="text" name="imgName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa ảnh</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="modal fade" id="videoModalInSurgery" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="POST" name="deleteVideoInSurgeryForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video-in-surgery?_method=DELETE">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-inSurgery" class="img-thumbnail" alt="..." controls>
					<input id="inputDeleteVideoInSurgery" type="text" name="videoName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa video</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="modal fade" id="imageModalAfter" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST" name="deleteImgAfterForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-img-after?_method=DELETE">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-after" class="img-thumbnail" alt="...">
					<input id="inputDeleteImgAfter" type="text" name="imgName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa ảnh</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="videoModalAfter" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST" name="deleteVideoAfterForm" action="/business/employ/service-note/{{serviceNote._id}}/delete-video-after?_method=DELETE">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-after" class="img-thumbnail" alt="..." controls>
					<input id="inputDeleteVideoAfter" type="text" name="videoName" hidden>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger">Xóa video</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>



<script src="/js/business/business-employ-service-note-update.js"></script>

<script>
	validate("#submit-customer-form");
	validate("#submit-service-form");
</script>