<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 text-white text-decoration-none">
					{{!-- <img src="/img/96x96.png" alt="" width="40px;" height="40px;">&nbsp; --}}
					<span class="fs-6 text-uppercase">
						<img src="/img/96x96.png" alt="" width="28px;" height="28px;">&nbsp;
						<span class="d-none d-sm-inline">Bảng điều khiển</span>
					</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/business/employ/schedules" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-receipt mr-3"></i><span class="ms-1 d-none d-sm-inline">Lịch hẹn tư vấn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/employ/customers/new" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-user mr-3"></i><span class="ms-1 d-none d-sm-inline">Khách hàng</span></a>
                    </li>
					<li>
                        <a href="/business/employ/service-note" class="nav-link px-sm-0 px-2 link-light">
                            <i class="ti-clipboard mr-3"></i><span class="ms-1 d-none d-sm-inline">Phiếu dịch vụ</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.image.name}}
						<img src="{{user.image.url}}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        {{else}}
						<img src="/img/user-ray.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
						{{/if}}
						<span class="d-none d-sm-inline mx-1">{{user.firstName}} {{user.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/business/employ/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
							<form method="POST" action="/logout">
								<button class="dropdown-item" type="submit">Đăng xuất</>
							</form>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100 ps-0 pe-0">
			<div class="ps-0 pe-0 sticky-top">
				<div class="d-flex justify-content-between bg-dark">
					<div class="img-container">
						<a type="button" onclick="history.back()">
							<i class="fa-solid fa-circle-arrow-left text-light ms-1 fs-3 mt-1"></i>
						</a>
					</div>
					<div class="text-light text-uppercase fw-bold mt-1">
						{{this.title}}
					</div>
					<div></div>
					{{!-- <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
							class="ti-menu"></i>
					</button> --}}
				</div>
			</div>
			<div class="container-fluid">
				{{#if serviceNote}}
				<div class="card shadow mt-3 mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Mã khách hàng:</strong>
									</label>
									<label class="fs-6 text-right text-danger">
										{{serviceNote.scheduleID.customerID.identification}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Họ tên khai sinh:</strong>
									</label>
									<label class="fs-6 text-right text-primary">
										{{serviceNote.scheduleID.customerID.fullName}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Tên thường gọi:</strong>
									</label>
									<label class="fs-6 text-right">
										{{serviceNote.scheduleID.customerID.nickName}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Giới tính:</strong>
									</label>
									<label class="fs-6 text-right">
										{{serviceNote.scheduleID.customerID.gender}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày sinh:</strong>
									</label>
									<label class="fs-6 text-right">
										{{formatBirth serviceNote.scheduleID.customerID.birth}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Số điện thoại:</strong>
									</label>
									<label class="fs-6 text-right text-danger">
										0{{serviceNote.scheduleID.customerID.phone}}
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Quê quán:</strong>
									</label>
									<label class="fs-6 text-right">
										{{serviceNote.scheduleID.customerID.homeTown}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Chiều cao:</strong>
									</label>
									<label class="">
										<em>{{serviceNote.scheduleID.customerID.height}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Cân nặng:</strong>
									</label>
									<label class="text-right">
										<em>{{serviceNote.scheduleID.customerID.weight}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Nguồn:</strong>
									</label>
									<label class="text-right">
										<em>{{serviceNote.scheduleID.customerID.resource}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Trạng thái:</strong>
									</label>
									<label class="fs-6 text-danger text-right">
										<em>{{serviceNote.status}}</em>
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Nhân viên sale:</strong>
									</label>
									<label class="fs-6 text-danger text-right">
										<em>{{serviceNote.scheduleID.customerID.userID.firstName}} {{serviceNote.scheduleID.customerID.userID.lastName}}</em>
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày hẹn tư vấn:</strong>
									</label>
									<label class="text-right text-success">
										{{formatDate serviceNote.scheduleID.schedule}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Ngày phẩu thuật:</strong>
									</label>
									<label class="text-right text-primary">
										{{formatDate serviceNote.surgeryDay}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Khu vực phẫu thuật:</strong>
									</label>
									<label class="text-right">
										{{serviceNote.floor}}
									</label>
								</div>
								<div class="d-flex justify-content-between">
									<label for="status" class="text-nowrap text-dark">
										<strong>Bác sĩ thực hiện:</strong>
									</label>
									<label class="">
										{{#each serviceNote.performer}}
										<em>{{this.firstName}} {{this.lastName}}</em>
										{{/each}}
									</label>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Dịch vụ đăng ký:</strong>
							</label>
						</div>
						{{#each serviceNote.service}}
						<div class="d-flex justify-content-between border-bottom mb-3">
							<label class="text-dark-yellow">
								<em>{{this.name}}</em>
							</label>
							<label class="text-right">
								<em>{{this.price}}</em>
							</label>
						</div>
						{{/each}}
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Phí dịch vụ tư vấn trực tiếp:</strong>
							</label>
							<label class="text-warning text-right">
								{{serviceNote.totalServiceCharge}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Đặt cọc:</strong>
							</label>
							<label class="text-warning text-right">
								{{serviceNote.deposit}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Giảm giá:</strong>
							</label>
							<label class="text-warning text-right">
								{{serviceNote.discount}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Chi phí khách cần thanh toán:</strong>
							</label>
							<label class="text-warning text-right">
								{{serviceNote.amountToBePaid}}
							</label>
						</div>
						<div class="d-flex justify-content-between">
							<label for="status" class="text-nowrap text-dark">
								<strong>Tổng chi phí:</strong>
							</label>
							<label class="text-danger text-right">
								{{serviceNote.total}}
							</label>
						</div>
						<div class="accordion" id="accordionExample">
							{{!-- <div class="accordion-item">
								<h2 class="accordion-header" id="heading1">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
										Thông tin tư vấn online
									</button>
								</h2>
								<div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="row">
											<div class="col-md-6 rounded-pill-left">
												<div class="row border overflow-auto rounded-start" style="height: 350px;">
													{{#each serviceNote.counselorImg}}
													{{#if notDeletedYet}}
													<div class="col-md-4 mt-2 mb-2">
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalCounselor" data-img="{{this.url}}">
															<img class="img-fluid"
																src="{{this.url}}">
														</a>
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalCounselor" data-img="{{this.name}}">
															<img class="img-fluid"
																src="/counselor/img/{{this.name}}">
														</a>
													</div>
													{{/if}}
													{{/each}}
												</div>
											</div>
											<div class="col-md-6 rounded-pill-right">
												<div class="row border overflow-auto rounded-end" style="height: 350px;">
													{{#each serviceNote.counselorVideo}}
													<div class="col-md-4 mt-2 mb-2">
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalCounselor" data-video="{{this.url}}">
															<video class="img-fluid"
																src="{{this.url}}" controls>
														</a>
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalCounselor" data-video="{{this.name}}">
															<video class="img-fluid"
																src="/counselor/video/{{this.name}}" controls>
														</a>
													</div>
													{{/each}}
												</div>
											</div>
											<label for="steps-to-take-area"><strong>Ghi chú tư vấn online:</strong></label>
											<textarea class="form-control mr-3 pl-3 bg-transparent" rows="8" disabled>{{serviceNote.counselorInfo}}</textarea>
										</div>
									</div>
								</div>
							</div> --}}
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading2">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
										Thông tin tư vấn trực tiếp
									</button>
								</h2>
								<div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="row">
											<div class="col-md-6 rounded-pill-left">
												<div class="row border overflow-auto rounded-start" style="height: 350px;">
													{{#each serviceNote.beforeImg}}
													{{#if notDeletedYet}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalBefore" data-img="{{this.url}}">
															<img class="img-fluid"
																src="{{this.url}}">
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalBefore" data-img="{{this.name}}">
															<img class="img-fluid"
																src="/before/img/{{this.name}}">
														</a>
													</div>
													{{/if}}
													{{/each}}
												</div>
											</div>
											<div class="col-md-6 rounded-pill-right">
												<div class="row border overflow-auto rounded-end" style="height: 350px;">
													{{#each serviceNote.beforeVideo}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalBefore" data-video="{{this.url}}">
															<video class="img-fluid"
																src="{{this.url}}" controls>
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalBefore" data-video="{{this.name}}">
															<video class="img-fluid"
																src="/before/video/{{this.name}}" controls>
														</a>
													</div>
													{{/each}}
												</div>
											</div>
											<label for="steps-to-take-area"><strong>Ghi chú tư vấn trực tiếp:</strong></label>
											<textarea class="form-control bg-transparent" rows="8" disabled>{{serviceNote.beforeInfo}}</textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading3">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
										Thông tin phẫu thuật
									</button>
								</h2>
								<div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="row">
											<div class="col-md-6 rounded-pill-left">
												<div class="row border overflow-auto rounded-start" style="height: 350px;">
													{{#each serviceNote.inSurgeryImg}}
													{{#if notDeletedYet}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalInSurgery" data-img="{{this.url}}">
															<img class="img-fluid"
																src="{{this.url}}">
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalInSurgery" data-img="{{this.name}}">
															<img class="img-fluid"
																src="/in-surgery/img/{{this.name}}">
														</a>
													</div>
													{{/if}}
													{{/each}}
												</div>
											</div>
											<div class="col-md-6 rounded-pill-right">
												<div class="row border overflow-auto rounded-end" style="height: 350px;">
													{{#each serviceNote.inSurgeryVideo}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalInSurgery" data-video="{{this.url}}">
															<video class="img-fluid"
																src="{{this.url}}" controls>
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalInSurgery" data-video="{{this.name}}">
															<video class="img-fluid"
																src="/in-surgery/video/{{this.name}}" controls>
														</a>
													</div>
													{{/each}}
												</div>
											</div>
											<label for="steps-to-take-area"><strong>Các bước thực
													hiện phẫu thuật:</strong></label>
											<textarea class="form-control bg-transparent" rows="8">{{serviceNote.stepsToTake}}</textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading4">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
										Thông tin thay băng cắt chỉ
									</button>
								</h2>
								<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="row">
											<div class="col-md-6 rounded-pill-left">
												<div class="row border overflow-auto rounded-start" style="height: 350px;">
													{{#each serviceNote.afterImg}}
													{{#if notDeletedYet}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalAfter" data-img="{{this.url}}">
															<img class="img-fluid"
																src="{{this.url}}">
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#imageModalAfter" data-img="{{this.name}}">
															<img class="img-fluid"
																src="/after/img/{{this.name}}">
														</a>
													</div>
													{{/if}}
													{{/each}}
												</div>
											</div>
											<div class="col-md-6 rounded-pill-right">
												<div class="row border overflow-auto rounded-end" style="height: 350px;">
													{{#each serviceNote.afterVideo}}
													<div class="col-md-4 mt-2 mb-2">
														{{!-- <a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalAfter" data-video="{{this.url}}">
															<video class="img-fluid"
																src="{{this.url}}" controls>
														</a> --}}
														<a type="button" class="" data-bs-toggle="modal" data-bs-target="#videoModalAfter" data-video="{{this.name}}">
															<video class="img-fluid"
																src="/after/video/{{this.name}}" controls>
														</a>
													</div>
													{{/each}}
												</div>
											</div>
											<div class="">
												<label for="steps-to-take-area"><strong>Tình trạng khách
														hàng:</strong></label>
												<div class="">
													<textarea class="form-control bg-transparent" rows="8" disabled>{{serviceNote.statusAfterInfo}}</textarea>
												</div>
											</div>
											<div class="">
												<label for="steps-to-take-area"><strong>Chỉ định bác
														sĩ:</strong></label>
												<div class="">
													<textarea class="form-control bg-transparent" rows="8" disabled>{{serviceNote.directedByDoctor}}</textarea>
												</div>
											</div>
											<div class="">
												<div class="">
													<label for="steps-to-take-area"><strong>Các bước thực
															hiện:</strong></label>
												</div>
												<div class="">
													<textarea class="form-control bg-transparent" rows="8" disabled>{{serviceNote.afterInfo}}</textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModalCounselor" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-counselor" class="img-thumbnail" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="videoModalCounselor" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-counselor" class="img-thumbnail" alt="..." controls>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="imageModalBefore" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-before" class="img-thumbnail" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="videoModalBefore" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-before" class="img-thumbnail" alt="..." controls>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="imageModalInSurgery" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-inSurgery" class="img-thumbnail" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="videoModalInSurgery" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-inSurgery" class="img-thumbnail" alt="..." controls>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="imageModalAfter" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<img id="modal-img-after" class="img-thumbnail" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="videoModalAfter" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<video id="modal-video-after" class="img-thumbnail" alt="..." controls>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-employ-service-note-detail.js"></script>