<link rel="stylesheet" href="/css/root.css">
<nav class="navbar navbar-light bg-dark sticky-top">
    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
            class="ti-angle-double-right"></i></button>
    <div class="img-container">
        {{#if admin.image.name}}
        <a class="text-light" href="/admin/profile">{{admin.firstName}} {{admin.lastName}}<img
                class="ml-2 mr-3" src="/img/uploads/users/{{admin.image.name}}" alt=""></a>
        {{else}}
        <a class="text-light" href="/admin/profile">{{admin.firstName}} {{admin.lastName}}<img
                class="ml-2 mr-3" src="/img/user-icon.png" alt=""></a>
        {{/if}}
        <div />
</nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/admin/dashboard" class="sidebar-item-title pl-3">
                <i class="ti-dashboard mr-3"></i>Bao cao thong ke
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/admin/customer" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3 active"></i>Khach hang
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/admin/service-note" class="sidebar-item-title pl-3">
                <i class="ti-cut mr-3"></i>Phieu dich vu
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/admin/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-clipboard mr-3"></i>Phieu tai kham
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/admin/user" class="sidebar-item-title pl-3">
                <i class="ti-headphone-alt mr-3"></i>Nhan vien
            </a>
        </div>
    </div>
</div>