<link rel="stylesheet" href="/css/profile.css">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="title mt-3">
            <a type="button" onclick="history.back()" class="btn btn-primary text-white"><i class="ti-back-left"></i>
                Quay lại</a>
        </div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {{#if user.image.name}}
                <img class="rounded-circle mt-3" width="150px" src="/img/uploads/users/{{user.image.name}}">
                {{else}}
                <img class="rounded-circle mt-3" width="150px" src="/img/user-icon.png">
                {{/if}}
                <span class="font-weight-bold mt-3">{{user.firstName}} {{user.lastName}}</span>
                <span class="text-black-50">{{user.email}}</span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">THÔNG TIN NGƯỜI DÙNG</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Họ tên:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.firstName}} {{user.lastName}}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label>Ngày sinh:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.birth}}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label>Giới tính:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.gender}}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label>Điện thoại:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.phone}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Email:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.email}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Địa chỉ:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.address}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Phòng ban:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.department}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Chức vụ:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.position}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Tài khoản:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.account}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Quyền hạn:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.role}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md">
                        <label for="description">Mô tả:</label>
                        <textarea id="description" class="form-control bg-white" rows="6"
                            readonly>{{user.description}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="/logout">
                        <button href="/logout" class="btn btn-danger " type="submit">Đăng xuất</button>
                    </form>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#change-password-modal"
                        type="submit">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Họ tên:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.firstName}} {{user.lastName}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label>Tài khoản:</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">{{user.account}}</p>
                    </div>
                </div>
                <hr>
                <form method="POST" id="change-password-form">
                    <div class=" mt-2">
                        <label class="form-label">Mật khẩu cũ:</label>
                        <input type="password" name="oldPass" class="form-control" placeholder="*****"></input>
                    </div>
                    <div class=" mt-2">
                        <label class="form-label">Mật khẩu mới:</label>
                        <input type="password" name="newPass" class="form-control" placeholder="*****"></input>
                    </div>
                    <div class=" mt-2">
                        <label class="form-label">Nhập lại mật khẩu mới:</label>
                        <input type="password" name="reNewPass" class="form-control" placeholder="*****"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="change-password-btn">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>
<script>
    var changePassModal = document.getElementById('change-password-modal');
    var changePassForm = document.forms['change-password-form'];
    var changePassBtn = document.getElementById('change-password-btn');

    changePassBtn.addEventListener('click', () => {
        changePassForm.submit();
    })

    changePassModal.addEventListener('show.bs.modal', function(event){
        var button = event.relatedTarget;

        changePassForm.setAttribute('action', `change-password`)
    })
</script>