<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/operating-room/doctor" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Phiếu hoàn thành
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/doctor/service-note" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu phẩu thuật
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/operating-room/doctor/re-examination" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Phiếu tái khám
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/operating-room/doctor/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
</div>
<div class="p-3">
	{{#each serviceNote}}
	<div class="card mb-3">
		<div class="card-header bg-transparent">
			<h5 class="text-uppercase text-center mt-3 mb-3">
				<strong>Phiếu phẩu thuật</strong>
			</h5>
			<ul class="nav nav-pills flex-column flex-sm-row" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-profile-customer-tab-{{this._id}}" data-bs-toggle="pill"
						data-bs-target="#pills-profile-customer-{{this._id}}" type="button" role="tab" aria-controls="pills-home"
						aria-selected="true">Thông tin khách hàng</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-counselor-tab-{{this._id}}" data-bs-toggle="pill"
						data-bs-target="#pills-counselor-{{this._id}}" type="button" role="tab" aria-controls="pills-counselor"
						aria-selected="false">Hình ảnh tư vấn</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-before-tab-{{this._id}}" data-bs-toggle="pill" data-bs-target="#pills-before-{{this._id}}"
						type="button" role="tab" aria-controls="pills-before" aria-selected="false">Hình ảnh trước phẩu</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-after-tab-{{this._id}}" data-bs-toggle="pill" data-bs-target="#pills-after-{{this._id}}"
						type="button" role="tab" aria-controls="pills-after" aria-selected="false">Hình ảnh sau phẩu</button>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content" id="pills-tabContent">
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Ngày hẹn:</strong>&nbsp;
					</label>
					<label class="text-right text-success"><em>{{formatDate this.schedule}}</em></label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Trạng thái:</strong>&nbsp;
					</label>
					<label class="text-danger text-right">
						<em>{{this.status}}</em>
					</label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Khách hàng:</strong>&nbsp;
					</label>
					<label class="text-primary text-right">
						{{this.customerID.firstName}} {{this.customerID.lastName}}
					</label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Lễ tân:</strong>&nbsp;
					</label>
					<label class="text-primary text-right">
						{{this.recept.firstName}} {{this.recept.lastName}}
					</label>
				</div>
				<div class="d-flex justify-content-between justify-content-sm-start">
					<label for="status">
						<strong>Dịch vụ:</strong>&nbsp;
					</label>
					<label class="text-primary text-right">
						{{this.service}}
					</label>
				</div>
				<hr>
				<div class="tab-pane fade show active" id="pills-profile-customer-{{this._id}}" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<form method="POST" id="submit-doctor-form">
						<div class="d-flex justify-content-between justify-content-sm-start">
							<label for="status">
								<strong>Bác sĩ:</strong>&nbsp;
							</label>
							<label class="text-primary">
								{{#each this.performer}}
								<input hidden type="text" name="operatingID[]" value="{{this._id}}">
								<em>{{this.firstName}} {{this.lastName}};</em>
								{{/each}}
							</label>
						</div>
						<div class="d-flex justify-content-between justify-content-sm-start">
							<label for="status">
								<strong>Điều dưỡng:</strong>&nbsp;
							</label>
							<label class="text-primary">
								{{#each this.nursing}}
								<input hidden type="text" name="operatingID[]" value="{{this._id}}">
								<em>{{this.firstName}} {{this.lastName}};</em>
								{{/each}}
							</label>
						</div>
						<div class="row">
							<div class="">
								<label for="steps-to-take-area"><strong>Các bước thực hiện:</strong></label>
							</div>
							<div class="">
								<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" name="stepsToTake" id="steps-to-take-area" cols="30" rows="8"></textarea>
							</div>
						</div>
					</form>

					<div class="row mt-3">
						<div class="">
							<label for="comments"><strong>Ghi chú:</strong></label>
						</div>
						<div class="">
							{{#if this.comments}}
							{{#each this.comments}}
							<textarea style="width: inherit;" class="form-control mr-3 pl-3 bg-white" id="comments" cols="30" rows="8" disabled>{{this.comment}}</textarea>
							{{/each}}
							{{else}}
							<label class="">
								<em>Không có ghi chú</em>
							</label>
							{{/if}}
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-counselor-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="">
						<a data-bs-toggle="collapse" href="#counselor-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="counselor-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="counselor-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.counselorImg}}
									{{#each this.counselorImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/mnt/vdb/crm.drtuananh.vn/counselor/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<a class="mt-3" data-bs-toggle="collapse" href="#counselor-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="counselor-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="counselor-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.counselorVideo}}
									{{#each this.counselorVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/mnt/vdb/crm.drtuananh.vn/counselor/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-before-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="">
						<a class="mt-3" data-bs-toggle="collapse" href="#before-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="before-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="before-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">
									{{#if this.beforeImg}}
									{{#each this.beforeImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/mnt/vdb/crm.drtuananh.vn/before/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<a class="mt-3" data-bs-toggle="collapse" href="#before-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="before-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="before-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.beforeVideo}}
									{{#each this.beforeVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/mnt/vdb/crm.drtuananh.vn/before/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-after-{{this._id}}" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="">
						<a class="mt-3" data-bs-toggle="collapse" href="#after-img-{{this._id}}" role="button" aria-expanded="false" aria-controls="after-img">
							Xem ảnh <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="after-img-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.afterImg}}
									{{#each this.afterImg}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure imgbox">
											<img src="/mnt/vdb/crm.drtuananh.vn/after/img/{{this}}" class="figure-img img-fluid rounded upd-ava" alt="...">
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có hình ảnh
									</p>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<a class="mt-3" data-bs-toggle="collapse" href="#after-video-{{this._id}}" role="button" aria-expanded="false" aria-controls="after-video">
							Xem video <i class="ti-arrow-circle-down"></i>
						</a>
						<div class="collapse mt-3 mb-3" id="after-video-{{this._id}}">
							<div class="card card-body">
								<div class="row">    
									{{#if this.afterVideo}}
									{{#each this.afterVideo}}
									<div class="col-xl-2 col-lg-3 col-md-4">
										<figure class="figure img-container">
											<video src="/mnt/vdb/crm.drtuananh.vn/after/video/{{this}}" class="figure-img img-fluid rounded img-cover" alt="..." controls></video>
										</figure>
									</div>
									{{/each}}
									{{else}}
									<p class="text-center">
										Chưa có video
									</p>
									{{/if}}
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-end mt-3">
				<label for="status">
					<strong>Phí dịch vụ:</strong>&nbsp;
				</label>
				<label class="text-danger text-right">
					{{this.price}} VND
				</label>
			</div>
		</div>
	</div>
	{{else}}
	<div class="text-center">
		Chưa có phiếu phẩu thuật
	</div>
	{{/each}}
</div>