<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/assistant.css">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark border-bottom">
        <h5 class="offcanvas-title text-white" id="offcanvasWithBackdropLabel">BẢNG ĐIỀU KHIỂN</h5>
        <button type="button" class="btn-close text-reset btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body container-sidebar bg-dark">
        <div class="sidebar-item">
            <a href="/human-resources/manager" class="sidebar-item-title pl-3">
                <i class="ti-receipt mr-3"></i>Nhân sự
            </a>
        </div>
		<div class="sidebar-item">
            <a href="/business/employ/customers" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Khách hàng
            </a>
        </div>
    </div>
	<div class="offcanvas-footer bg-dark border-top">
        <div class="sidebar-item">
            <a href="/business/employ/profile" class="sidebar-item-title pl-3">
                <i class="ti-user mr-3"></i>Thông tin người dùng
            </a>
        </div>
		<div class="sidebar-item">
			<form method="POST" action="/logout">
				<button href="/logout" class="btn btn-danger logout-btn" type="submit">Đăng xuất</>
			</form>
		</div>
    </div>
</div>
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
        <div class="img-container">
        </div>
        <div class="text-light text-uppercase fw-bold">
            {{this.title}}
        </div>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                class="ti-menu"></i>
        </button>
    </nav>
	<div class="redirect-bar bg-primary d-flex justify-content-between">
		<a class="ml-3 text-light" type="button" onclick="history.back()"><i class="ti-arrow-left"></i> Quay lại</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3 mt-3 text-center">
			<img src="/img/uploads/users/{{user1.image.name}}" id="add-avt" class="rounded mx-auto d-block add-avata"
				alt="...">
		</div>
		<div class="col-md-9">
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Họ tên:</strong>&nbsp;
				</label>
				<label class="text-right text-primary text-uppercase">{{user1.firstName}} {{user1.lastName}}</label>
			</div>
			<hr>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Ngày sinh:</strong>&nbsp;
				</label>
				<label class="text-right text-primary text-uppercase">{{formatBirth user1.birth}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Giới tính:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.gender}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Email:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.email}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Số điện thoại:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.phone}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Địa chỉ:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.address}}</label>
			</div>
			<hr>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Account:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.account}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Phòng ban:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.department}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Vị trí:</strong>&nbsp;
				</label>
				<label class="text-right text-primary">{{user1.position}}</label>
			</div>
			<div class="d-flex justify-content-between justify-content-sm-start mt-3">
				<label for="status">
					<strong>Mô tả:</strong>&nbsp;
				</label>
			</div>
			<textarea class="form-control mb-3" rows="6">{{user1.description}}</textarea>
		</div>
	</div>
</div>