<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<h3 class="title text-light">Thông tin nhân sự</h3>
</nav>
{{> page/sidebar/human-resource/manager/sidebar-hr-manager-user-detail}}
{{!-- <div class="sub-nav-mobile bg-info d-flex justify-content-end">
	<div class="btn btn-primary"><i class="ti-plus"></i></div>
</div> --}}
<div class="container-fluid ">
	<div class="row mt-4">
		<div class="col-xl-4">
			<img src="/img/uploads/users/{{user1.image.name}}" id="add-avt" class="rounded mx-auto d-block add-avata"
				alt="...">
		</div>
		<div class="col-xl-8">

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="name">Họ tên:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label class="text-uppercase text-danger" readonly>{{user1.firstName}}
							{{user1.lastName}}</label>
					</em>
				</div>
			</div>

			<hr>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="birth">Ngày sinh:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="birth" name="birth" readonly>{{formatBirth
							user1.birth}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="gender">Giới tính:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="gender" name="gender" readonly>{{user1.gender}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="email">Email address:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="email" name="email" readonly>{{user1.email}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="phone">Số điện thoại:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="phone" name="phone" readonly>{{user1.phone}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="address">Địa chỉ:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="address" name="address" readonly>{{user1.address}}</label>
					</em>
				</div>

			</div>

			<hr>
			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="account">Account:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="account" name="account" readonly>{{user1.account}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="department">Phòng ban:</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="department" name="department" readonly>{{user1.department}}</label>
					</em>
				</div>
			</div>

			<div class=" mb-3 row">
				<div class="col-sm-6">
					<strong>
						<label for="position">Vị trí</label>
					</strong>
				</div>
				<div class="col-sm-6 ">
					<em>
						<label id="position" name="position" readonly>{{user1.position}}</label>
					</em>
				</div>

			</div>

			<div class="mb-3">
				<strong>
					<label for="description">Mô tả</label>
				</strong>
				<textarea id="detail-description" class="form-control" style="background-color: white;"
					disabled>{{user1.description}}</textarea>
			</div>
		</div>
	</div>

</div>